{
    "agentid": "sqlhistorian-sqlite",
    "identity": "platform.historian",
    "connection": {
        "type": "sqlite",
        "params": {
            "database": "/home/volttron/logs/building1_tns.sqlite"
        }
    },
    "capture_device_data": true,
    "capture_analysis_data": false,
    "capture_log_data": false,
    "capture_record_data": false,
    "custom_topics": {
        "other_topic": ["tnc"]
    }
}
