{
    "destination-address": "https://172.28.5.1:8441",
    # "destination-vip": "tcp://127.0.0.1:23918",
    # "destination-serverkey": "rufRy7PYYvvo0v5WNPlmwtP04A8ZUEanJEAbrUhdnlk",
    "custom_topic_list": [
        "tnc/campus/BUILDING1"
    ],
    "capture_device_data": false,
    "capture_log_data": false,
    "capture_record_data": false,
    "capture_analysis_data": false
}
