{
    "destination-address": "https://172.28.5.4:8444",
    # "destination-vip": "tcp://127.0.0.1:23916",
    # "destination-serverkey": "Qp3tMqbbQtgBY56QnrF41oyC0cdbv5LmAlBntDD42xk",
    "custom_topic_list": [
        "tnc/campus/BRSW"
    ],
    "capture_device_data": false,
    "capture_log_data": false,
    "capture_record_data": false,
    "capture_analysis_data": false
}
