{
    "destination-address": "http://172.28.5.3:8443",
    # "destination-vip": "tcp://127.0.0.1:23919",
    # "destination-serverkey": "wWa-wlKwmDEubppv8ds80Sr5qFZeRIX5see6GTXfXlQ",
    "custom_topic_list": [
        "tnc/campus/LargeOffice"
    ],
    "capture_device_data": false,
    "capture_log_data": false,
    "capture_record_data": false,
    "capture_analysis_data": false
}
