{
    "destination-address": "https://172.28.5.2:8442",
    # "destination-vip": "tcp://127.0.0.1:23917",
    # "destination-serverkey": "xIV0-AuQq3sRNZPx8FfCFKOAaJUMaLfOselfr7IbHQs",
    "custom_topic_list": [
        "tnc/campus/SMALL_OFFICE"
    ],
    "capture_device_data": false,
    "capture_log_data": false,
    "capture_record_data": false,
    "capture_analysis_data": false
}
