{
    "agentid": "sqlhistorian-sqlite",
    "connection": {
        "type": "sqlite",
        "params": {
            "database": "~/volttron/log/tns.sqlite"
        }
    },
    "capture_device_data": false,
    "capture_analysis_data": false,
    "capture_log_data": false,
    "capture_record_data": false,
    "custom_topics": {
        "other_topic": ["tnc"]
    }
}
