{
  "agentid": "cor_agent",
  "name": "City_Of_Richland",

  "market_cycle_in_min": 60,
  "duality_gap_threshold": 0.15,
  "supplier_loss_factor": 0.01,
  "ts_name": "Date",
  "weather_forecast": {
      "weather_file": "/code/volttron/volttron/TNS_city_Agent/tns/weather_data/energyplus.csv"
  },
  "simulation": true,
  "demand_threshold_coef": 0.8,
  "monthly_peak_power": 1000000,
  "simulation_start_time": "2017-07-31 00:00:00",
  "simulation_one_hour_in_seconds": 1200
}