{
  "agentid": "pnnl_agent",
  "name": "PNNL_Campus",

  "market_cycle_in_min": 60,
  "market_reservation_in_hours": 1440,
  "buildings": ["SMALL_OFFICE", "BUILDING1", "BRSW", "LargeOffice"], # The names here should match the names in building config files
  "building_powers": {
    "LargeOffice": [0.0, -3500, -1000.0],
    "SMALL_OFFICE": [0.0, -120.0, -45.0],
    "BRSW": [0.0, -120.0, -45.0],
    "SMALL_OFFICE_1": [0.0, -120.0, -45.0],
    "BUILDING1": [0.0, -120.0, -35.0]
  },
  "PV_max_kW": 120.0,
  "demand_threshold_coef": 0.8,
  "monthly_peak_power": 4375,

  # For transmission loss
  "city_loss_factor": 0.02,
  "duality_gap_threshold": 0.15,
  "power_topic": "devices/PNNL/BRSW/METERS/WholeBuildingPower",
  "ts_name": "Date",
  "weather_forecast": {
      "weather_file": "/code/volttron/volttron/TNS_campus_Agent/tns/weather_data/energyplus.csv"
  },
  "simulation": true,
  "simulation_start_time": "2017-07-31 00:00:00",
  "simulation_one_hour_in_seconds": 1200
}