{
  "agentid": "LargeOffice_agent",
  "name": "LargeOffice",

  "market_cycle_in_min": 60,

  "duality_gap_threshold": 0.1,
  "max_deliver_capacity": 5000,
  "demand_threshold_coef": 1.0,
  "monthly_peak_power": 1600.0,
  "campus_loss_factor": 0.01,
  "power_topic": "devices/PNNL/LargeOffice/METERS/all",
  "ts_name": "Date",
  "weather_forecast": {
      "weather_file": "/home/volttron/volttron/volttron/TNS_building_Agent/tns/weather_data/energyplus.csv"
  },
  "simulation": true,
  "simulation_start_time": "2018-08-01 00:00:00",
  "simulation_one_hour_in_seconds": 1200
}
