{
	"market_name": "electric",
	"campus": "PNNL",
    "building": "LargeOffice",
	"agent_name": "uncontrol",
	"devices": {
        "LIGHTING/Basement": {
            "points": ["Power"],
            "conversion": "Power/1000.0"
        },
        "LIGHTING/Core_bottom": {
            "points": ["Power"],
            "conversion": "Power/1000.0"
        },
        "LIGHTING/Core_mid": {
            "points": ["Power"],
            "conversion": "Power/1000.0"
        },
        "LIGHTING/Core_top": {
            "points": ["Power"],
            "conversion": "Power/1000.0"
        },
        "LIGHTING/Perimeter_bot_ZN_1": {
            "points": ["Power"],
            "conversion": "Power/1000.0"
        },
        "LIGHTING/Perimeter_bot_ZN_2": {
            "points": ["Power"],
            "conversion": "Power/1000.0"
        },
        "LIGHTING/Perimeter_bot_ZN_3": {
            "points": ["Power"],
            "conversion": "Power/1000.0"
        },
        "LIGHTING/Perimeter_bot_ZN_4": {
            "points": ["Power"],
            "conversion": "Power/1000.0"
        },
        "LIGHTING/Perimeter_mid_ZN_1": {
            "points": ["Power"],
            "conversion": "Power/1000.0"
        },
        "LIGHTING/Perimeter_mid_ZN_2": {
            "points": ["Power"],
            "conversion": "Power/1000.0"
        },
        "LIGHTING/Perimeter_mid_ZN_3": {
            "points": ["Power"],
            "conversion": "Power/1000.0"
        },
        "LIGHTING/Perimeter_mid_ZN_4": {
            "points": ["Power"],
            "conversion": "Power/1000.0"
        },
        "LIGHTING/Perimeter_top_ZN_1": {
            "points": ["Power"],
            "conversion": "Power/1000.0"
        },
        "LIGHTING/Perimeter_top_ZN_2": {
            "points": ["Power"],
            "conversion": "Power/1000.0"
        },
        "LIGHTING/Perimeter_top_ZN_3": {
            "points": ["Power"],
            "conversion": "Power/1000.0"
        },
        "LIGHTING/Perimeter_top_ZN_4": {
            "points": ["Power"],
            "conversion": "Power/1000.0"
        },
        "AHU1": {
            "points": ["SupplyFanPower"],
            "conversion": "SupplyFanPower/1000.0"
        },
        "AHU2": {
            "points": ["SupplyFanPower"],
            "conversion": "SupplyFanPower/1000.0"
        },
        "AHU3": {
            "points": ["SupplyFanPower"],
            "conversion": "SupplyFanPower/1000.0"
        },
        "AHU4": {
            "points": ["SupplyFanPower"],
            "conversion": "SupplyFanPower/1000.0"
        },
        "Chiller1": {
            "points": ["Power"],
            "conversion": "Power/(1000.0)"
        },
        "Chiller2": {
            "points": ["Power"],
            "conversion": "Power/(1000.0)"
        },
		"METERS": {
			"points": ["WholeBuildingPower"],
			"conversion": "WholeBuildingPower*(-0.001)"
		}

	},
    "power_20": 910.92720999999995, 
    "power_21": 620.0424549999999, 
    "power_22": 463.91088619999999, 
    "power_23": 354.8858176, 
    "power_5": 383.05938989999999, 
    "power_4": 341.89288340000002, 
    "power_7": 1046.510896, 
    "power_6": 793.5936805, 
    "power_1": 407.73100620000002, 
    "power_0": 285.74411989999999, 
    "power_3": 297.9663372, 
    "power_2": 285.74414289999999, 
    "power_9": 1002.4691770000001, 
    "power_8": 1040.259965, 
    "power_11": 973.61131440000008, 
    "power_10": 1023.4367090000001, 
    "power_13": 1054.2777890000002, 
    "power_12": 1045.760123, 
    "power_15": 1121.4733550000001, 
    "power_14": 1057.4063470000001, 
    "power_17": 1004.74153, 
    "power_16": 1112.1835679999999, 
    "power_19": 900.16603769999995, 
    "power_18": 967.11965269999996
}