[submodule "volttron-GS"]
	path = volttron-GS
	url = https://github.com/bonicim/volttron-GS.git # temporary until required changes merged into main at volttron-GS
	branch = dk-compose

[submodule "volttron"]
	path = volttron
	url = https://github.com/volttron/volttron
	branch = releases/8.x



