{
  "agentid": "SMALL_OFFICE_agent",
  "name": "SMALL_OFFICE",

  "market_cycle_in_min": 60,

  "duality_gap_threshold": 0.1,
  "max_deliver_capacity": 120,
  "demand_threshold_coef": 1.0,
  "monthly_peak_power": 55.0,
  "campus_loss_factor": 0.001,
  "power_topic": "devices/PNNL/SMALL_OFFICE/METERS/all",

  "ts_name": "Date",
  "weather_forecast": {
      "weather_file": "/code/volttron/volttron/TNS_building_Agent/tns/weather_data/energyplus.csv"
  },
  "simulation": true,
  "simulation_start_time": "2018-08-01 00:00:00",
  "simulation_one_hour_in_seconds": 1200
}