{
    "campus": "PNNL",
    "building": "BRSW",
        "power_meter": {
            "device_topic": "PNNL/BRSW/METERS",
            "point": "WholeBuildingPower"
        },
    "agent_id": "SMALL OFFICE",
    "demand_limit": 45000,
    "simulation_running": true,
    "curtailment_time": 15,
    "curtailment_confirm": 5,
    "curtailment_break": 20,
    "average_building_power_window": 15,

    "stagger_release": true,
    "stagger_off_time": false,
    "application_category": "Load Control",
    "application_name": "Intelligent Load Control",
    "clusters": [ 
        {
            "device_control_file": "/home/volttron/volttron/config/config/brsw/ilc/hp_control.config",
            "device_criteria_file": "/home/volttron/volttron/config/config/brsw/ilc/hp_criteria.config",
            "pairwise_criteria_file": "/home/volttron/volttron/config/config/brsw/ilc/hp_criteria_matrix.json",
            "cluster_priority": 1.0
        }
    ]
 }
