{
    "H1": {
        "H1": {
            "device_topic": "PNNL/BRSW/HP1",
            "zonetemperature-setpoint":{
                "operation": "1/(ZoneTemperature - ZoneCoolingTemperatureSetPoint)",
                "operation_type": "formula",
                "operation_args": {"always": ["ZoneTemperature"], "nc": ["ZoneCoolingTemperatureSetPoint"]},
                "minimum": 0,
                "maximum": 10
            },
            "rated-power": {
                "on_value": 12.0,
                "off_value": 0.0,
                "operation_type": "status",
                "point_name": "FirstStageCooling"
            },
            "room-type": {
                "map_key": "Office",
                "operation_type": "mapper",
                "dict_name": "zone_type"
            },
            "stage": {
                "value": 1.0,
                "operation_type": "constant"
            },
            "history-zonetemperature": {
                "comparison_type": "direct",
                "operation_type": "history",
                "point_name": "ZoneTemperature",
                "previous_time": 15,
                "minimum": 0,
                "maximum": 10
            }
        }
    },
    "H2": {
        "H2": {
            "device_topic": "PNNL/BRSW/HP2",
            "zonetemperature-setpoint":{
                "operation": "1/(ZoneTemperature - ZoneCoolingTemperatureSetPoint)",
                "operation_type": "formula",
                "operation_args": {"always": ["ZoneTemperature"], "nc": ["ZoneCoolingTemperatureSetPoint"]},
                "minimum": 0,
                "maximum": 10
            },
            "rated-power": {
                "on_value": 10.5,
                "off_value": 0.0,
                "operation_type": "status",
                "point_name": "FirstStageCooling"
            },
            "room-type": {
                "map_key": "Private Office",
                "operation_type": "mapper",
                "dict_name": "zone_type"
            },
            "stage": {
                "value": 1.0,
                "operation_type": "constant"
            },
            "history-zonetemperature": {
                "comparison_type": "direct",
                "operation_type": "history",
                "point_name": "ZoneTemperature",
                "previous_time": 15,
                "minimum": 0,
                "maximum": 10
            }
        }
    },
    "H3": {
        "H3": {
            "device_topic": "PNNL/BRSW/HP3",
            "zonetemperature-setpoint":{
                "operation": "1/(ZoneTemperature - ZoneCoolingTemperatureSetPoint)",
                "operation_type": "formula",
                "operation_args": {"always": ["ZoneTemperature"], "nc": ["ZoneCoolingTemperatureSetPoint"]},
                "minimum": 0,
                "maximum": 10
            },
            "rated-power": {
                "on_value": 0.73,
                "off_value": 0.0,
                "operation_type": "status",
                "point_name": "FirstStageCooling"
            },
            "room-type": {
                "map_key": "Private Office",
                "operation_type": "mapper",
                "dict_name": "zone_type"
            },
            "stage": {
                "value": 1.0,
                "operation_type": "constant"
            },
            "history-zonetemperature": {
                "comparison_type": "direct",
                "operation_type": "history",
                "point_name": "ZoneTemperature",
                "previous_time": 15,
                "minimum": 0,
                "maximum": 10
            }
        }
    },
    "H4": {
        "H4": {
            "device_topic": "PNNL/BRSW/HP4",
            "zonetemperature-setpoint":{
                "operation": "1/(HP4_ZoneTemperature - HP4_ZoneCoolingTemperatureSetPoint)",
                "operation_type": "formula",
                "operation_args": {"always": ["ZoneTemperature"], "nc": ["ZoneCoolingTemperatureSetPoint"]},
                "minimum": 0,
                "maximum": 10
            },
            "rated-power": {
                "on_value": 3.78,
                "off_value": 0.0,
                "operation_type": "status",
                "point_name": "FirstStageCooling"
            },
            "room-type": {
                "map_key": "Conference Room",
                "operation_type": "mapper",
                "dict_name": "zone_type"
            },
            "stage": {
                "value": 1.0,
                "operation_type": "constant"
            },
            "history-zonetemperature": {
                "comparison_type": "direct",
                "operation_type": "history",
                "point_name": "ZoneTemperature",
                "previous_time": 15,
                "minimum": 0,
                "maximum": 10
            }
        }
    },
    "H5": {
        "H5": {
            "device_topic": "PNNL/BRSW/HP5",
            "zonetemperature-setpoint":{
                "operation": "1/(ZoneTemperature - ZoneCoolingTemperatureSetPoint)",
                "operation_type": "formula",
                "operation_args": {"always": ["ZoneTemperature"], "nc": ["ZoneCoolingTemperatureSetPoint"]},
                "minimum": 0,
                "maximum": 10
            },
            "rated-power": {
                "on_value": 0.71,
                "off_value": 0.0,
                "operation_type": "status",
                "point_name": "FirstStageCooling"
            },
            "room-type": {
                "map_key": "Private Office",
                "operation_type": "mapper",
                "dict_name": "zone_type"
            },
            "stage": {
                "value": 1.0,
                "operation_type": "constant"
            },
            "history-zonetemperature": {
                "comparison_type": "direct",
                "operation_type": "history",
                "point_name": "ZoneTemperature",
                "previous_time": 15,
                "minimum": 0,
                "maximum": 10
            }
        }
    },
    "mappers": {
        "zone_type": {
            "Private Office": 1,
            "Office": 3,
            "Conference Room": 5,
            "Lobby": 9,
            "Restroom": 9
        }
    }
}
