{
    "GS1": {
        "GS1": {
            "device_topic": "PNNL/SMALL_OFFICE/LIGHTING/GS1",
            "device_status": {
                    "condition": ["DimmingLevelOutput > 0.7"], 
                    "device_status_args": ["DimmingLevelOutput"]
            },
            "curtail_settings": {
                "point": "DimmingLevelOutput",
                "value": 0.7,
                "control_method": "value",
                "load": {
                    "operation": "(DimmingLevelOutput-0.7)*1438.0",
                    "equation_args": ["DimmingLevelOutput"]
                }
            }
        }
    },
    "GE2": {
        "GE2": {
            "device_topic": "PNNL/SMALL_OFFICE/LIGHTING/GE2",
            "device_status": {
                    "condition": ["DimmingLevelOutput > 0.7"], 
                    "device_status_args": ["DimmingLevelOutput"]
            },
            "curtail_settings": {
                "point": "DimmingLevelOutput",
                "value": 0.7,
                "control_method": "value",
                "load": {
                    "operation": "(DimmingLevelOutput-0.7)*1438.0",
                    "equation_args": ["DimmingLevelOutput"]
                }
            }
        }
    },
    "GN3": {
        "GN3": {
            "device_topic": "PNNL/SMALL_OFFICE/LIGHTING/GN3",
            "device_status": {
                    "condition": ["DimmingLevelOutput > 0.7"], 
                    "device_status_args": ["DimmingLevelOutput"]
            },
            "curtail_settings": {
                "point": "DimmingLevelOutput",
                "value": 0.7,
                "control_method": "value",
                "load": {
                    "operation": "(DimmingLevelOutput-0.7)*1438.0",
                    "equation_args": ["DimmingLevelOutput"]
                }
            }
        }
    },
    "GW4": {
        "GW4": {
            "device_topic": "PNNL/SMALL_OFFICE/LIGHTING/GW4",
            "device_status": {
                    "condition": ["DimmingLevelOutput > 0.7"], 
                    "device_status_args": ["DimmingLevelOutput"]
            },
            "curtail_settings": {
                "point": "DimmingLevelOutput",
                "value": 0.7,
                "control_method": "value",
                "load": {
                    "operation": "(DimmingLevelOutput-0.7)*1438.0",
                    "equation_args": ["DimmingLevelOutput"]
                }
            }
        }
    },
    "GC5": {
        "GC5": {
            "device_topic": "PNNL/SMALL_OFFICE/LIGHTING/GC5",
            "device_status": {
                    "condition": ["DimmingLevelOutput > 0.7"], 
                    "device_status_args": ["DimmingLevelOutput"]
            },
            "curtail_settings": {
                "point": "DimmingLevelOutput",
                "value": 0.7,
                "control_method": "value",
                "load": {
                    "operation": "(DimmingLevelOutput-0.7)*7867.0",
                    "equation_args": ["DimmingLevelOutput"]
                }
            }
        }
    },
    "TS11": {
        "TS11": {
            "device_topic": "PNNL/SMALL_OFFICE/LIGHTING/TS11",
            "device_status": {
                    "condition": ["DimmingLevelOutput> 0.7"], 
                    "device_status_args": ["DimmingLevelOutput"]
            },
            "curtail_settings": {
                "point": "DimmingLevelOutput",
                "value": 0.7,
                "control_method": "value",
                "load": {
                    "operation": "(DimmingLevelOutput- 0.7)*1438.0",
                    "equation_args": ["DimmingLevelOutput"]
                }
            }
        }
    },
    "TE12": {
        "TE12": {
            "device_topic": "PNNL/SMALL_OFFICE/LIGHTING/TE12",
            "device_status": {
                    "condition": "DimmingLevelOutput > 0.7", 
                    "device_status_args": ["DimmingLevelOutput"]
            },
            "curtail_settings": {
                "point": "DimmingLevelOutput",
                "value": 0.7,
                "control_method": "value",
                "load": {
                    "operation": "(DimmingLevelOutput-0.7)*1438.0",
                    "equation_args": ["DimmingLevelOutput"]
                }
            }
        }
    },
    "TN13": {
        "TN13": {
            "device_topic": "PNNL/SMALL_OFFICE/LIGHTING/TN13",
            "device_status": {
                    "condition": ["DimmingLevelOutput > 0.7"], 
                    "device_status_args": ["DimmingLevelOutput"]
            },
            "curtail_settings": {
                "point": "DimmingLevelOutput",
                "value": 0.7,
                "control_method": "value",
                "load": {
                    "operation": "(DimmingLevelOutput-0.7)*1438.0",
                    "equation_args": ["DimmingLevelOutput"]
                }
            }
        }
    },
    "TW14": {
        "TW14": {
            "device_topic": "PNNL/SMALL_OFFICE/LIGHTING/TW14",
            "device_status": {
                    "condition": ["DimmingLevelOutput > 0.7"], 
                    "device_status_args": ["DimmingLevelOutput"]
            },
            "curtail_settings": {
                "point": "DimmingLevelOutput",
                "value": 0.7,
                "control_method": "value",
                "load": {
                    "operation": "(DimmingLevelOutput-0.7)*1438.0",
                    "equation_args": ["DimmingLevelOutput"]
                }
            }
        }
    },
    "TC15": {
        "TC15": {
            "device_topic": "PNNL/SMALL_OFFICE/LIGHTING/TC15",
            "device_status": {
                    "condition": ["DimmingLevelOutput > 0.7"], 
                    "device_status_args": ["DimmingLevelOutput"]
            },
            "curtail_settings": {
                "point": "DimmingLevelOutput",
                "value": 0.7,
                "control_method": "value",
                "load": {
                    "operation": "(DimmingLevelOutput-0.7)*7867.0",
                    "equation_args": ["DimmingLevelOutput"]
                }
            }
        }
    }
}

