{
	"properties": {
		"identity": "platform.actuator",
		"model": "~/transactivecontrol/eplus/brsw/BRSW2.idf",
		"weather": "~/transactivecontrol/eplus/USA_WA_Pasco-Tri.Cities.AP.727845_TMY3.epw",
		"bcvtb_home": "~/volttron/bcvtb",
		"size": 40960,
		"startmonth": 8,
		"startday": 2,
		"endmonth": 8,
		"endday": 3,
		"timestep": 60,
		"cosimulation_sync": true,
		"realtime": true,
		"co_sim_timestep": 5
	},
	"cosimulation_advance": "applications/ilc/advance",
	"inputs": {
		"CSP1": {
			"name": "CSP1",
			"type": "schedule",
			"topic": "PNNL/BRSW/HP1",
			"field": "ZoneCoolingTemperatureSetPoint",
			"default": 22.22,
			"rated_power": 24.43,	
			"dynamic_default": 1.0
		},
		"CSP2": {
			"name": "CSP2",
			"type": "schedule",
			"topic": "PNNL/BRSW/HP2",
			"field": "ZoneCoolingTemperatureSetPoint",
			"default": 23.33,
			"rated_power": 21.39,
			"dynamic_default": 1.0
		},
		"CSP3": {
			"name": "CSP3",
			"type": "schedule",
			"topic": "PNNL/BRSW/HP3",
			"field": "ZoneCoolingTemperatureSetPoint",
			"default": 23.33,
			"rated_power": 0.73,
			"dynamic_default": 1.0
		},
		"CSP4": {
			"name": "CSP4",
			"type": "schedule",
			"topic": "PNNL/BRSW/HP4",
			"field": "ZoneCoolingTemperatureSetPoint",
			"default": 24.44,
			"rated_power": 3.78,
			"dynamic_default": 1.0
		},
		"CSP5": {
			"name": "CSP5",
			"type": "schedule",
			"topic": "PNNL/BRSW/HP5",
			"field": "ZoneCoolingTemperatureSetPoint",
			"default": 24.44,
			"rated_power": 0.71,
			"dynamic_default": 1.0
		}

	},
	"outputs": {
		"ENVIRONMENT Site Outdoor Air Drybulb Temperature1": {
			"name": "ENVIRONMENT",
			"type": "Site Outdoor Air Drybulb Temperature",
			"topic": "devices/PNNL/BRSW/HP1/all",
			"field": "OutdoorAirTemperature",
			"meta": {
				"units": "degreesCentigrade",
				"tz": "US/Pacific",
				"type": "float"
			}
		},
		"ENVIRONMENT Site Outdoor Air Drybulb Temperature2": {
			"name": "ENVIRONMENT",
			"type": "Site Outdoor Air Drybulb Temperature",
			"topic": "devices/PNNL/BRSW/HP2/all",
			"field": "OutdoorAirTemperature",
			"meta": {
				"units": "degreesCentigrade",
				"tz": "US/Pacific",
				"type": "float"
			}
		},
		"ENVIRONMENT Site Outdoor Air Drybulb Temperature3": {
			"name": "ENVIRONMENT",
			"type": "Site Outdoor Air Drybulb Temperature",
			"topic": "devices/PNNL/BRSW/HP3/all",
			"field": "OutdoorAirTemperature",
			"meta": {
				"units": "degreesCentigrade",
				"tz": "US/Pacific",
				"type": "float"
			}
		},
		"ENVIRONMENT Site Outdoor Air Drybulb Temperature4": {
			"name": "ENVIRONMENT",
			"type": "Site Outdoor Air Drybulb Temperature",
			"topic": "devices/PNNL/BRSW/HP4/all",
			"field": "OutdoorAirTemperature",
			"meta": {
				"units": "degreesCentigrade",
				"tz": "US/Pacific",
				"type": "float"
			}
		},
		"ENVIRONMENT Site Outdoor Air Drybulb Temperature5": {
			"name": "ENVIRONMENT",
			"type": "Site Outdoor Air Drybulb Temperature",
			"topic": "devices/PNNL/BRSW/HP5/all",
			"field": "OutdoorAirTemperature",
			"meta": {
				"units": "degreesCentigrade",
				"tz": "US/Pacific",
				"type": "float"
			}
		},
		"HVAC Operation Schedule Schedule Value1": {
			"name": "HVAC Operation Schedule",
			"type": "Schedule Value",
			"topic": "devices/PNNL/BRSW/HP1/all",
			"field": "SupplyFanStatus",
			"meta": {
				"units": "binary",
				"tz": "US/Pacific",
				"type": "float"
			}
		},
		"HVAC Operation Schedule Schedule Value2": {
			"name": "HVAC Operation Schedule",
			"type": "Schedule Value",
			"topic": "devices/PNNL/BRSW/HP2/all",
			"field": "SupplyFanStatus",
			"meta": {
				"units": "binary",
				"tz": "US/Pacific",
				"type": "float"
			}
		},
		"HVAC Operation Schedule Schedule Value3": {
			"name": "HVAC Operation Schedule",
			"type": "Schedule Value",
			"topic": "devices/PNNL/BRSW/HP3/all",
			"field": "SupplyFanStatus",
			"meta": {
				"units": "binary",
				"tz": "US/Pacific",
				"type": "float"
			}
		},
		"HVAC Operation Schedule Schedule Value4": {
			"name": "HVAC Operation Schedule",
			"type": "Schedule Value",
			"topic": "devices/PNNL/BRSW/HP4/all",
			"field": "SupplyFanStatus",
			"meta": {
				"units": "binary",
				"tz": "US/Pacific",
				"type": "float"
			}
		},
		"HVAC Operation Schedule Schedule Value5": {
			"name": "HVAC Operation Schedule",
			"type": "Schedule Value",
			"topic": "devices/PNNL/BRSW/HP5/all",
			"field": "SupplyFanStatus",
			"meta": {
				"units": "binary",
				"tz": "US/Pacific",
				"type": "float"
			}
		},
		"Storage Zone Mean Air Temperature": {
			"name": "Storage",
			"type": "Zone Mean Air Temperature",
			"topic": "devices/PNNL/BRSW/HP1/all",
			"field": "ZoneTemperature",
			"meta": {
				"units": "degreesCentigrade",
				"tz": "US/Pacific",
				"type": "float"
			}
		},
		"Warehouse Floor Zone Mean Air Temperature": {
			"name": "Warehouse Floor",
			"type": "Zone Mean Air Temperature",
			"topic": "devices/PNNL/BRSW/HP2/all",
			"field": "ZoneTemperature",
			"meta": {
				"units": "degreesCentigrade",
				"tz": "US/Pacific",
				"type": "float"
			}
		},
		"Bathroom Zone Mean Air Temperature": {
			"name": "Bathroom",
			"type": "Zone Mean Air Temperature",
			"topic": "devices/PNNL/BRSW/HP3/all",
			"field": "ZoneTemperature",
			"meta": {
				"units": "degreesCentigrade",
				"tz": "US/Pacific",
				"type": "float"
			}
		},
		"Office Zone Mean Air Temperature": {
			"name": "Office",
			"type": "Zone Mean Air Temperature",
			"topic": "devices/PNNL/BRSW/HP4/all",
			"field": "ZoneTemperature",
			"meta": {
				"units": "degreesCentigrade",
				"tz": "US/Pacific",
				"type": "float"
			}
		},
		"Lunchroom Zone Mean Air Temperature": {
			"name": "Lunchroom",
			"type": "Zone Mean Air Temperature",
			"topic": "devices/PNNL/BRSW/HP5/all",
			"field": "ZoneTemperature",
			"meta": {
				"units": "degreesCentigrade",
				"tz": "US/Pacific",
				"type": "float"
			}
		},
		"CSP1 Schedule Value": {
			"name": "CSP1",
			"type": "Schedule Value",
			"topic": "devices/PNNL/BRSW/HP1/all",
			"field": "ZoneCoolingTemperatureSetPoint",
			"meta": {
				"units": "degreesCentigrade",
				"tz": "US/Pacific",
				"type": "float"
			}
		},
		"CSP2 Schedule Value": {
			"name": "CSP2",
			"type": "Schedule Value",
			"topic": "devices/PNNL/BRSW/HP2/all",
			"field": "ZoneCoolingTemperatureSetPoint",
			"meta": {
				"units": "degreesCentigrade",
				"tz": "US/Pacific",
				"type": "float"
			}
		},
		"CSP3 Schedule Value": {
			"name": "CSP3",
			"type": "Schedule Value",
			"topic": "devices/PNNL/BRSW/HP3/all",
			"field": "ZoneCoolingTemperatureSetPoint",
			"meta": {
				"units": "degreesCentigrade",
				"tz": "US/Pacific",
				"type": "float"
			}
		},
		"CSP4 Schedule Value": {
			"name": "CSP4",
			"type": "Schedule Value",
			"topic": "devices/PNNL/BRSW/HP4/all",
			"field": "ZoneCoolingTemperatureSetPoint",
			"meta": {
				"units": "degreesCentigrade",
				"tz": "US/Pacific",
				"type": "float"
			}
		},
		"CSP5 Schedule Value": {
			"name": "CSP5",
			"type": "Schedule Value",
			"topic": "devices/PNNL/BRSW/HP5/all",
			"field": "ZoneCoolingTemperatureSetPoint",
			"meta": {
				"units": "degreesCentigrade",
				"tz": "US/Pacific",
				"type": "float"
			}
		},
		"RTU-1 Cooling Coil Cooling Coil Cooling Coil Electric Power": {
			"name": "RTU-1 Cooling Coil",
			"type": "Cooling Coil Electric Power",
			"topic": "devices/PNNL/BRSW/HP1/all",
			"field": "Power",
			"meta": {
				"units": "WATTS",
				"tz": "US/Pacific",
				"type": "float"
			}
		},
		"RTU-2 Cooling Coil Cooling Coil Cooling Coil Electric Power": {
			"name": "RTU-2 Cooling Coil",
			"type": "Cooling Coil Electric Power",
			"topic": "devices/PNNL/BRSW/HP2/all",
			"field": "Power",
			"meta": {
				"units": "WATTS",
				"tz": "US/Pacific",
				"type": "float"
			}
		},
		"RTU-3 Cooling Coil Cooling Coil Cooling Coil Electric Power": {
			"name": "RTU-3 Cooling Coil",
			"type": "Cooling Coil Electric Power",
			"topic": "devices/PNNL/BRSW/HP3/all",
			"field": "Power",
			"meta": {
				"units": "WATTS",
				"tz": "US/Pacific",
				"type": "float"
			}
		},
		"RTU-4 Cooling Coil Cooling Coil Cooling Coil Electric Power": {
			"name": "RTU-4 Cooling Coil",
			"type": "Cooling Coil Electric Power",
			"topic": "devices/PNNL/BRSW/HP4/all",
			"field": "Power",
			"meta": {
				"units": "WATTS",
				"tz": "US/Pacific",
				"type": "float"
			}
		},
		"RTU-5 Cooling Coil Cooling Coil Cooling Coil Electric Power": {
			"name": "RTU-5 Cooling Coil",
			"type": "Cooling Coil Electric Power",
			"topic": "devices/PNNL/BRSW/HP5/all",
			"field": "Power",
			"meta": {
				"units": "WATTS",
				"tz": "US/Pacific",
				"type": "float"
			}
		},
		"Whole Building Power": {
			"name": "Whole Building",
			"type": "Facility Total Electric Demand Power",
			"topic": "devices/PNNL/BRSW/METERS/all",
			"field": "WholeBuildingPower",
			"publish_last": true,
			"meta": {
				"units": "WATTS",
				"tz": "US/Pacific",
				"type": "float"
			}
		},
		"currentMonthV": {
			"name": "EMS",
			"type": "currentMonthV"
		},
		"currentDayOfMonthV": {
			"name": "EMS",
			"type": "currentDayOfMonthV"
		},
		"currentHourV": {
			"name": "EMS",
			"type": "currentHourV"
		},
		"currentMinuteV": {
			"name": "EMS",
			"type": "currentMinuteV"
		},
		"Cycle1 Schedule Value": {
			"name": "Cycle1",
			"type": "Schedule Value",
			"topic": "devices/PNNL/BRSW/HP1/all",
			"field": "FirstStageCooling",
			"meta": {
				"units": "binary",
				"tz": "US/Pacific",
				"type": "float"
			}
		},
		"Cycle2 Schedule Value": {
			"name": "Cycle2",
			"type": "Schedule Value",
			"topic": "devices/PNNL/BRSW/HP2/all",
			"field": "FirstStageCooling",
			"meta": {
				"units": "binary",
				"tz": "US/Pacific",
				"type": "float"
			}
		},
		"Cycle3 Schedule Value": {
			"name": "Cycle3",
			"type": "Schedule Value",
			"topic": "devices/PNNL/BRSW/HP3/all",
			"field": "FirstStageCooling",
			"meta": {
				"units": "binary",
				"tz": "US/Pacific",
				"type": "float"
			}
		},
		"Cycle4 Schedule Value": {
			"name": "Cycle4",
			"type": "Schedule Value",
			"topic": "devices/PNNL/BRSW/HP4/all",
			"field": "FirstStageCooling",
			"meta": {
				"units": "binary",
				"tz": "US/Pacific",
				"type": "float"
			}
		},
		"Cycle5 Schedule Value": {
			"name": "Cycle5",
			"type": "Schedule Value",
			"topic": "devices/PNNL/BRSW/HP5/all",
			"field": "FirstStageCooling",
			"meta": {
				"units": "binary",
				"tz": "US/Pacific",
				"type": "float"
			}
		},
		"Dynamic_HPdefault1": {
			"name": "Cooling Thermostat 1",
			"type": "Schedule Value",
			"default": "CSP1"
		},
		"Dynamic_HPdefault2": {
			"name": "Cooling Thermostat 2",
			"type": "Schedule Value",
			"default": "CSP2"
		},
		"Dynamic_HPdefault3": {
			"name": "Cooling Thermostat 2",
			"type": "Schedule Value",
			"default": "CSP3"
		},
		"Dynamic_HPdefault4": {
			"name": "Cooling Thermostat 3",
			"type": "Schedule Value",
			"default": "CSP4"
		},
		"Dynamic_HPdefault5": {
			"name": "Cooling Thermostat 3",
			"type": "Schedule Value",
			"default": "CSP5"
		},
        "operation": {
			"name": "HVAC Operation Schedule",
			"type": "Schedule Value",
            "field": "operation"
        }
	}
}
