{
    "campus": "PNNL",
    "building": "BRSW",
    "device": "HP1",
    "actuation_enable_topic": "default",
    "input_data_timezone": "UTC",
    "actuation_enabled_onstart": true,
    "control_interval": 50,
    "agent_name": "hp1",
    "inputs": [
        {
            "mapped": "sfs",
            "point": "SupplyFanStatus",
            "topic": "devices/PNNL/BRSW/HP1/all",
            "inital_value": 0
        },
        {
            "mapped": "oat",
            "point": "OutdoorAirTemperature",
            "topic": "devices/PNNL/BRSW/HP1/all",
            "inital_value": 22.22
        },
        {
            "mapped": "zt",
            "point": "ZoneTemperature",
            "topic": "devices/PNNL/BRSW/HP1/all",
            "inital_value": 22.22
        },
        {
            "mapped": "mclg",
            "point": "FirstStageCooling",
            "topic": "devices/PNNL/BRSW/HP1/all",
            "inital_value": 0
        }
    ],
    "outputs": [
        {
            "mapped": "csp",
            "point": "ZoneCoolingTemperatureSetPoint",
            "topic": "PNNL/BRSW/HP1/ZoneCoolingTemperatureSetPoint",
            "flexibility_range": [1.0, 0], # run time fraction at low price to high price
            "control_flexibility": [
                21.22,
                23.22
            ],
            "off_setpoint": 26.7,
            "actuator": "platform.actuator",
            "release": "None",
            "offset": 0,
            "fallback": 22.2
        }
    ],
    "schedule": {
        "Monday": {
            "start": "6:00",
            "end": "18:00"
        },
        "Tuesday": {
            "start": "6:00",
            "end": "18:00"
        },
        "Wednesday": {
            "start": "6:00",
            "end": "18:00"
        },
        "Thursday": {
            "start": "6:00",
            "end": "18:00"
        },
        "Friday": {
            "start": "6:00",
            "end": "18:00"
        },
        "Saturday": "always_off",
        "Sunday": "always_off"
    },
    "model_parameters": {
        "model_type": "rtu.firstorderzone",
        "rated_power": 24.43143426294821,
        "c3": [
            0.0,
            0.0,
            0.0,
            0.0,
            0.0,
            0.0,
            0.0,
            0.0063670381892994062,
            0.013636503590804396,
            0.020618815874064687,
            0.026833741849441584,
            0.033341097840972111,
            0.044747403024895258,
            0.040439894285217284,
            0.040132917274376942,
            0.039570587950665807,
            0.029468470669641041,
            0.023323027352854558,
            0.0,
            0.0,
            0.0,
            0.0,
            0.0,
            0.0
        ],
        "c2": [
            0.0,
            0.0,
            0.0,
            0.0,
            0.0,
            0.0,
            0.0,
            -0.0019305929279163541,
            -0.00045909034057090882,
            -0.0047780908790963153,
            -0.0097436255934420686,
            -0.057629365339690306,
            -0.10325954854936104,
            -0.097588707418685749,
            -0.091311604094246254,
            -0.083299530542431666,
            -0.058788553279882388,
            -0.04649039684750203,
            0.0,
            0.0,
            0.0,
            0.0,
            0.0,
            0.0
        ],
        "c1": [
            0.0,
            0.0,
            0.0,
            0.0,
            0.0,
            0.0,
            0.0,
            -0.0066276524680222099,
            0.010041128520639389,
            0.10419285247307507,
            -0.17773938663002783,
            -0.22270345393258209,
            0.071294964578308848,
            0.032686695718211423,
            -0.025720874207037354,
            0.045285082805097125,
            -0.14675949343970693,
            -0.081652463290626837,
            0.0,
            0.0,
            0.0,
            0.0,
            0.0,
            0.0
        ],
        "c4": [
            0.0,
            0.0,
            0.0,
            0.0,
            0.0,
            0.0,
            0.0,
            0.087754627016460959,
            -0.50103866454467039,
            -2.8238450313710821,
            3.870877066574673,
            5.9265727497801803,
            -0.27119047117022133,
            0.67407473796458728,
            1.952051518655854,
            0.090342592738964222,
            4.3332179416475345,
            2.6379786930677489,
            0.0,
            0.0,
            0.0,
            0.0,
            0.0,
            0.0
        ]
    }
}
