{
    "campus": "PNNL",
    "building": "BRSW",
    "device": "HP2",
    "actuation_enable_topic": "default",
    "input_data_timezone": "UTC",
    "actuation_enabled_onstart": true,
    "control_interval": 50,
    "agent_name": "hp2",
    "inputs": [
        {
            "mapped": "sfs",
            "point": "SupplyFanStatus",
            "topic": "devices/PNNL/BRSW/HP2/all",
            "inital_value": 0
        },
        {
            "mapped": "oat",
            "point": "OutdoorAirTemperature",
            "topic": "devices/PNNL/BRSW/HP2/all",
            "inital_value": 23.44
        },
        {
            "mapped": "zt",
            "point": "ZoneTemperature",
            "topic": "devices/PNNL/BRSW/HP2/all",
            "inital_value": 23.44
        },
        {
            "mapped": "mclg",
            "point": "FirstStageCooling",
            "topic": "devices/PNNL/BRSW/HP2/all",
            "inital_value": 0
        }
    ],
    "outputs": [
        {
            "mapped": "csp",
            "point": "ZoneCoolingTemperatureSetPoint",
            "topic": "PNNL/BRSW/HP2/ZoneCoolingTemperatureSetPoint",
            "actuator": "platform.actuator",
            "flexibility_range": [1.0, 0], # run time fraction at low price to high price
            "control_flexibility": [
                22.33,
                24.33
            ],
            "off_setpoint": 26.7,
            "release": "None",
            "offset": 0
        }
    ],
    "schedule": {
        "Monday": {
            "start": "6:00",
            "end": "18:00"
        },
        "Tuesday": {
            "start": "6:00",
            "end": "18:00"
        },
        "Wednesday": {
            "start": "6:00",
            "end": "18:00"
        },
        "Thursday": {
            "start": "6:00",
            "end": "18:00"
        },
        "Friday": {
            "start": "6:00",
            "end": "18:00"
        },
        "Saturday": "always_off",
        "Sunday": "always_off"
    },
    "model_parameters": {
        "model_type": "rtu.firstorderzone",
        "rated_power": 21.38808764940239,
        "c3": [
            0.0,
            0.0,
            0.0,
            0.0,
            0.0,
            0.0,
            0.00066891807413443157,
            0.013699396206065008,
            0.020528068959205621,
            0.033209122350075039,
            0.044860147475417167,
            0.044851669782638423,
            0.04957597554981806,
            0.043952889259989344,
            0.045378081910755458,
            0.040854633204779056,
            0.035990700916473078,
            0.02948076980904147,
            0.0,
            0.0,
            0.0,
            0.0,
            0.0,
            0.0
        ],
        "c2": [
            0.0,
            0.0,
            0.0,
            0.0,
            0.0,
            0.0,
            -0.00080757620789691535,
            -0.0054374084143812501,
            -0.0056567131176565293,
            -0.021643601443855569,
            -0.067900878167241191,
            -0.10346804569524995,
            -0.12528274950297505,
            -0.11483559717277303,
            -0.10631551309117246,
            -0.094802453983972801,
            -0.075503100688863456,
            -0.057938485518907665,
            0.0,
            0.0,
            0.0,
            0.0,
            0.0,
            0.0
        ],
        "c1": [
            0.0,
            0.0,
            0.0,
            0.0,
            0.0,
            0.0,
            -0.007350216814358118,
            -0.12691874115255242,
            -0.022410567290773842,
            -0.049080073034567587,
            -0.029518709239159557,
            -0.0081331900001774086,
            -0.05431995996462273,
            -0.050881193953190185,
            -0.020527757696575118,
            -0.29054537614496834,
            -0.051172548273635245,
            -0.019768845482960071,
            0.0,
            0.0,
            0.0,
            0.0,
            0.0,
            0.0
        ],
        "c4": [
            0.0,
            0.0,
            0.0,
            0.0,
            0.0,
            0.0,
            0.18402701449399789,
            2.904069253337549,
            0.25727784396973274,
            0.97556577246367737,
            1.3271172332997963,
            1.6983065718596522,
            3.2385035207861188,
            3.1070968035837914,
            2.1663191224414602,
            8.4597742360857424,
            2.3796735857427476,
            1.3538358556594143,
            0.0,
            0.0,
            0.0,
            0.0,
            0.0,
            0.0
        ]
    }
}
