{
    "campus": "PNNL", 
    "building": "BRSW",
    "device": "HP3",
    "actuation_enable_topic": "default", 
    "input_data_timezone": "UTC", 
    "actuation_enabled_onstart": true, 
    "control_interval": 50, 
    "agent_name": "hp3", 
    "inputs": [
        {
            "mapped": "sfs", 
            "point": "SupplyFanStatus", 
            "topic": "devices/PNNL/BRSW/HP3/all", 
            "inital_value": 0
        }, 
        {
            "mapped": "oat", 
            "point": "OutdoorAirTemperature", 
            "topic": "devices/PNNL/BRSW/HP3/all", 
            "inital_value": 23.33
        }, 
        {
            "mapped": "zt", 
            "point": "ZoneTemperature", 
            "topic": "devices/PNNL/BRSW/HP3/all", 
            "inital_value": 23.33
        }, 
        {
            "mapped": "mclg", 
            "point": "FirstStageCooling", 
            "topic": "devices/PNNL/BRSW/HP3/all", 
            "inital_value": 0
        }
    ], 
    "outputs": [
        {
            "mapped": "csp", 
            "point": "ZoneCoolingTemperatureSetPoint", 
            "topic": "PNNL/BRSW/HP3/ZoneCoolingTemperatureSetPoint", 
            "actuator": "platform.actuator",
            "flexibility_range": [1.0, 0], # run time fraction at low price to high price
            "control_flexibility": [
                22.33, 
                24.33
            ], 
            "off_setpoint": 26.7, 
            "release": "None", 
            "offset": 0
        }
    ], 
    "schedule": {
        "Monday": {
            "start": "6:00", 
            "end": "18:00"
        }, 
        "Tuesday": {
            "start": "6:00", 
            "end": "18:00"
        }, 
        "Wednesday": {
            "start": "6:00", 
            "end": "18:00"
        }, 
        "Thursday": {
            "start": "6:00", 
            "end": "18:00"
        }, 
        "Friday": {
            "start": "6:00", 
            "end": "18:00"
        }, 
        "Saturday": "always_off", 
        "Sunday": "always_off"
    }, 
    "model_parameters": {
        "model_type": "rtu.firstorderzone",
        "rated_power": 0.7323107569721116, 
        "c3": [
            0.0, 
            0.0, 
            0.0, 
            0.0, 
            0.0, 
            0.0, 
            0.0, 
            0.012887897668949688, 
            0.018713348158737934, 
            0.026481692733965428, 
            0.034470588720875273, 
            0.043938025577044751, 
            0.047557954024528878, 
            0.040224471539667961, 
            0.045495321369327289, 
            0.042203284928369139, 
            0.040225369636529583, 
            0.040303888313022701, 
            0.0, 
            0.0, 
            0.0, 
            0.0, 
            0.0, 
            0.0
        ], 
        "c2": [
            0.0, 
            0.0, 
            0.0, 
            0.0, 
            0.0, 
            0.0, 
            0.0, 
            -0.0025732372378301418, 
            0.000361794915052574, 
            -0.015708812458911207, 
            -0.040355621418599587, 
            -0.091849517259993962, 
            -0.12863935052334141, 
            -0.11539868514744682, 
            -0.11770089794697382, 
            -0.10583836355952776, 
            -0.095565509302350096, 
            -0.080417935090207782, 
            0.0, 
            0.0, 
            0.0, 
            0.0, 
            0.0, 
            0.0
        ], 
        "c1": [
            0.0, 
            0.0, 
            0.0, 
            0.0, 
            0.0, 
            0.0, 
            0.0, 
            -0.019159850887377601, 
            -0.095346295549248741, 
            0.10370813756689864, 
            -0.12208949686454694, 
            0.21240304336195284, 
            0.090648537675309893, 
            -0.19805045031232391, 
            -0.12391146923295002, 
            0.023168316371324618, 
            -0.097948089482961603, 
            -0.14335248564168929, 
            0.0, 
            0.0, 
            0.0, 
            0.0, 
            0.0, 
            0.0
        ], 
        "c4": [
            0.0, 
            0.0, 
            0.0, 
            0.0, 
            0.0, 
            0.0, 
            0.0, 
            0.28884013452393636, 
            1.9010725572044564, 
            -2.6625231106159379, 
            3.1233070624270209, 
            -3.8375369992822801, 
            -0.10500344707159301, 
            6.7054114602072072, 
            4.88689430711608, 
            1.2045062551419841, 
            3.9149102745855813, 
            4.6374452334135361, 
            0.0, 
            0.0, 
            0.0, 
            0.0, 
            0.0, 
            0.0
        ]
    }
}