{
    "campus": "PNNL", 
    "building": "BRSW", 
    "actuation_enable_topic": "default", 
    "input_data_timezone": "UTC", 
    "actuation_enabled_onstart": true, 
    "control_interval": 50,
    "agent_name": "hp4", 
    "inputs": [
        {
            "mapped": "sfs", 
            "point": "SupplyFanStatus", 
            "topic": "devices/PNNL/BRSW/HP4/all", 
            "inital_value": 0
        }, 
        {
            "mapped": "oat", 
            "point": "OutdoorAirTemperature", 
            "topic": "devices/PNNL/BRSW/HP4/all", 
            "inital_value": 24.44
        }, 
        {
            "mapped": "zt", 
            "point": "ZoneTemperature", 
            "topic": "devices/PNNL/BRSW/HP4/all", 
            "inital_value": 24.44
        }, 
        {
            "mapped": "mclg", 
            "point": "FirstStageCooling", 
            "topic": "devices/PNNL/BRSW/HP4/all", 
            "inital_value": 0
        }
    ], 
    "outputs": [
        {
            "mapped": "csp", 
            "point": "ZoneCoolingTemperatureSetPoint", 
            "topic": "PNNL/BRSW/HP4/ZoneCoolingTemperatureSetPoint", 
            "flexibility_range": [
                23.44, 
                25.44
            ], 
            "off_setpoint": 26.7, 
            "actuator": "platform.actuator", 
            "release": "None", 
            "offset": 0
        }
    ], 
    "schedule": {
        "Monday": {
            "start": " 6:00", 
            "end": "18:00"
        }, 
        "Tuesday": {
            "start": "6:00", 
            "end": "18:00"
        }, 
        "Wednesday": {
            "start": "6:00", 
            "end": "18:00"
        }, 
        "Thursday": {
            "start": "6:00", 
            "end": "18:00"
        }, 
        "Friday": {
            "start": "6:00", 
            "end": "18:00"
        }, 
        "Saturday": "always_off", 
        "Sunday": "always_off"
    }, 
    "model_parameters": {
        "model_type": "rtu.firstorderzone",
        "rated_power": 3.7847826086956524, 
        "c3": [
            0.0, 
            0.0, 
            0.0, 
            0.0, 
            0.0, 
            -0.0002758100830862894, 
            0.0015891458622377607, 
            0.027617108730796622, 
            0.036924563976574426, 
            0.04160775877805771, 
            0.045134844108740552, 
            0.040633151509704479, 
            0.044203117974265328, 
            0.038940532669847885, 
            0.042555780107249003, 
            0.041940602363853184, 
            0.037930997493916735, 
            0.034426779215505673, 
            0.0, 
            0.0, 
            0.0, 
            0.0, 
            0.0, 
            0.0
        ], 
        "c2": [
            0.0, 
            0.0, 
            0.0, 
            0.0, 
            0.0, 
            0.0013240082587281903, 
            -0.0012253258210839931, 
            -0.013598422329742088, 
            -0.037285947390149066, 
            -0.065838315398675948, 
            -0.096829005518849764, 
            -0.1268008268863195, 
            -0.13990239065656565, 
            -0.11807004791217912, 
            -0.11389547830306819, 
            -0.10766173231730081, 
            -0.086574841182456938, 
            -0.072342188978257949, 
            0.0, 
            0.0, 
            0.0, 
            0.0, 
            0.0, 
            0.0
        ], 
        "c1": [
            0.0, 
            0.0, 
            0.0, 
            0.0, 
            0.0, 
            -0.0064719345672970101, 
            -0.0077114691112585019, 
            0.028584651861338864, 
            -0.01357264380690173, 
            0.14951345089130191, 
            -0.35589451374472075, 
            0.078387247536077218, 
            -0.012906208964739419, 
            -0.091018367374209805, 
            -0.099592128306784405, 
            -0.18158331037104125, 
            -0.08870311400395417, 
            0.017352494502136214, 
            0.0, 
            0.0, 
            0.0, 
            0.0, 
            0.0, 
            0.0
        ],
        "c4": [
            0.0, 
            0.0, 
            0.0, 
            0.0, 
            0.0, 
            0.12898164264153547, 
            0.18908652872909867, 
            -0.84572127397542207, 
            0.49678244976873875, 
            -2.8240815746775643, 
            9.9332230860668673, 
            0.43108196892704753, 
            2.8969568820904699, 
            4.3893215771520326, 
            4.4348428155421002, 
            6.2764394755852617, 
            3.6167063118010176, 
            0.81163925016538152, 
            0.0, 
            0.0, 
            0.0, 
            0.0, 
            0.0, 
            0.0
        ]
    }
}