{
    "campus": "PNNL", 
    "building": "BRSW",
    "device": "HP5",
    "actuation_enable_topic": "default", 
    "input_data_timezone": "UTC", 
    "actuation_enabled_onstart": true, 
    "control_interval": 50,
    "agent_name": "hp5", 
    "inputs": [
        {
            "mapped": "sfs", 
            "point": "SupplyFanStatus", 
            "topic": "devices/PNNL/BRSW/HP5/all", 
            "inital_value": 0
        }, 
        {
            "mapped": "oat", 
            "point": "OutdoorAirTemperature", 
            "topic": "devices/PNNL/BRSW/HP5/all", 
            "inital_value": 24.44
        }, 
        {
            "mapped": "zt", 
            "point": "ZoneTemperature", 
            "topic": "devices/PNNL/BRSW/HP5/all", 
            "inital_value": 24.44
        }, 
        {
            "mapped": "mclg", 
            "point": "FirstStageCooling", 
            "topic": "devices/PNNL/BRSW/HP5/all", 
            "inital_value": 0
        }
    ], 
    "outputs": [
        {
            "mapped": "csp", 
            "point": "ZoneCoolingTemperatureSetPoint", 
            "topic": "PNNL/BRSW/HP5/ZoneCoolingTemperatureSetPoint",
            "flexibility_range": [1.0, 0], # run time fraction at low price to high price
            "control_flexibility": [
                23.44, 
                25.44
            ], 
            "off_setpoint": 26.7, 
            "actuator": "platform.actuator", 
            "release": "None", 
            "offset": 0
        }
    ], 
    "schedule": {
        "Monday": {
            "start": " 6:00", 
            "end": "18:00"
        }, 
        "Tuesday": {
            "start": "6:00", 
            "end": "18:00"
        }, 
        "Wednesday": {
            "start": "6:00", 
            "end": "18:00"
        }, 
        "Thursday": {
            "start": "6:00", 
            "end": "18:00"
        }, 
        "Friday": {
            "start": "6:00", 
            "end": "18:00"
        }, 
        "Saturday": "always_off", 
        "Sunday": "always_off"
    }, 
    "model_parameters": {
        "model_type": "rtu.firstorderzone",
        "rated_power": 24.44, 
        "c3": [
            0.0, 
            0.0, 
            0.0, 
            0.0, 
            0.0, 
            0.0, 
            0.0, 
            0.00029710674819449648, 
            0.00049939867235248008, 
            0.0011823300778863149, 
            0.0016968799553926531, 
            0.0019755646212981553, 
            0.0024308598000941199, 
            0.0025796060069117311, 
            0.0025157174193425956, 
            0.0025446019764156038, 
            0.0025237446327182472, 
            0.0024464447539452412, 
            0.0, 
            0.0, 
            0.0, 
            0.0, 
            0.0, 
            0.0
        ], 
        "c2": [
            0.0, 
            0.0, 
            0.0, 
            0.0, 
            0.0, 
            0.0, 
            0.0, 
            -8.5537324704924601e-05, 
            0.0001722940243522943, 
            -0.00026526046699551053, 
            -0.00055886040243068079, 
            -0.0015719008906194148, 
            -0.0045311027978264442, 
            -0.0062951873007888286, 
            -0.0062339749807587891, 
            -0.005786413308455537, 
            -0.0048716511401316704, 
            -0.0041895837018330502, 
            0.0, 
            0.0, 
            0.0, 
            0.0, 
            0.0, 
            0.0
        ], 
        "c1": [
            0.0, 
            0.0, 
            0.0, 
            0.0, 
            0.0, 
            0.0, 
            0.0, 
            0.0012855989605935517, 
            0.0038118395332476496, 
            0.0013892104157728869, 
            -0.011884628956793097, 
            -0.010139971016311273, 
            -0.0062478974830410391, 
            -0.0045312976940806247, 
            -0.010887591875278589, 
            -0.0064589202299535102, 
            -0.0017246551285936477, 
            -0.0010139560873474358, 
            0.0, 
            0.0, 
            0.0, 
            0.0, 
            0.0, 
            0.0
        ],
        "c4": [
            0.0, 
            0.0, 
            0.0, 
            0.0, 
            0.0, 
            0.0, 
            0.0, 
            -0.034286719204839097, 
            -0.10462247561513977, 
            -0.053087872759172178, 
            0.25776456020010385, 
            0.23334752350794388, 
            0.19960849383926096, 
            0.2000713101726842, 
            0.35393810558104555, 
            0.23770486450052872, 
            0.10305674894413663, 
            0.072704097546423208, 
            0.0, 
            0.0, 
            0.0, 
            0.0, 
            0.0, 
            0.0
        ]
    }
}