{   "destination-address": "http://172.28.5.5:8445",
    # "destination-vip": "tcp://127.0.0.1:23920",
    # "destination-serverkey": "mmMBOFQ770VszDHJRPreVn94WFRx8NtMyzQ2-69u91w",
    "custom_topic_list": [
        "tnc/BRSW"
    ],
    "capture_device_data": false,
    "capture_log_data": false,
    "capture_record_data": false,
    "capture_analysis_data": false
}
