{
    "campus": "PNNL", # if omitted defaults to ""
    "building": "BRSW", # if omitted defaults to ""
    "input_data_timezone": "UTC", # if omitted defaults to "UTC"
    "supplier_market_name": "electric",
    "tns": false,

    "agent_name": "meter",
    "inputs": [],
    "outputs": [],
    "schedule":{},

    "model_parameters": {
        "model_type": "simple"
	}
}