{
    "building": "SMALL_OFFICE", 
    "agent_name": "hp10", 
    "schedule": {
        "Monday": {
            "start": "6:00", 
            "end": "22:00"
        }, 
        "Tuesday": {
            "start": "6:00", 
            "end": "22:00"
        }, 
        "Wednesday": {
            "start": "6:00", 
            "end": "22:00"
        }, 
        "Thursday": {
            "start": "6:00", 
            "end": "22:00"
        }, 
        "Friday": {
            "start": "6:00", 
            "end": "22:00"
        }, 
        "Saturday": "always_off", 
        "Sunday": "always_off"
    },  
    "actuation_method": "periodic",
    "control_interval": 300,
    "tns": true,
    "actuation_enabled_onstart": true, 
    "model_parameters": {
        "c": 20.5, 
        "rated_power": 9.11, 
        "on_min": 0, 
        "temp_db": 0.5, 
        "model_type": "rtu.rtuzone",
        "off_min": 0, 
        "c3": [
            0.0, 
            0.0, 
            0.0, 
            0.0, 
            0.0, 
            0.0, 
            0.0, 
            0.0, 
            0.0, 
            0.0, 
            0.0, 
            0.0, 
            0.0, 
            0.0, 
            1574.3202923711863, 
            51241.385815352922, 
            0.0, 
            0.0, 
            0.0, 
            0.0, 
            0.0, 
            0.0, 
            0.0, 
            0.0, 
            0.0
        ], 
        "c2": [
            0.0, 
            0.0, 
            0.0, 
            0.0, 
            0.0, 
            0.0, 
            0.0, 
            0.0, 
            0.0, 
            0.0, 
            0.0, 
            0.0, 
            0.0, 
            0.0, 
            -7307.6718749205065, 
            -9688.3823150502558, 
            0.0, 
            0.0, 
            0.0, 
            0.0, 
            0.0, 
            0.0, 
            0.0, 
            0.0, 
            0.0
        ], 
        "c1": [
            0.0, 
            0.0, 
            0.0, 
            0.0, 
            0.0, 
            0.0, 
            0.0, 
            0.0, 
            0.0, 
            0.0, 
            0.0, 
            0.0, 
            0.0, 
            0.0, 
            6035.3736775841871, 
            6129.2226600077511, 
            0.0, 
            0.0, 
            0.0, 
            0.0, 
            0.0, 
            0.0, 
            0.0, 
            -0.0, 
            -0.0
        ]
    }, 
    "inputs": [
        {
            "topic": "devices/PNNL/SMALL_OFFICE/HP10/all", 
            "mapped": "sfs", 
            "point": "SupplyFanStatus", 
            "inital_value": 0
        }, 
        {
            "topic": "devices/PNNL/SMALL_OFFICE/HP10/all", 
            "mapped": "oat", 
            "point": "OutdoorAirTemperature", 
            "inital_value": 22.8
        }, 
        {
            "topic": "devices/PNNL/SMALL_OFFICE/HP10/all", 
            "mapped": "zt", 
            "point": "ZoneTemperature", 
            "inital_value": 22.8
        }, 
        {
            "topic": "devices/PNNL/SMALL_OFFICE/HP10/all", 
            "mapped": "mclg", 
            "point": "FirstStageCooling", 
            "inital_value": 0
        }
    ], 
    "actuation_enable_topic": "default", 
    "outputs": [
        {
            "off_setpoint": 26.7, 
            "point": "ZoneCoolingTemperatureSetPoint", 
            "flexibility_range": [
                21.0, 
                24.6
            ], 
            "offset": 0, 
            "topic": "PNNL/SMALL_OFFICE/HP10/ZoneCoolingTemperatureSetPoint", 
            "mapped": "csp", 
            "release": "None", 
            "actuator": "platform.actuator", 
            "fallback": 22.8
        }
    ], 
    "input_data_timezone": "UTC", 
    "campus": "PNNL"
}