{
    "building": "SMALL_OFFICE", 
    "agent_name": "hp1", 
    "schedule": {
        "Monday": {
            "start": "6:00", 
            "end": "22:00"
        }, 
        "Tuesday": {
            "start": "6:00", 
            "end": "22:00"
        }, 
        "Wednesday": {
            "start": "6:00", 
            "end": "22:00"
        }, 
        "Thursday": {
            "start": "6:00", 
            "end": "22:00"
        }, 
        "Friday": {
            "start": "6:00", 
            "end": "22:00"
        }, 
        "Saturday": "always_off", 
        "Sunday": "always_off"
    }, 
    "actuation_method": "periodic",
    "control_interval": 300,
    "tns": true,
    "actuation_enabled_onstart": true, 
    "model_parameters": {
        "c": 20.5, 
        "rated_power": 9.11, 
        "on_min": 0, 
        "temp_db": 0.5, 
        "model_type": "rtu.rtuzone",
        "off_min": 0, 
        "c3": [
            0.0, 
            0.0, 
            0.0, 
            0.0, 
            0.0, 
            0.0, 
            0.0, 
            -6.4802191571149752, 
            -11.000795961164396, 
            160.72475862158237, 
            82.655187790337664, 
            71.366999507168785, 
            34160.575851740738, 
            32188.959915088701, 
            421.60140582281042, 
            21192.818481020742, 
            8007.0272690020292, 
            -0.20468079140155537, 
            1303.1598459093034, 
            1229.7735469580095, 
            -1.6280238174942792, 
            0.0, 
            0.0, 
            0.0, 
            0.0
        ], 
        "c2": [
            0.0, 
            0.0, 
            0.0, 
            0.0, 
            0.0, 
            0.0, 
            0.0, 
            -166.05096750805953, 
            -445.06403185318175, 
            -2608.7770010255681, 
            -2251.4509844957684, 
            -1521.9022099076533, 
            -1485.9307170745715, 
            -1390.6676402413464, 
            -1928.9396104878738, 
            -4009.9636917609778, 
            -246.37500936590089, 
            -3.1544757651430189, 
            -28.550605841115633, 
            -26.942803619405293, 
            -37.118943038869517, 
            0.0, 
            0.0, 
            0.0, 
            0.0
        ], 
        "c1": [
            0.0, 
            0.0, 
            0.0, 
            0.0, 
            0.0, 
            0.0, 
            0.0, 
            256.93506867679531, 
            568.19367495195172, 
            2898.3897523443547, 
            2354.2102631198222, 
            1496.2362540457882, 
            130.84939476813901, 
            117.92837398212896, 
            1640.9092526670679, 
            2586.1039096070308, 
            -17.5452777586016, 
            57.75709816333454, 
            59.772365524946551, 
            54.554768174064058, 
            101.35632843875267, 
            0.0, 
            0.0, 
            -0.0, 
            -0.0
        ]
    }, 
    "inputs": [
        {
            "topic": "devices/PNNL/SMALL_OFFICE/HP1/all", 
            "mapped": "sfs", 
            "point": "SupplyFanStatus", 
            "inital_value": 0
        }, 
        {
            "topic": "devices/PNNL/SMALL_OFFICE/HP1/all", 
            "mapped": "oat", 
            "point": "OutdoorAirTemperature", 
            "inital_value": 22.8
        }, 
        {
            "topic": "devices/PNNL/SMALL_OFFICE/HP1/all", 
            "mapped": "zt", 
            "point": "ZoneTemperature", 
            "inital_value": 22.8
        }, 
        {
            "topic": "devices/PNNL/SMALL_OFFICE/HP1/all", 
            "mapped": "mclg", 
            "point": "FirstStageCooling", 
            "inital_value": 0
        }
    ], 
    "actuation_enable_topic": "default", 
    "outputs": [
        {
            "off_setpoint": 26.7, 
            "point": "ZoneCoolingTemperatureSetPoint", 
            "flexibility_range": [
                21.0, 
                24.6
            ], 
            "offset": 0, 
            "topic": "PNNL/SMALL_OFFICE/HP1/ZoneCoolingTemperatureSetPoint", 
            "mapped": "csp", 
            "release": "None", 
            "actuator": "platform.actuator", 
            "fallback": 22.8
        }
    ], 
    "input_data_timezone": "UTC", 
    "campus": "PNNL"
}