{
    "building": "SMALL_OFFICE", 
    "agent_name": "hp2", 
    "schedule": {
        "Monday": {
            "start": "6:00", 
            "end": "22:00"
        }, 
        "Tuesday": {
            "start": "6:00", 
            "end": "22:00"
        }, 
        "Wednesday": {
            "start": "6:00", 
            "end": "22:00"
        }, 
        "Thursday": {
            "start": "6:00", 
            "end": "22:00"
        }, 
        "Friday": {
            "start": "6:00", 
            "end": "22:00"
        }, 
        "Saturday": "always_off", 
        "Sunday": "always_off"
    },  
    "actuation_method": "periodic",
    "control_interval": 300,
    "tns": true,
    "actuation_enabled_onstart": true, 
    "model_parameters": {
        "c": 9.82, 
        "rated_power": 4.42, 
        "on_min": 0, 
        "temp_db": 0.5, 
        "model_type": "rtu.rtuzone",
        "off_min": 0, 
        "c3": [
            0.0, 
            0.0, 
            0.0, 
            0.0, 
            0.0, 
            -0.12446806657229267, 
            -2.6599649646223291, 
            -10.054372274252541, 
            -14.457716486882354, 
            135.41566463517293, 
            48.609250100663488, 
            70.720705240286449, 
            35993.911012797362, 
            27971.007564724539, 
            726.08513114384357, 
            27937.178596551876, 
            6980.4977147657055, 
            3437.6392673092287, 
            2510.0149933351126, 
            469.48933571099627, 
            -4.1431637733526046, 
            0.0, 
            0.0, 
            0.0, 
            0.0
        ], 
        "c2": [
            0.0, 
            0.0, 
            0.0, 
            0.0, 
            0.0, 
            -2.9747867910777916, 
            -61.64599811345586, 
            -257.63607732197909, 
            -591.50588024904459, 
            -2168.4202102536365, 
            -1292.4648396119469, 
            -1506.7476986182589, 
            -1565.6691138763119, 
            -1208.4505791887607, 
            -3343.6907362840166, 
            -5285.2562060205501, 
            -214.79104932646419, 
            -73.737355320127961, 
            -54.991295929623689, 
            -10.285925408589385, 
            -94.464134032439262, 
            0.0, 
            0.0, 
            0.0, 
            0.0
        ], 
        "c1": [
            0.0, 
            0.0, 
            0.0, 
            0.0, 
            0.0, 
            7.8693370739664816, 
            120.47034602709759, 
            398.64713957255265, 
            775.6780295106181, 
            2444.8948364718772, 
            1381.4813579366551, 
            1482.8241719127047, 
            133.05435555976487, 
            109.55317509655633, 
            2806.9594216841356, 
            3394.7854902702479, 
            -11.014832199785181, 
            1.2773270995405832, 
            45.383518445037268, 
            67.828155030545204, 
            152.11239856707968, 
            0.0, 
            0.0, 
            -0.0, 
            -0.0
        ]
    }, 
    "inputs": [
        {
            "topic": "devices/PNNL/SMALL_OFFICE/HP2/all", 
            "mapped": "sfs", 
            "point": "SupplyFanStatus", 
            "inital_value": 0
        }, 
        {
            "topic": "devices/PNNL/SMALL_OFFICE/HP2/all", 
            "mapped": "oat", 
            "point": "OutdoorAirTemperature", 
            "inital_value": 22.8
        }, 
        {
            "topic": "devices/PNNL/SMALL_OFFICE/HP2/all", 
            "mapped": "zt", 
            "point": "ZoneTemperature", 
            "inital_value": 22.8
        }, 
        {
            "topic": "devices/PNNL/SMALL_OFFICE/HP2/all", 
            "mapped": "mclg", 
            "point": "FirstStageCooling", 
            "inital_value": 0
        }
    ], 
    "actuation_enable_topic": "default", 
    "outputs": [
        {
            "off_setpoint": 26.7, 
            "point": "ZoneCoolingTemperatureSetPoint", 
            "flexibility_range": [
                21.0, 
                24.6
            ], 
            "offset": 0, 
            "topic": "PNNL/SMALL_OFFICE/HP2/ZoneCoolingTemperatureSetPoint", 
            "mapped": "csp", 
            "release": "None", 
            "actuator": "platform.actuator", 
            "fallback": 22.8
        }
    ], 
    "input_data_timezone": "UTC", 
    "campus": "PNNL"
}