{
    "building": "SMALL_OFFICE", 
    "agent_name": "hp3", 
    "schedule": {
        "Monday": {
            "start": "6:00", 
            "end": "22:00"
        }, 
        "Tuesday": {
            "start": "6:00", 
            "end": "22:00"
        }, 
        "Wednesday": {
            "start": "6:00", 
            "end": "22:00"
        }, 
        "Thursday": {
            "start": "6:00", 
            "end": "22:00"
        }, 
        "Friday": {
            "start": "6:00", 
            "end": "22:00"
        }, 
        "Saturday": "always_off", 
        "Sunday": "always_off"
    }, 
    "actuation_method": "periodic",
    "control_interval": 300,
    "tns": true,
    "actuation_enabled_onstart": true, 
    "model_parameters": {
        "c": 6.81, 
        "rated_power": 3.04, 
        "on_min": 0, 
        "temp_db": 0.5, 
        "model_type": "rtu.rtuzone",
        "off_min": 0, 
        "c3": [
            0.0, 
            0.0, 
            0.0, 
            0.0, 
            0.0, 
            0.0, 
            0.0, 
            -3.9329539245963709, 
            -7.3205537598452581, 
            110.04395794868609, 
            58.787223880379187, 
            92.189052054631034, 
            30555.733762261309, 
            23251.919533112072, 
            522.5940298576412, 
            28441.040433066915, 
            7206.2144912254089, 
            2933.2793364365011, 
            1387.3733688614664, 
            676.02249559130837, 
            -3.2098345207106158, 
            0.0, 
            0.0, 
            0.0, 
            0.0
        ], 
        "c2": [
            0.0, 
            0.0, 
            0.0, 
            0.0, 
            0.0, 
            0.0, 
            0.0, 
            -100.77912312993401, 
            -296.1708573867449, 
            -1786.1600730368586, 
            -1603.8893344207572, 
            -2005.0484403083642, 
            -1329.0930048516047, 
            -1004.5485268022998, 
            -2408.9406679394201, 
            -5379.3396824525134, 
            -221.72825331490014, 
            -62.918587195325983, 
            -30.395619027983155, 
            -14.810809181959765, 
            -73.184227072201949, 
            0.0, 
            0.0, 
            0.0, 
            0.0
        ], 
        "c1": [
            0.0, 
            0.0, 
            0.0, 
            0.0, 
            0.0, 
            0.0, 
            0.0, 
            155.93821168985363, 
            378.10830763281768, 
            1984.4502039467097, 
            1674.6422973874289, 
            1928.8528193263908, 
            99.009054806359472, 
            79.414547296603018, 
            2018.2259394983371, 
            3434.6523841034873, 
            -27.221521596005193, 
            -8.5804489813496101, 
            50.703329020832875, 
            41.528452953919945, 
            112.83243379812288, 
            0.0, 
            0.0, 
            -0.0, 
            -0.0
        ]
    }, 
    "inputs": [
        {
            "topic": "devices/PNNL/SMALL_OFFICE/HP3/all", 
            "mapped": "sfs", 
            "point": "SupplyFanStatus", 
            "inital_value": 0
        }, 
        {
            "topic": "devices/PNNL/SMALL_OFFICE/HP3/all", 
            "mapped": "oat", 
            "point": "OutdoorAirTemperature", 
            "inital_value": 22.8
        }, 
        {
            "topic": "devices/PNNL/SMALL_OFFICE/HP3/all", 
            "mapped": "zt", 
            "point": "ZoneTemperature", 
            "inital_value": 22.8
        }, 
        {
            "topic": "devices/PNNL/SMALL_OFFICE/HP3/all", 
            "mapped": "mclg", 
            "point": "FirstStageCooling", 
            "inital_value": 0
        }
    ], 
    "actuation_enable_topic": "default", 
    "outputs": [
        {
            "off_setpoint": 26.7, 
            "point": "ZoneCoolingTemperatureSetPoint", 
            "flexibility_range": [
                21.0, 
                24.6
            ], 
            "offset": 0, 
            "topic": "PNNL/SMALL_OFFICE/HP3/ZoneCoolingTemperatureSetPoint", 
            "mapped": "csp", 
            "release": "None", 
            "actuator": "platform.actuator", 
            "fallback": 22.8
        }
    ], 
    "input_data_timezone": "UTC", 
    "campus": "PNNL"
}