{
    "building": "SMALL_OFFICE", 
    "agent_name": "hp6", 
    "schedule": {
        "Monday": {
            "start": "6:00", 
            "end": "22:00"
        }, 
        "Tuesday": {
            "start": "6:00", 
            "end": "22:00"
        }, 
        "Wednesday": {
            "start": "6:00", 
            "end": "22:00"
        }, 
        "Thursday": {
            "start": "6:00", 
            "end": "22:00"
        }, 
        "Friday": {
            "start": "6:00", 
            "end": "22:00"
        }, 
        "Saturday": "always_off", 
        "Sunday": "always_off"
    },  
    "actuation_method": "periodic",
    "control_interval": 300,
    "tns": true,
    "actuation_enabled_onstart": true, 
    "model_parameters": {
        "c": 5.48, 
        "rated_power": 2.41, 
        "on_min": 0, 
        "temp_db": 0.5, 
        "model_type": "rtu.rtuzone",
        "off_min": 0, 
        "c3": [
            0.0, 
            0.0, 
            0.0, 
            0.0, 
            0.0, 
            0.0, 
            0.0, 
            0.0, 
            0.0, 
            0.0, 
            0.0, 
            0.0, 
            0.0, 
            8533.4943407417577, 
            617.48278822016755, 
            25353.325701629212, 
            4417.6244804647267, 
            19.989900810555078, 
            2831.7035893357074, 
            1521.0832064753106, 
            -1.2492694365501569, 
            0.0, 
            0.0, 
            0.0, 
            0.0
        ], 
        "c2": [
            0.0, 
            0.0, 
            0.0, 
            0.0, 
            0.0, 
            0.0, 
            0.0, 
            0.0, 
            0.0, 
            0.0, 
            0.0, 
            0.0, 
            0.0, 
            -368.65317012499145, 
            -2866.2284457552496, 
            -4793.6391345949032, 
            -135.91681351121804, 
            -0.42880043266743412, 
            -62.039091590935008, 
            -33.325034696195907, 
            -28.48334315334354, 
            0.0, 
            0.0, 
            0.0, 
            0.0
        ], 
        "c1": [
            0.0, 
            0.0, 
            0.0, 
            0.0, 
            0.0, 
            0.0, 
            0.0, 
            0.0, 
            0.0, 
            0.0, 
            0.0, 
            0.0, 
            0.0, 
            18.768576488449639, 
            2367.2053167606741, 
            3032.6302835940378, 
            -34.647757821482479, 
            0.67255784208395852, 
            -12.399431240523256, 
            1.0348244367908808, 
            50.541627948499006, 
            0.0, 
            0.0, 
            -0.0, 
            -0.0
        ]
    }, 
    "inputs": [
        {
            "topic": "devices/PNNL/SMALL_OFFICE/HP6/all", 
            "mapped": "sfs", 
            "point": "SupplyFanStatus", 
            "inital_value": 0
        }, 
        {
            "topic": "devices/PNNL/SMALL_OFFICE/HP6/all", 
            "mapped": "oat", 
            "point": "OutdoorAirTemperature", 
            "inital_value": 22.8
        }, 
        {
            "topic": "devices/PNNL/SMALL_OFFICE/HP6/all", 
            "mapped": "zt", 
            "point": "ZoneTemperature", 
            "inital_value": 22.8
        }, 
        {
            "topic": "devices/PNNL/SMALL_OFFICE/HP6/all", 
            "mapped": "mclg", 
            "point": "FirstStageCooling", 
            "inital_value": 0
        }
    ], 
    "actuation_enable_topic": "default", 
    "outputs": [
        {
            "off_setpoint": 26.7, 
            "point": "ZoneCoolingTemperatureSetPoint", 
            "flexibility_range": [
                21.0, 
                24.6
            ], 
            "offset": 0, 
            "topic": "PNNL/SMALL_OFFICE/HP6/ZoneCoolingTemperatureSetPoint", 
            "mapped": "csp", 
            "release": "None", 
            "actuator": "platform.actuator", 
            "fallback": 22.8
        }
    ], 
    "input_data_timezone": "UTC", 
    "campus": "PNNL"
}