{
    "building": "SMALL_OFFICE", 
    "agent_name": "hp9", 
    "schedule": {
        "Monday": {
            "start": "6:00", 
            "end": "22:00"
        }, 
        "Tuesday": {
            "start": "6:00", 
            "end": "22:00"
        }, 
        "Wednesday": {
            "start": "6:00", 
            "end": "22:00"
        }, 
        "Thursday": {
            "start": "6:00", 
            "end": "22:00"
        }, 
        "Friday": {
            "start": "6:00", 
            "end": "22:00"
        }, 
        "Saturday": "always_off", 
        "Sunday": "always_off"
    }, 
    "actuation_method": "periodic",
    "control_interval": 300,
    "tns": true,
    "actuation_enabled_onstart": true, 
    "model_parameters": {
        "c": 7.33, 
        "rated_power": 3.3, 
        "on_min": 0, 
        "temp_db": 0.5, 
        "model_type": "rtu.rtuzone",
        "off_min": 0, 
        "c3": [
            0.0, 
            0.0, 
            0.0, 
            0.0, 
            0.0, 
            0.0, 
            0.0, 
            0.0, 
            0.0, 
            0.0, 
            0.0, 
            0.0, 
            0.0, 
            4879.89108213075, 
            825.61500497855172, 
            32071.27096279099, 
            11245.871886505249, 
            1897.7687925150769, 
            2502.9015531150549, 
            2047.5705552283473, 
            -2.3850900547362412, 
            0.0, 
            0.0, 
            0.0, 
            0.0
        ], 
        "c2": [
            0.0, 
            0.0, 
            0.0, 
            0.0, 
            0.0, 
            0.0, 
            0.0, 
            0.0, 
            0.0, 
            0.0, 
            0.0, 
            0.0, 
            0.0, 
            -210.81484857887446, 
            -3832.3355041730019, 
            -6064.1679842673893, 
            -346.0092858687135, 
            -40.707286121562802, 
            -54.835449332189889, 
            -44.859715435298469, 
            -54.380053247986211, 
            0.0, 
            0.0, 
            0.0, 
            0.0
        ], 
        "c1": [
            0.0, 
            0.0, 
            0.0, 
            0.0, 
            0.0, 
            0.0, 
            0.0, 
            0.0, 
            0.0, 
            0.0, 
            0.0, 
            0.0, 
            0.0, 
            10.732837612955585, 
            3165.108836500498, 
            3842.1293608860401, 
            -72.32104181413041, 
            6.5147246352243071, 
            19.783842065316641, 
            7.2632983944630789, 
            84.617926980484953, 
            0.0, 
            0.0, 
            -0.0, 
            -0.0
        ]
    }, 
    "inputs": [
        {
            "topic": "devices/PNNL/SMALL_OFFICE/HP9/all", 
            "mapped": "sfs", 
            "point": "SupplyFanStatus", 
            "inital_value": 0
        }, 
        {
            "topic": "devices/PNNL/SMALL_OFFICE/HP9/all", 
            "mapped": "oat", 
            "point": "OutdoorAirTemperature", 
            "inital_value": 22.8
        }, 
        {
            "topic": "devices/PNNL/SMALL_OFFICE/HP9/all", 
            "mapped": "zt", 
            "point": "ZoneTemperature", 
            "inital_value": 22.8
        }, 
        {
            "topic": "devices/PNNL/SMALL_OFFICE/HP9/all", 
            "mapped": "mclg", 
            "point": "FirstStageCooling", 
            "inital_value": 0
        }
    ], 
    "actuation_enable_topic": "default", 
    "outputs": [
        {
            "off_setpoint": 26.7, 
            "point": "ZoneCoolingTemperatureSetPoint", 
            "flexibility_range": [
                21.0, 
                24.6
            ], 
            "offset": 0, 
            "topic": "PNNL/SMALL_OFFICE/HP9/ZoneCoolingTemperatureSetPoint", 
            "mapped": "csp", 
            "release": "None", 
            "actuator": "platform.actuator", 
            "fallback": 22.8
        }
    ], 
    "input_data_timezone": "UTC", 
    "campus": "PNNL"
}