{
    "campus": "PNNL",
    "building": "BUILDING1",
        "power_meter": {
            "device_topic": "PNNL/LargeOffice/METERS",
            "point": "WholeBuildingPower"
        },
    "agent_id": "BUILDING1 ILC",
    "demand_limit": 1250000,
    "simulation_running": true,
    "curtailment_time": 20,
    "curtailment_confirm": 5,
    "curtailment_break": 20,
    "average_building_power_window": 15,

    "stagger_release": true,
    "stagger_off_time": false,
    "application_category": "Load Control",
    "application_name": "Intelligent Load Control",
    "clusters": [ 
        {
            "device_control_file": "/home/volttron/volttron/config/config/largeoffice/ilc/vav_control.config",
            "device_criteria_file": "/home/volttron/volttron/config/config/largeoffice/ilc/vav_criteria.config",
            "pairwise_criteria_file": "/home/volttron/volttron/config/config/largeoffice/ilc/vav_criteria_matrix.json",
            "cluster_priority": 0.60
        },
        {
            "device_control_file": "/home/volttron/volttron/config/config/largeoffice/ilc/lighting_control.config",
            "device_criteria_file": "/home/volttron/volttron/config/config/largeoffice/ilc/lighting_criteria.config",
            "pairwise_criteria_file": "/home/volttron/volttron/config/config/largeoffice/ilc/lighting_criteria_matrix.json",
            "cluster_priority": 0.40
        }
    ]
 }
