{
    "campus": "PNNL", 
    "building": "BUILDING1",
    "device": "LIGHTING/ZONE105",
    "actuation_enable_topic": "default", 
    "input_data_timezone": "UTC", 
    "actuation_enabled_onstart": true, 
    "control_interval": 300, 
    "agent_name": "light_105", 
    "market_name": "electric", 
    "inputs": [
        {
            "mapped": "occ", 
            "point": "SupplyFanStatus", 
            "topic": "devices/PNNL/BUILDING1/AHU1/all", 
            "inital_value": 0
        }
    ], 
    "outputs": [
        {
            "mapped": "light", 
            "point": "DimmingLevelOutput", 
            "topic": "PNNL/BUILDING1/LIGHTING/ZONE105/DimmingLevelOutput", 
            "flexibility_range": [
                0.9, 
                0.7
            ], 
            "off_setpoint": 0.15, 
            "actuator": "platform.actuator", 
            "release": "None", 
            "offset": 0.05
        }
    ], 
    "schedule": {
        "Monday": {
            "start": "5:00", 
            "end": "17:00"
        }, 
        "Tuesday": {
            "start": "5:00", 
            "end": "17:00"
        }, 
        "Wednesday": {
            "start": "5:00", 
            "end": "17:00"
        }, 
        "Thursday": {
            "start": "5:00", 
            "end": "17:00"
        }, 
        "Friday": {
            "start": "5:00", 
            "end": "17:00"
        }, 
        "Saturday": "always_off", 
        "Sunday": "always_off"
    }, 
    "model_parameters": {
        "model_type": "light.simple", 
        "rated_power": 0.29789499999999997
    }
}