{
    "campus": "PNNL", 
    "building": "BUILDING1",
    "device": "AHU1", 
    "input_data_timezone": "UTC", 
    "supplier_market_name": "air1", 
    "consumer_market_name": "electric", 
    "agent_name": "ahu1", 
    "inputs": [
        {
            "mapped": "sfs", 
            "point": "SupplyFanStatus", 
            "topic": "devices/PNNL/BUILDING1/AHU1/all", 
            "inital_value": 0
        }, 
        {
            "mapped": "oat", 
            "point": "OutdoorAirTemperature", 
            "topic": "devices/PNNL/BUILDING1/AHU1/all", 
            "inital_value": 21.1
        }, 
        {
            "mapped": "mat", 
            "point": "MixedAirTemperature", 
            "topic": "devices/PNNL/BUILDING1/AHU1/all", 
            "inital_value": 21.1
        }, 
        {
            "mapped": "dat", 
            "point": "DischargeAirTemperature", 
            "topic": "devices/PNNL/BUILDING1/AHU1/all", 
            "inital_value": 13.8
        }, 
        {
            "mapped": "saf", 
            "point": "SupplyAirFlow", 
            "topic": "devices/PNNL/BUILDING1/AHU1/all", 
            "inital_value": 0.0
        }
    ], 
    "outputs": [], 
    "schedule": {
        "Monday": {
            "start": "5:00", 
            "end": "17:00"
        }, 
        "Tuesday": {
            "start": "5:00", 
            "end": "17:00"
        }, 
        "Wednesday": {
            "start": "5:00", 
            "end": "17:00"
        }, 
        "Thursday": {
            "start": "5:00", 
            "end": "17:00"
        }, 
        "Friday": {
            "start": "5:00", 
            "end": "17:00"
        }, 
        "Saturday": "always_off", 
        "Sunday": "always_off"
    }, 
    "model_parameters": {
        "model_type": "ahuchiller.ahuchiller",
        "equipment_configuration": {
            "has_economizer": true, 
            "economizer_limit": 18.33, 
            "supply-air sepoint": 13.0, 
            "nominal zone-setpoint": 21.1, 
            "building chiller": false, 
            "variable-volume": true
        }, 
        "model_configuration": {
            "c0": 4.6372381036774435e-05, 
            "c1": 0.13193925787367125, 
            "c2": -0.0096023364935565875, 
            "c3": 0.007500996707148393, 
            "cpAir": 1.006, 
            "COP": 6.5, 
            "mDotAir": 4.84458
        }
    }
}