{
    "LIGHTING/Basement": {
        "Basement": {
            "device_topic": "PNNL/LargeOffice/LIGHTING/Basement", 
            "rated_power": {
                "operation_type": "constant", 
                "value": 38.339
            }, 
            "lighting_level": {
                "operation_type": [
                    "DimmingLevelOutput"
                ], 
                "operation": "DimmingLevelOutput"
            }, 
            "room_type": {
                "map_key": "mapper", 
                "dict_name": "zone_type"
            }
        }
    }, 
    "LIGHTING/Perimeter_mid_ZN_3": {
        "Perimeter_mid_ZN_3": {
            "device_topic": "PNNL/LargeOffice/LIGHTING/Perimeter_mid_ZN_3", 
            "rated_power": {
                "operation_type": "constant", 
                "value": 33.723
            }, 
            "lighting_level": {
                "operation_type": [
                    "DimmingLevelOutput"
                ], 
                "operation": "DimmingLevelOutput"
            }, 
            "room_type": {
                "map_key": "mapper", 
                "dict_name": "zone_type"
            }
        }
    }, 
    "mappers": {
        "zone_type": {
            "Private Office": 1, 
            "Conference Room": 5, 
            "Lobby": 9, 
            "Office": 3, 
            "Restroom": 9
        }
    }, 
    "LIGHTING/Core_mid": {
        "Core_mid": {
            "device_topic": "PNNL/LargeOffice/LIGHTING/Core_mid", 
            "rated_power": {
                "operation_type": "constant", 
                "value": 272.477
            }, 
            "lighting_level": {
                "operation_type": [
                    "DimmingLevelOutput"
                ], 
                "operation": "DimmingLevelOutput"
            }, 
            "room_type": {
                "map_key": "mapper", 
                "dict_name": "zone_type"
            }
        }
    }, 
    "LIGHTING/Perimeter_mid_ZN_1": {
        "Perimeter_mid_ZN_1": {
            "device_topic": "PNNL/LargeOffice/LIGHTING/Perimeter_mid_ZN_1", 
            "rated_power": {
                "operation_type": "constant", 
                "value": 33.723
            }, 
            "lighting_level": {
                "operation_type": [
                    "DimmingLevelOutput"
                ], 
                "operation": "DimmingLevelOutput"
            }, 
            "room_type": {
                "map_key": "mapper", 
                "dict_name": "zone_type"
            }
        }
    }, 
    "LIGHTING/Perimeter_mid_ZN_2": {
        "Perimeter_mid_ZN_2": {
            "device_topic": "PNNL/LargeOffice/LIGHTING/Perimeter_mid_ZN_2", 
            "rated_power": {
                "operation_type": "constant", 
                "value": 21.732
            }, 
            "lighting_level": {
                "operation_type": [
                    "DimmingLevelOutput"
                ], 
                "operation": "DimmingLevelOutput"
            }, 
            "room_type": {
                "map_key": "mapper", 
                "dict_name": "zone_type"
            }
        }
    }, 
    "LIGHTING/Core_top": {
        "Core_top": {
            "device_topic": "PNNL/LargeOffice/LIGHTING/Core_top", 
            "rated_power": {
                "operation_type": "constant", 
                "value": 27.247
            }, 
            "lighting_level": {
                "operation_type": [
                    "DimmingLevelOutput"
                ], 
                "operation": "DimmingLevelOutput"
            }, 
            "room_type": {
                "map_key": "mapper", 
                "dict_name": "zone_type"
            }
        }
    }, 
    "LIGHTING/Perimeter_mid_ZN_4": {
        "Perimeter_mid_ZN_4": {
            "device_topic": "PNNL/LargeOffice/LIGHTING/Perimeter_mid_ZN_4", 
            "rated_power": {
                "operation_type": "constant", 
                "value": 21.732
            }, 
            "lighting_level": {
                "operation_type": [
                    "DimmingLevelOutput"
                ], 
                "operation": "DimmingLevelOutput"
            }, 
            "room_type": {
                "map_key": "mapper", 
                "dict_name": "zone_type"
            }
        }
    }, 
    "LIGHTING/Perimeter_bot_ZN_3": {
        "Perimeter_bot_ZN_3": {
            "device_topic": "PNNL/LargeOffice/LIGHTING/Perimeter_bot_ZN_3", 
            "rated_power": {
                "operation_type": "constant", 
                "value": 3.372
            }, 
            "lighting_level": {
                "operation_type": [
                    "DimmingLevelOutput"
                ], 
                "operation": "DimmingLevelOutput"
            }, 
            "room_type": {
                "map_key": "mapper", 
                "dict_name": "zone_type"
            }
        }
    }, 
    "LIGHTING/Perimeter_bot_ZN_2": {
        "Perimeter_bot_ZN_2": {
            "device_topic": "PNNL/LargeOffice/LIGHTING/Perimeter_bot_ZN_2", 
            "rated_power": {
                "operation_type": "constant", 
                "value": 2.173
            }, 
            "lighting_level": {
                "operation_type": [
                    "DimmingLevelOutput"
                ], 
                "operation": "DimmingLevelOutput"
            }, 
            "room_type": {
                "map_key": "mapper", 
                "dict_name": "zone_type"
            }
        }
    }, 
    "LIGHTING/Perimeter_bot_ZN_1": {
        "Perimeter_bot_ZN_1": {
            "device_topic": "PNNL/LargeOffice/LIGHTING/Perimeter_bot_ZN_1", 
            "rated_power": {
                "operation_type": "constant", 
                "value": 3.372
            }, 
            "lighting_level": {
                "operation_type": [
                    "DimmingLevelOutput"
                ], 
                "operation": "DimmingLevelOutput"
            }, 
            "room_type": {
                "map_key": "mapper", 
                "dict_name": "zone_type"
            }
        }
    }, 
    "LIGHTING/Core_bottom": {
        "Core_bottom": {
            "device_topic": "PNNL/LargeOffice/LIGHTING/Core_bottom", 
            "rated_power": {
                "operation_type": "constant", 
                "value": 27.247
            }, 
            "lighting_level": {
                "operation_type": [
                    "DimmingLevelOutput"
                ], 
                "operation": "DimmingLevelOutput"
            }, 
            "room_type": {
                "map_key": "mapper", 
                "dict_name": "zone_type"
            }
        }
    }, 
    "LIGHTING/Perimeter_bot_ZN_4": {
        "Perimeter_bot_ZN_4": {
            "device_topic": "PNNL/LargeOffice/LIGHTING/Perimeter_bot_ZN_4", 
            "rated_power": {
                "operation_type": "constant", 
                "value": 2.173
            }, 
            "lighting_level": {
                "operation_type": [
                    "DimmingLevelOutput"
                ], 
                "operation": "DimmingLevelOutput"
            }, 
            "room_type": {
                "map_key": "mapper", 
                "dict_name": "zone_type"
            }
        }
    }, 
    "LIGHTING/Perimeter_top_ZN_4": {
        "Perimeter_top_ZN_4": {
            "device_topic": "PNNL/LargeOffice/LIGHTING/Perimeter_top_ZN_4", 
            "rated_power": {
                "operation_type": "constant", 
                "value": 2.173
            }, 
            "lighting_level": {
                "operation_type": [
                    "DimmingLevelOutput"
                ], 
                "operation": "DimmingLevelOutput"
            }, 
            "room_type": {
                "map_key": "mapper", 
                "dict_name": "zone_type"
            }
        }
    }, 
    "LIGHTING/Perimeter_top_ZN_1": {
        "Perimeter_top_ZN_1": {
            "device_topic": "PNNL/LargeOffice/LIGHTING/Perimeter_top_ZN_1", 
            "rated_power": {
                "operation_type": "constant", 
                "value": 3.372
            }, 
            "lighting_level": {
                "operation_type": [
                    "DimmingLevelOutput"
                ], 
                "operation": "DimmingLevelOutput"
            }, 
            "room_type": {
                "map_key": "mapper", 
                "dict_name": "zone_type"
            }
        }
    }, 
    "LIGHTING/Perimeter_top_ZN_3": {
        "Perimeter_top_ZN_3": {
            "device_topic": "PNNL/LargeOffice/LIGHTING/Perimeter_top_ZN_3", 
            "rated_power": {
                "operation_type": "constant", 
                "value": 3.372
            }, 
            "lighting_level": {
                "operation_type": [
                    "DimmingLevelOutput"
                ], 
                "operation": "DimmingLevelOutput"
            }, 
            "room_type": {
                "map_key": "mapper", 
                "dict_name": "zone_type"
            }
        }
    }, 
    "LIGHTING/Perimeter_top_ZN_2": {
        "Perimeter_top_ZN_2": {
            "device_topic": "PNNL/LargeOffice/LIGHTING/Perimeter_top_ZN_2", 
            "rated_power": {
                "operation_type": "constant", 
                "value": 2.173
            }, 
            "lighting_level": {
                "operation_type": [
                    "DimmingLevelOutput"
                ], 
                "operation": "DimmingLevelOutput"
            }, 
            "room_type": {
                "map_key": "mapper", 
                "dict_name": "zone_type"
            }
        }
    }
}