{
    "LIGHTING/Basement": {
        "Basement": {
            "device_topic": "PNNL/LargeOffice/LIGHTING/Basement", 
            "curtail_settings": {
                "load": {
                    "operation": "(DimmingLevelOutput-0.7)*0.01*38.339", 
                    "equation_args": "DimmingLevelOutput"
                }, 
                "control_method": "value", 
                "value": 0.7, 
                "point": "DimmingLevelOutput"
            }, 
            "device_status": {
                "device_status_args": [
                    "DimmingLevelOutput"
                ], 
                "condition": [
                    "DimmingLevelOutput > 0.7"
                ]
            }
        }
    }, 
    "LIGHTING/Perimeter_mid_ZN_3": {
        "Perimeter_mid_ZN_3": {
            "device_topic": "PNNL/LargeOffice/LIGHTING/Perimeter_mid_ZN_3", 
            "curtail_settings": {
                "load": {
                    "operation": "(DimmingLevelOutput-0.7)*0.01*33.723", 
                    "equation_args": "DimmingLevelOutput"
                }, 
                "control_method": "value", 
                "value": 0.7, 
                "point": "DimmingLevelOutput"
            }, 
            "device_status": {
                "device_status_args": [
                    "DimmingLevelOutput"
                ], 
                "condition": [
                    "DimmingLevelOutput > 0.7"
                ]
            }
        }
    }, 
    "LIGHTING/Core_mid": {
        "Core_mid": {
            "device_topic": "PNNL/LargeOffice/LIGHTING/Core_mid", 
            "curtail_settings": {
                "load": {
                    "operation": "(DimmingLevelOutput-0.7)*0.01*272.477", 
                    "equation_args": "DimmingLevelOutput"
                }, 
                "control_method": "value", 
                "value": 0.7, 
                "point": "DimmingLevelOutput"
            }, 
            "device_status": {
                "device_status_args": [
                    "DimmingLevelOutput"
                ], 
                "condition": [
                    "DimmingLevelOutput > 0.7"
                ]
            }
        }
    }, 
    "LIGHTING/Perimeter_mid_ZN_1": {
        "Perimeter_mid_ZN_1": {
            "device_topic": "PNNL/LargeOffice/LIGHTING/Perimeter_mid_ZN_1", 
            "curtail_settings": {
                "load": {
                    "operation": "(DimmingLevelOutput-0.7)*0.01*33.723", 
                    "equation_args": "DimmingLevelOutput"
                }, 
                "control_method": "value", 
                "value": 0.7, 
                "point": "DimmingLevelOutput"
            }, 
            "device_status": {
                "device_status_args": [
                    "DimmingLevelOutput"
                ], 
                "condition": [
                    "DimmingLevelOutput > 0.7"
                ]
            }
        }
    }, 
    "LIGHTING/Perimeter_mid_ZN_2": {
        "Perimeter_mid_ZN_2": {
            "device_topic": "PNNL/LargeOffice/LIGHTING/Perimeter_mid_ZN_2", 
            "curtail_settings": {
                "load": {
                    "operation": "(DimmingLevelOutput-0.7)*0.01*21.732", 
                    "equation_args": "DimmingLevelOutput"
                }, 
                "control_method": "value", 
                "value": 0.7, 
                "point": "DimmingLevelOutput"
            }, 
            "device_status": {
                "device_status_args": [
                    "DimmingLevelOutput"
                ], 
                "condition": [
                    "DimmingLevelOutput > 0.7"
                ]
            }
        }
    }, 
    "LIGHTING/Core_top": {
        "Core_top": {
            "device_topic": "PNNL/LargeOffice/LIGHTING/Core_top", 
            "curtail_settings": {
                "load": {
                    "operation": "(DimmingLevelOutput-0.7)*0.01*27.247", 
                    "equation_args": "DimmingLevelOutput"
                }, 
                "control_method": "value", 
                "value": 0.7, 
                "point": "DimmingLevelOutput"
            }, 
            "device_status": {
                "device_status_args": [
                    "DimmingLevelOutput"
                ], 
                "condition": [
                    "DimmingLevelOutput > 0.7"
                ]
            }
        }
    }, 
    "LIGHTING/Perimeter_mid_ZN_4": {
        "Perimeter_mid_ZN_4": {
            "device_topic": "PNNL/LargeOffice/LIGHTING/Perimeter_mid_ZN_4", 
            "curtail_settings": {
                "load": {
                    "operation": "(DimmingLevelOutput-0.7)*0.01*21.732", 
                    "equation_args": "DimmingLevelOutput"
                }, 
                "control_method": "value", 
                "value": 0.7, 
                "point": "DimmingLevelOutput"
            }, 
            "device_status": {
                "device_status_args": [
                    "DimmingLevelOutput"
                ], 
                "condition": [
                    "DimmingLevelOutput > 0.7"
                ]
            }
        }
    }, 
    "LIGHTING/Perimeter_bot_ZN_3": {
        "Perimeter_bot_ZN_3": {
            "device_topic": "PNNL/LargeOffice/LIGHTING/Perimeter_bot_ZN_3", 
            "curtail_settings": {
                "load": {
                    "operation": "(DimmingLevelOutput-0.7)*0.01*3.372", 
                    "equation_args": "DimmingLevelOutput"
                }, 
                "control_method": "value", 
                "value": 0.7, 
                "point": "DimmingLevelOutput"
            }, 
            "device_status": {
                "device_status_args": [
                    "DimmingLevelOutput"
                ], 
                "condition": [
                    "DimmingLevelOutput > 0.7"
                ]
            }
        }
    }, 
    "LIGHTING/Perimeter_bot_ZN_2": {
        "Perimeter_bot_ZN_2": {
            "device_topic": "PNNL/LargeOffice/LIGHTING/Perimeter_bot_ZN_2", 
            "curtail_settings": {
                "load": {
                    "operation": "(DimmingLevelOutput-0.7)*0.01*2.173", 
                    "equation_args": "DimmingLevelOutput"
                }, 
                "control_method": "value", 
                "value": 0.7, 
                "point": "DimmingLevelOutput"
            }, 
            "device_status": {
                "device_status_args": [
                    "DimmingLevelOutput"
                ], 
                "condition": [
                    "DimmingLevelOutput > 0.7"
                ]
            }
        }
    }, 
    "LIGHTING/Perimeter_bot_ZN_1": {
        "Perimeter_bot_ZN_1": {
            "device_topic": "PNNL/LargeOffice/LIGHTING/Perimeter_bot_ZN_1", 
            "curtail_settings": {
                "load": {
                    "operation": "(DimmingLevelOutput-0.7)*0.01*3.372", 
                    "equation_args": "DimmingLevelOutput"
                }, 
                "control_method": "value", 
                "value": 0.7, 
                "point": "DimmingLevelOutput"
            }, 
            "device_status": {
                "device_status_args": [
                    "DimmingLevelOutput"
                ], 
                "condition": [
                    "DimmingLevelOutput > 0.7"
                ]
            }
        }
    }, 
    "LIGHTING/Core_bottom": {
        "Core_bottom": {
            "device_topic": "PNNL/LargeOffice/LIGHTING/Core_bottom", 
            "curtail_settings": {
                "load": {
                    "operation": "(DimmingLevelOutput-0.7)*0.01*27.247", 
                    "equation_args": "DimmingLevelOutput"
                }, 
                "control_method": "value", 
                "value": 0.7, 
                "point": "DimmingLevelOutput"
            }, 
            "device_status": {
                "device_status_args": [
                    "DimmingLevelOutput"
                ], 
                "condition": [
                    "DimmingLevelOutput > 0.7"
                ]
            }
        }
    }, 
    "LIGHTING/Perimeter_bot_ZN_4": {
        "Perimeter_bot_ZN_4": {
            "device_topic": "PNNL/LargeOffice/LIGHTING/Perimeter_bot_ZN_4", 
            "curtail_settings": {
                "load": {
                    "operation": "(DimmingLevelOutput-0.7)*0.01*2.173", 
                    "equation_args": "DimmingLevelOutput"
                }, 
                "control_method": "value", 
                "value": 0.7, 
                "point": "DimmingLevelOutput"
            }, 
            "device_status": {
                "device_status_args": [
                    "DimmingLevelOutput"
                ], 
                "condition": [
                    "DimmingLevelOutput > 0.7"
                ]
            }
        }
    }, 
    "LIGHTING/Perimeter_top_ZN_4": {
        "Perimeter_top_ZN_4": {
            "device_topic": "PNNL/LargeOffice/LIGHTING/Perimeter_top_ZN_4", 
            "curtail_settings": {
                "load": {
                    "operation": "(DimmingLevelOutput-0.7)*0.01*2.173", 
                    "equation_args": "DimmingLevelOutput"
                }, 
                "control_method": "value", 
                "value": 0.7, 
                "point": "DimmingLevelOutput"
            }, 
            "device_status": {
                "device_status_args": [
                    "DimmingLevelOutput"
                ], 
                "condition": [
                    "DimmingLevelOutput > 0.7"
                ]
            }
        }
    }, 
    "LIGHTING/Perimeter_top_ZN_1": {
        "Perimeter_top_ZN_1": {
            "device_topic": "PNNL/LargeOffice/LIGHTING/Perimeter_top_ZN_1", 
            "curtail_settings": {
                "load": {
                    "operation": "(DimmingLevelOutput-0.7)*0.01*3.372", 
                    "equation_args": "DimmingLevelOutput"
                }, 
                "control_method": "value", 
                "value": 0.7, 
                "point": "DimmingLevelOutput"
            }, 
            "device_status": {
                "device_status_args": [
                    "DimmingLevelOutput"
                ], 
                "condition": [
                    "DimmingLevelOutput > 0.7"
                ]
            }
        }
    }, 
    "LIGHTING/Perimeter_top_ZN_3": {
        "Perimeter_top_ZN_3": {
            "device_topic": "PNNL/LargeOffice/LIGHTING/Perimeter_top_ZN_3", 
            "curtail_settings": {
                "load": {
                    "operation": "(DimmingLevelOutput-0.7)*0.01*3.372", 
                    "equation_args": "DimmingLevelOutput"
                }, 
                "control_method": "value", 
                "value": 0.7, 
                "point": "DimmingLevelOutput"
            }, 
            "device_status": {
                "device_status_args": [
                    "DimmingLevelOutput"
                ], 
                "condition": [
                    "DimmingLevelOutput > 0.7"
                ]
            }
        }
    }, 
    "LIGHTING/Perimeter_top_ZN_2": {
        "Perimeter_top_ZN_2": {
            "device_topic": "PNNL/LargeOffice/LIGHTING/Perimeter_top_ZN_2", 
            "curtail_settings": {
                "load": {
                    "operation": "(DimmingLevelOutput-0.7)*0.01*2.173", 
                    "equation_args": "DimmingLevelOutput"
                }, 
                "control_method": "value", 
                "value": 0.7, 
                "point": "DimmingLevelOutput"
            }, 
            "device_status": {
                "device_status_args": [
                    "DimmingLevelOutput"
                ], 
                "condition": [
                    "DimmingLevelOutput > 0.7"
                ]
            }
        }
    }
}