{
    "AHU2/Perimeter_bot_ZN_3": {
        "Perimeter_bot_ZN_3": {
            "load": 0.08168727064220184, 
            "device_topic": "PNNL/LargeOffice/AHU2/Perimeter_bot_ZN_3", 
            "augment_settings": {
                "equation": {
                    "operation": "ZoneTemperature - 1.0", 
                    "minimum": 20.5, 
                    "maximum": 27.0, 
                    "equation_args": [
                        "ZoneTemperature"
                    ]
                }, 
                "control_method": "equation", 
                "point": "ZoneCoolingTemperatureSetPoint"
            }, 
            "curtail_settings": {
                "load": 0.08168727064220184, 
                "control_method": "offset", 
                "offset": 3.0, 
                "point": "ZoneCoolingTemperatureSetPoint"
            }, 
            "device_status": {
                "device_status_args": [
                    "OccupancyMode", 
                    "TerminalBoxDamperPosition"
                ], 
                "condition": [
                    "OccupancyMode>0", 
                    "&", 
                    "TerminalBoxDamperPosition>0.1"
                ]
            }
        }
    }, 
    "AHU4/Core_top": {
        "Core_top": {
            "load": 0.5339828712871287, 
            "device_topic": "PNNL/LargeOffice/AHU4/Core_top", 
            "augment_settings": {
                "equation": {
                    "operation": "ZoneTemperature - 1.0", 
                    "minimum": 20.5, 
                    "maximum": 27.0, 
                    "equation_args": [
                        "ZoneTemperature"
                    ]
                }, 
                "control_method": "equation", 
                "point": "ZoneCoolingTemperatureSetPoint"
            }, 
            "curtail_settings": {
                "load": 0.5339828712871287, 
                "control_method": "offset", 
                "offset": 3.0, 
                "point": "ZoneCoolingTemperatureSetPoint"
            }, 
            "device_status": {
                "device_status_args": [
                    "OccupancyMode", 
                    "TerminalBoxDamperPosition"
                ], 
                "condition": [
                    "OccupancyMode>0", 
                    "&", 
                    "TerminalBoxDamperPosition>0.1"
                ]
            }
        }
    }, 
    "AHU2/Perimeter_bot_ZN_1": {
        "Perimeter_bot_ZN_1": {
            "load": 0.15715074923547404, 
            "device_topic": "PNNL/LargeOffice/AHU2/Perimeter_bot_ZN_1", 
            "augment_settings": {
                "equation": {
                    "operation": "ZoneTemperature - 1.0", 
                    "minimum": 20.5, 
                    "maximum": 27.0, 
                    "equation_args": [
                        "ZoneTemperature"
                    ]
                }, 
                "control_method": "equation", 
                "point": "ZoneCoolingTemperatureSetPoint"
            }, 
            "curtail_settings": {
                "load": 0.15715074923547404, 
                "control_method": "offset", 
                "offset": 3.0, 
                "point": "ZoneCoolingTemperatureSetPoint"
            }, 
            "device_status": {
                "device_status_args": [
                    "OccupancyMode", 
                    "TerminalBoxDamperPosition"
                ], 
                "condition": [
                    "OccupancyMode>0", 
                    "&", 
                    "TerminalBoxDamperPosition>0.1"
                ]
            }
        }
    }, 
    "AHU4/Perimeter_top_ZN_4": {
        "Perimeter_top_ZN_4": {
            "load": 0.13817346534653466, 
            "device_topic": "PNNL/LargeOffice/AHU4/Perimeter_top_ZN_4", 
            "augment_settings": {
                "equation": {
                    "operation": "ZoneTemperature - 1.0", 
                    "minimum": 20.5, 
                    "maximum": 27.0, 
                    "equation_args": [
                        "ZoneTemperature"
                    ]
                }, 
                "control_method": "equation", 
                "point": "ZoneCoolingTemperatureSetPoint"
            }, 
            "curtail_settings": {
                "load": 0.13817346534653466, 
                "control_method": "offset", 
                "offset": 3.0, 
                "point": "ZoneCoolingTemperatureSetPoint"
            }, 
            "device_status": {
                "device_status_args": [
                    "OccupancyMode", 
                    "TerminalBoxDamperPosition"
                ], 
                "condition": [
                    "OccupancyMode>0", 
                    "&", 
                    "TerminalBoxDamperPosition>0.1"
                ]
            }
        }
    }, 
    "AHU1/Basement": {
        "Basement": {
            "load": 1.10965, 
            "device_topic": "PNNL/LargeOffice/AHU1/Basement", 
            "augment_settings": {
                "equation": {
                    "operation": "ZoneTemperature - 1.0", 
                    "minimum": 20.5, 
                    "maximum": 27.0, 
                    "equation_args": [
                        "ZoneTemperature"
                    ]
                }, 
                "control_method": "equation", 
                "point": "ZoneCoolingTemperatureSetPoint"
            }, 
            "curtail_settings": {
                "load": 1.10965, 
                "control_method": "offset", 
                "offset": 3.0, 
                "point": "ZoneCoolingTemperatureSetPoint"
            }, 
            "device_status": {
                "device_status_args": [
                    "OccupancyMode", 
                    "TerminalBoxDamperPosition"
                ], 
                "condition": [
                    "OccupancyMode>0", 
                    "&", 
                    "TerminalBoxDamperPosition>0.1"
                ]
            }
        }
    }, 
    "AHU2/Perimeter_bot_ZN_2": {
        "Perimeter_bot_ZN_2": {
            "load": 0.1275877370030581, 
            "device_topic": "PNNL/LargeOffice/AHU2/Perimeter_bot_ZN_2", 
            "augment_settings": {
                "equation": {
                    "operation": "ZoneTemperature - 1.0", 
                    "minimum": 20.5, 
                    "maximum": 27.0, 
                    "equation_args": [
                        "ZoneTemperature"
                    ]
                }, 
                "control_method": "equation", 
                "point": "ZoneCoolingTemperatureSetPoint"
            }, 
            "curtail_settings": {
                "load": 0.1275877370030581, 
                "control_method": "offset", 
                "offset": 3.0, 
                "point": "ZoneCoolingTemperatureSetPoint"
            }, 
            "device_status": {
                "device_status_args": [
                    "OccupancyMode", 
                    "TerminalBoxDamperPosition"
                ], 
                "condition": [
                    "OccupancyMode>0", 
                    "&", 
                    "TerminalBoxDamperPosition>0.1"
                ]
            }
        }
    }, 
    "AHU4/Perimeter_top_ZN_1": {
        "Perimeter_top_ZN_1": {
            "load": 0.15328618811881187, 
            "device_topic": "PNNL/LargeOffice/AHU4/Perimeter_top_ZN_1", 
            "augment_settings": {
                "equation": {
                    "operation": "ZoneTemperature - 1.0", 
                    "minimum": 20.5, 
                    "maximum": 27.0, 
                    "equation_args": [
                        "ZoneTemperature"
                    ]
                }, 
                "control_method": "equation", 
                "point": "ZoneCoolingTemperatureSetPoint"
            }, 
            "curtail_settings": {
                "load": 0.15328618811881187, 
                "control_method": "offset", 
                "offset": 3.0, 
                "point": "ZoneCoolingTemperatureSetPoint"
            }, 
            "device_status": {
                "device_status_args": [
                    "OccupancyMode", 
                    "TerminalBoxDamperPosition"
                ], 
                "condition": [
                    "OccupancyMode>0", 
                    "&", 
                    "TerminalBoxDamperPosition>0.1"
                ]
            }
        }
    }, 
    "AHU2/Perimeter_bot_ZN_4": {
        "Perimeter_bot_ZN_4": {
            "load": 0.1377013990825688, 
            "device_topic": "PNNL/LargeOffice/AHU2/Perimeter_bot_ZN_4", 
            "augment_settings": {
                "equation": {
                    "operation": "ZoneTemperature - 1.0", 
                    "minimum": 20.5, 
                    "maximum": 27.0, 
                    "equation_args": [
                        "ZoneTemperature"
                    ]
                }, 
                "control_method": "equation", 
                "point": "ZoneCoolingTemperatureSetPoint"
            }, 
            "curtail_settings": {
                "load": 0.1377013990825688, 
                "control_method": "offset", 
                "offset": 3.0, 
                "point": "ZoneCoolingTemperatureSetPoint"
            }, 
            "device_status": {
                "device_status_args": [
                    "OccupancyMode", 
                    "TerminalBoxDamperPosition"
                ], 
                "condition": [
                    "OccupancyMode>0", 
                    "&", 
                    "TerminalBoxDamperPosition>0.1"
                ]
            }
        }
    }, 
    "AHU4/Perimeter_top_ZN_3": {
        "Perimeter_top_ZN_3": {
            "load": 0.0806011881188119, 
            "device_topic": "PNNL/LargeOffice/AHU4/Perimeter_top_ZN_3", 
            "augment_settings": {
                "equation": {
                    "operation": "ZoneTemperature - 1.0", 
                    "minimum": 20.5, 
                    "maximum": 27.0, 
                    "equation_args": [
                        "ZoneTemperature"
                    ]
                }, 
                "control_method": "equation", 
                "point": "ZoneCoolingTemperatureSetPoint"
            }, 
            "curtail_settings": {
                "load": 0.0806011881188119, 
                "control_method": "offset", 
                "offset": 3.0, 
                "point": "ZoneCoolingTemperatureSetPoint"
            }, 
            "device_status": {
                "device_status_args": [
                    "OccupancyMode", 
                    "TerminalBoxDamperPosition"
                ], 
                "condition": [
                    "OccupancyMode>0", 
                    "&", 
                    "TerminalBoxDamperPosition>0.1"
                ]
            }
        }
    }, 
    "AHU4/Perimeter_top_ZN_2": {
        "Perimeter_top_ZN_2": {
            "load": 0.11154628712871288, 
            "device_topic": "PNNL/LargeOffice/AHU4/Perimeter_top_ZN_2", 
            "augment_settings": {
                "equation": {
                    "operation": "ZoneTemperature - 1.0", 
                    "minimum": 20.5, 
                    "maximum": 27.0, 
                    "equation_args": [
                        "ZoneTemperature"
                    ]
                }, 
                "control_method": "equation", 
                "point": "ZoneCoolingTemperatureSetPoint"
            }, 
            "curtail_settings": {
                "load": 0.11154628712871288, 
                "control_method": "offset", 
                "offset": 3.0, 
                "point": "ZoneCoolingTemperatureSetPoint"
            }, 
            "device_status": {
                "device_status_args": [
                    "OccupancyMode", 
                    "TerminalBoxDamperPosition"
                ], 
                "condition": [
                    "OccupancyMode>0", 
                    "&", 
                    "TerminalBoxDamperPosition>0.1"
                ]
            }
        }
    }, 
    "AHU3/Perimeter_mid_ZN_1": {
        "Perimeter_mid_ZN_1": {
            "load": 0.1622244927536232, 
            "device_topic": "PNNL/LargeOffice/AHU3/Perimeter_mid_ZN_1", 
            "augment_settings": {
                "equation": {
                    "operation": "ZoneTemperature - 1.0", 
                    "minimum": 20.5, 
                    "maximum": 27.0, 
                    "equation_args": [
                        "ZoneTemperature"
                    ]
                }, 
                "control_method": "equation", 
                "point": "ZoneCoolingTemperatureSetPoint"
            }, 
            "curtail_settings": {
                "load": 0.1622244927536232, 
                "control_method": "offset", 
                "offset": 3.0, 
                "point": "ZoneCoolingTemperatureSetPoint"
            }, 
            "device_status": {
                "device_status_args": [
                    "OccupancyMode", 
                    "TerminalBoxDamperPosition"
                ], 
                "condition": [
                    "OccupancyMode>0", 
                    "&", 
                    "TerminalBoxDamperPosition>0.1"
                ]
            }
        }
    }, 
    "AHU3/Perimeter_mid_ZN_3": {
        "Perimeter_mid_ZN_3": {
            "load": 0.08151984560483579, 
            "device_topic": "PNNL/LargeOffice/AHU3/Perimeter_mid_ZN_3", 
            "augment_settings": {
                "equation": {
                    "operation": "ZoneTemperature - 1.0", 
                    "minimum": 20.5, 
                    "maximum": 27.0, 
                    "equation_args": [
                        "ZoneTemperature"
                    ]
                }, 
                "control_method": "equation", 
                "point": "ZoneCoolingTemperatureSetPoint"
            }, 
            "curtail_settings": {
                "load": 0.08151984560483579, 
                "control_method": "offset", 
                "offset": 3.0, 
                "point": "ZoneCoolingTemperatureSetPoint"
            }, 
            "device_status": {
                "device_status_args": [
                    "OccupancyMode", 
                    "TerminalBoxDamperPosition"
                ], 
                "condition": [
                    "OccupancyMode>0", 
                    "&", 
                    "TerminalBoxDamperPosition>0.1"
                ]
            }
        }
    }, 
    "AHU3/Perimeter_mid_ZN_2": {
        "Perimeter_mid_ZN_2": {
            "load": 0.12279853106110261, 
            "device_topic": "PNNL/LargeOffice/AHU3/Perimeter_mid_ZN_2", 
            "augment_settings": {
                "equation": {
                    "operation": "ZoneTemperature - 1.0", 
                    "minimum": 20.5, 
                    "maximum": 27.0, 
                    "equation_args": [
                        "ZoneTemperature"
                    ]
                }, 
                "control_method": "equation", 
                "point": "ZoneCoolingTemperatureSetPoint"
            }, 
            "curtail_settings": {
                "load": 0.12279853106110261, 
                "control_method": "offset", 
                "offset": 3.0, 
                "point": "ZoneCoolingTemperatureSetPoint"
            }, 
            "device_status": {
                "device_status_args": [
                    "OccupancyMode", 
                    "TerminalBoxDamperPosition"
                ], 
                "condition": [
                    "OccupancyMode>0", 
                    "&", 
                    "TerminalBoxDamperPosition>0.1"
                ]
            }
        }
    }, 
    "AHU3/Core_mid": {
        "Core_mid": {
            "load": 0.5105365603379215, 
            "device_topic": "PNNL/LargeOffice/AHU3/Core_mid", 
            "augment_settings": {
                "equation": {
                    "operation": "ZoneTemperature - 1.0", 
                    "minimum": 20.5, 
                    "maximum": 27.0, 
                    "equation_args": [
                        "ZoneTemperature"
                    ]
                }, 
                "control_method": "equation", 
                "point": "ZoneCoolingTemperatureSetPoint"
            }, 
            "curtail_settings": {
                "load": 0.5105365603379215, 
                "control_method": "offset", 
                "offset": 3.0, 
                "point": "ZoneCoolingTemperatureSetPoint"
            }, 
            "device_status": {
                "device_status_args": [
                    "OccupancyMode", 
                    "TerminalBoxDamperPosition"
                ], 
                "condition": [
                    "OccupancyMode>0", 
                    "&", 
                    "TerminalBoxDamperPosition>0.1"
                ]
            }
        }
    }, 
    "AHU2/Core_bottom": {
        "Core_bottom": {
            "load": 0.5134628440366972, 
            "device_topic": "PNNL/LargeOffice/AHU2/Core_bottom", 
            "augment_settings": {
                "equation": {
                    "operation": "ZoneTemperature - 1.0", 
                    "minimum": 20.5, 
                    "maximum": 27.0, 
                    "equation_args": [
                        "ZoneTemperature"
                    ]
                }, 
                "control_method": "equation", 
                "point": "ZoneCoolingTemperatureSetPoint"
            }, 
            "curtail_settings": {
                "load": 0.5134628440366972, 
                "control_method": "offset", 
                "offset": 3.0, 
                "point": "ZoneCoolingTemperatureSetPoint"
            }, 
            "device_status": {
                "device_status_args": [
                    "OccupancyMode", 
                    "TerminalBoxDamperPosition"
                ], 
                "condition": [
                    "OccupancyMode>0", 
                    "&", 
                    "TerminalBoxDamperPosition>0.1"
                ]
            }
        }
    }, 
    "AHU3/Perimeter_mid_ZN_4": {
        "Perimeter_mid_ZN_4": {
            "load": 0.14051057024251692, 
            "device_topic": "PNNL/LargeOffice/AHU3/Perimeter_mid_ZN_4", 
            "augment_settings": {
                "equation": {
                    "operation": "ZoneTemperature - 1.0", 
                    "minimum": 20.5, 
                    "maximum": 27.0, 
                    "equation_args": [
                        "ZoneTemperature"
                    ]
                }, 
                "control_method": "equation", 
                "point": "ZoneCoolingTemperatureSetPoint"
            }, 
            "curtail_settings": {
                "load": 0.14051057024251692, 
                "control_method": "offset", 
                "offset": 3.0, 
                "point": "ZoneCoolingTemperatureSetPoint"
            }, 
            "device_status": {
                "device_status_args": [
                    "OccupancyMode", 
                    "TerminalBoxDamperPosition"
                ], 
                "condition": [
                    "OccupancyMode>0", 
                    "&", 
                    "TerminalBoxDamperPosition>0.1"
                ]
            }
        }
    }
}