{
    "AHU2/Perimeter_bot_ZN_3": {
        "Perimeter_bot_ZN_3": {
            "device_topic": "PNNL/LargeOffice/AHU2/Perimeter_bot_ZN_3", 
            "room_type": {
                "map_key": "mapper", 
                "dict_name": "zone_type"
            }, 
            "zonetemperature_setpoint": {
                "operation": "formula", 
                "operation_args": {
                    "always": [
                        "ZoneTemperature"
                    ], 
                    "nc": [
                        "ZoneCoolingTemperatureSetPoint"
                    ], 
                    "minimum": 0.0, 
                    "maximum": 1.0
                }
            }, 
            "available_zone_airflow_ratio": {
                "operation_type": "formula", 
                "operation": "TerminalBoxDamperPosition/0.3 - 1.0", 
                "minimum": 0.0, 
                "maximum": 1.0, 
                "operation_args": [
                    "TerminalBoxDamperPosition"
                ]
            }
        }
    }, 
    "mappers": {
        "zone_type": {
            "Private Office": 1, 
            "Conference Room": 5, 
            "Lobby": 9, 
            "Office": 3, 
            "Restroom": 9
        }
    }, 
    "AHU4/Core_top": {
        "Core_top": {
            "device_topic": "PNNL/LargeOffice/AHU4/Core_top", 
            "room_type": {
                "map_key": "mapper", 
                "dict_name": "zone_type"
            }, 
            "zonetemperature_setpoint": {
                "operation": "formula", 
                "operation_args": {
                    "always": [
                        "ZoneTemperature"
                    ], 
                    "nc": [
                        "ZoneCoolingTemperatureSetPoint"
                    ], 
                    "minimum": 0.0, 
                    "maximum": 1.0
                }
            }, 
            "available_zone_airflow_ratio": {
                "operation_type": "formula", 
                "operation": "TerminalBoxDamperPosition/0.3 - 1.0", 
                "minimum": 0.0, 
                "maximum": 1.0, 
                "operation_args": [
                    "TerminalBoxDamperPosition"
                ]
            }
        }
    }, 
    "AHU2/Perimeter_bot_ZN_1": {
        "Perimeter_bot_ZN_1": {
            "device_topic": "PNNL/LargeOffice/AHU2/Perimeter_bot_ZN_1", 
            "room_type": {
                "map_key": "mapper", 
                "dict_name": "zone_type"
            }, 
            "zonetemperature_setpoint": {
                "operation": "formula", 
                "operation_args": {
                    "always": [
                        "ZoneTemperature"
                    ], 
                    "nc": [
                        "ZoneCoolingTemperatureSetPoint"
                    ], 
                    "minimum": 0.0, 
                    "maximum": 1.0
                }
            }, 
            "available_zone_airflow_ratio": {
                "operation_type": "formula", 
                "operation": "TerminalBoxDamperPosition/0.3 - 1.0", 
                "minimum": 0.0, 
                "maximum": 1.0, 
                "operation_args": [
                    "TerminalBoxDamperPosition"
                ]
            }
        }
    }, 
    "AHU4/Perimeter_top_ZN_4": {
        "Perimeter_top_ZN_4": {
            "device_topic": "PNNL/LargeOffice/AHU4/Perimeter_top_ZN_4", 
            "room_type": {
                "map_key": "mapper", 
                "dict_name": "zone_type"
            }, 
            "zonetemperature_setpoint": {
                "operation": "formula", 
                "operation_args": {
                    "always": [
                        "ZoneTemperature"
                    ], 
                    "nc": [
                        "ZoneCoolingTemperatureSetPoint"
                    ], 
                    "minimum": 0.0, 
                    "maximum": 1.0
                }
            }, 
            "available_zone_airflow_ratio": {
                "operation_type": "formula", 
                "operation": "TerminalBoxDamperPosition/0.3 - 1.0", 
                "minimum": 0.0, 
                "maximum": 1.0, 
                "operation_args": [
                    "TerminalBoxDamperPosition"
                ]
            }
        }
    }, 
    "AHU1/Basement": {
        "Basement": {
            "device_topic": "PNNL/LargeOffice/AHU1/Basement", 
            "room_type": {
                "map_key": "mapper", 
                "dict_name": "zone_type"
            }, 
            "zonetemperature_setpoint": {
                "operation": "formula", 
                "operation_args": {
                    "always": [
                        "ZoneTemperature"
                    ], 
                    "nc": [
                        "ZoneCoolingTemperatureSetPoint"
                    ], 
                    "minimum": 0.0, 
                    "maximum": 1.0
                }
            }, 
            "available_zone_airflow_ratio": {
                "operation_type": "formula", 
                "operation": "TerminalBoxDamperPosition/0.3 - 1.0", 
                "minimum": 0.0, 
                "maximum": 1.0, 
                "operation_args": [
                    "TerminalBoxDamperPosition"
                ]
            }
        }
    }, 
    "AHU2/Perimeter_bot_ZN_2": {
        "Perimeter_bot_ZN_2": {
            "device_topic": "PNNL/LargeOffice/AHU2/Perimeter_bot_ZN_2", 
            "room_type": {
                "map_key": "mapper", 
                "dict_name": "zone_type"
            }, 
            "zonetemperature_setpoint": {
                "operation": "formula", 
                "operation_args": {
                    "always": [
                        "ZoneTemperature"
                    ], 
                    "nc": [
                        "ZoneCoolingTemperatureSetPoint"
                    ], 
                    "minimum": 0.0, 
                    "maximum": 1.0
                }
            }, 
            "available_zone_airflow_ratio": {
                "operation_type": "formula", 
                "operation": "TerminalBoxDamperPosition/0.3 - 1.0", 
                "minimum": 0.0, 
                "maximum": 1.0, 
                "operation_args": [
                    "TerminalBoxDamperPosition"
                ]
            }
        }
    }, 
    "AHU4/Perimeter_top_ZN_1": {
        "Perimeter_top_ZN_1": {
            "device_topic": "PNNL/LargeOffice/AHU4/Perimeter_top_ZN_1", 
            "room_type": {
                "map_key": "mapper", 
                "dict_name": "zone_type"
            }, 
            "zonetemperature_setpoint": {
                "operation": "formula", 
                "operation_args": {
                    "always": [
                        "ZoneTemperature"
                    ], 
                    "nc": [
                        "ZoneCoolingTemperatureSetPoint"
                    ], 
                    "minimum": 0.0, 
                    "maximum": 1.0
                }
            }, 
            "available_zone_airflow_ratio": {
                "operation_type": "formula", 
                "operation": "TerminalBoxDamperPosition/0.3 - 1.0", 
                "minimum": 0.0, 
                "maximum": 1.0, 
                "operation_args": [
                    "TerminalBoxDamperPosition"
                ]
            }
        }
    }, 
    "AHU2/Perimeter_bot_ZN_4": {
        "Perimeter_bot_ZN_4": {
            "device_topic": "PNNL/LargeOffice/AHU2/Perimeter_bot_ZN_4", 
            "room_type": {
                "map_key": "mapper", 
                "dict_name": "zone_type"
            }, 
            "zonetemperature_setpoint": {
                "operation": "formula", 
                "operation_args": {
                    "always": [
                        "ZoneTemperature"
                    ], 
                    "nc": [
                        "ZoneCoolingTemperatureSetPoint"
                    ], 
                    "minimum": 0.0, 
                    "maximum": 1.0
                }
            }, 
            "available_zone_airflow_ratio": {
                "operation_type": "formula", 
                "operation": "TerminalBoxDamperPosition/0.3 - 1.0", 
                "minimum": 0.0, 
                "maximum": 1.0, 
                "operation_args": [
                    "TerminalBoxDamperPosition"
                ]
            }
        }
    }, 
    "AHU4/Perimeter_top_ZN_3": {
        "Perimeter_top_ZN_3": {
            "device_topic": "PNNL/LargeOffice/AHU4/Perimeter_top_ZN_3", 
            "room_type": {
                "map_key": "mapper", 
                "dict_name": "zone_type"
            }, 
            "zonetemperature_setpoint": {
                "operation": "formula", 
                "operation_args": {
                    "always": [
                        "ZoneTemperature"
                    ], 
                    "nc": [
                        "ZoneCoolingTemperatureSetPoint"
                    ], 
                    "minimum": 0.0, 
                    "maximum": 1.0
                }
            }, 
            "available_zone_airflow_ratio": {
                "operation_type": "formula", 
                "operation": "TerminalBoxDamperPosition/0.3 - 1.0", 
                "minimum": 0.0, 
                "maximum": 1.0, 
                "operation_args": [
                    "TerminalBoxDamperPosition"
                ]
            }
        }
    }, 
    "AHU4/Perimeter_top_ZN_2": {
        "Perimeter_top_ZN_2": {
            "device_topic": "PNNL/LargeOffice/AHU4/Perimeter_top_ZN_2", 
            "room_type": {
                "map_key": "mapper", 
                "dict_name": "zone_type"
            }, 
            "zonetemperature_setpoint": {
                "operation": "formula", 
                "operation_args": {
                    "always": [
                        "ZoneTemperature"
                    ], 
                    "nc": [
                        "ZoneCoolingTemperatureSetPoint"
                    ], 
                    "minimum": 0.0, 
                    "maximum": 1.0
                }
            }, 
            "available_zone_airflow_ratio": {
                "operation_type": "formula", 
                "operation": "TerminalBoxDamperPosition/0.3 - 1.0", 
                "minimum": 0.0, 
                "maximum": 1.0, 
                "operation_args": [
                    "TerminalBoxDamperPosition"
                ]
            }
        }
    }, 
    "AHU3/Perimeter_mid_ZN_1": {
        "Perimeter_mid_ZN_1": {
            "device_topic": "PNNL/LargeOffice/AHU3/Perimeter_mid_ZN_1", 
            "room_type": {
                "map_key": "mapper", 
                "dict_name": "zone_type"
            }, 
            "zonetemperature_setpoint": {
                "operation": "formula", 
                "operation_args": {
                    "always": [
                        "ZoneTemperature"
                    ], 
                    "nc": [
                        "ZoneCoolingTemperatureSetPoint"
                    ], 
                    "minimum": 0.0, 
                    "maximum": 1.0
                }
            }, 
            "available_zone_airflow_ratio": {
                "operation_type": "formula", 
                "operation": "TerminalBoxDamperPosition/0.3 - 1.0", 
                "minimum": 0.0, 
                "maximum": 1.0, 
                "operation_args": [
                    "TerminalBoxDamperPosition"
                ]
            }
        }
    }, 
    "AHU3/Perimeter_mid_ZN_3": {
        "Perimeter_mid_ZN_3": {
            "device_topic": "PNNL/LargeOffice/AHU3/Perimeter_mid_ZN_3", 
            "room_type": {
                "map_key": "mapper", 
                "dict_name": "zone_type"
            }, 
            "zonetemperature_setpoint": {
                "operation": "formula", 
                "operation_args": {
                    "always": [
                        "ZoneTemperature"
                    ], 
                    "nc": [
                        "ZoneCoolingTemperatureSetPoint"
                    ], 
                    "minimum": 0.0, 
                    "maximum": 1.0
                }
            }, 
            "available_zone_airflow_ratio": {
                "operation_type": "formula", 
                "operation": "TerminalBoxDamperPosition/0.3 - 1.0", 
                "minimum": 0.0, 
                "maximum": 1.0, 
                "operation_args": [
                    "TerminalBoxDamperPosition"
                ]
            }
        }
    }, 
    "AHU3/Perimeter_mid_ZN_2": {
        "Perimeter_mid_ZN_2": {
            "device_topic": "PNNL/LargeOffice/AHU3/Perimeter_mid_ZN_2", 
            "room_type": {
                "map_key": "mapper", 
                "dict_name": "zone_type"
            }, 
            "zonetemperature_setpoint": {
                "operation": "formula", 
                "operation_args": {
                    "always": [
                        "ZoneTemperature"
                    ], 
                    "nc": [
                        "ZoneCoolingTemperatureSetPoint"
                    ], 
                    "minimum": 0.0, 
                    "maximum": 1.0
                }
            }, 
            "available_zone_airflow_ratio": {
                "operation_type": "formula", 
                "operation": "TerminalBoxDamperPosition/0.3 - 1.0", 
                "minimum": 0.0, 
                "maximum": 1.0, 
                "operation_args": [
                    "TerminalBoxDamperPosition"
                ]
            }
        }
    }, 
    "AHU3/Core_mid": {
        "Core_mid": {
            "device_topic": "PNNL/LargeOffice/AHU3/Core_mid", 
            "room_type": {
                "map_key": "mapper", 
                "dict_name": "zone_type"
            }, 
            "zonetemperature_setpoint": {
                "operation": "formula", 
                "operation_args": {
                    "always": [
                        "ZoneTemperature"
                    ], 
                    "nc": [
                        "ZoneCoolingTemperatureSetPoint"
                    ], 
                    "minimum": 0.0, 
                    "maximum": 1.0
                }
            }, 
            "available_zone_airflow_ratio": {
                "operation_type": "formula", 
                "operation": "TerminalBoxDamperPosition/0.3 - 1.0", 
                "minimum": 0.0, 
                "maximum": 1.0, 
                "operation_args": [
                    "TerminalBoxDamperPosition"
                ]
            }
        }
    }, 
    "AHU2/Core_bottom": {
        "Core_bottom": {
            "device_topic": "PNNL/LargeOffice/AHU2/Core_bottom", 
            "room_type": {
                "map_key": "mapper", 
                "dict_name": "zone_type"
            }, 
            "zonetemperature_setpoint": {
                "operation": "formula", 
                "operation_args": {
                    "always": [
                        "ZoneTemperature"
                    ], 
                    "nc": [
                        "ZoneCoolingTemperatureSetPoint"
                    ], 
                    "minimum": 0.0, 
                    "maximum": 1.0
                }
            }, 
            "available_zone_airflow_ratio": {
                "operation_type": "formula", 
                "operation": "TerminalBoxDamperPosition/0.3 - 1.0", 
                "minimum": 0.0, 
                "maximum": 1.0, 
                "operation_args": [
                    "TerminalBoxDamperPosition"
                ]
            }
        }
    }, 
    "AHU3/Perimeter_mid_ZN_4": {
        "Perimeter_mid_ZN_4": {
            "device_topic": "PNNL/LargeOffice/AHU3/Perimeter_mid_ZN_4", 
            "room_type": {
                "map_key": "mapper", 
                "dict_name": "zone_type"
            }, 
            "zonetemperature_setpoint": {
                "operation": "formula", 
                "operation_args": {
                    "always": [
                        "ZoneTemperature"
                    ], 
                    "nc": [
                        "ZoneCoolingTemperatureSetPoint"
                    ], 
                    "minimum": 0.0, 
                    "maximum": 1.0
                }
            }, 
            "available_zone_airflow_ratio": {
                "operation_type": "formula", 
                "operation": "TerminalBoxDamperPosition/0.3 - 1.0", 
                "minimum": 0.0, 
                "maximum": 1.0, 
                "operation_args": [
                    "TerminalBoxDamperPosition"
                ]
            }
        }
    }
}