{
    "building": "SMALL_OFFICE", 
    "agent_name": "hp5", 
    "schedule": {
        "Monday": {
            "start": "6:00", 
            "end": "22:00"
        }, 
        "Tuesday": {
            "start": "6:00", 
            "end": "22:00"
        }, 
        "Wednesday": {
            "start": "6:00", 
            "end": "22:00"
        }, 
        "Thursday": {
            "start": "6:00", 
            "end": "22:00"
        }, 
        "Friday": {
            "start": "6:00", 
            "end": "22:00"
        }, 
        "Saturday": "always_off", 
        "Sunday": "always_off"
    },  
    "actuation_method": "periodic",
    "control_interval": 300,
    "tns": true,
    "actuation_enabled_onstart": true, 
    "model_parameters": {
        "c": 31.05, 
        "rated_power": 13.68, 
        "on_min": 0, 
        "temp_db": 0.5, 
        "model_type": "rtu.rtuzone",
        "off_min": 0, 
        "c3": [
            0.0, 
            0.0, 
            0.0, 
            0.0, 
            0.0, 
            0.0, 
            -6.8154266850090321, 
            -21.445121874344448, 
            -42.939299363097561, 
            548.41694000426901, 
            295.11564516571275, 
            398.51017932474531, 
            143475.43789907373, 
            102008.39260468759, 
            2463.2309191696322, 
            123563.97634990988, 
            42552.598288213463, 
            18417.663215201734, 
            10409.072934783011, 
            5693.8977371075125, 
            -10.415965475198375, 
            0.0, 
            0.0, 
            0.0, 
            0.0
        ], 
        "c2": [
            0.0, 
            0.0, 
            0.0, 
            0.0, 
            0.0, 
            0.0, 
            -157.95087008828966, 
            -549.51586500795361, 
            -1737.2140858676698, 
            -8901.5377115883857, 
            -8051.6276234633842, 
            -8646.8543232467437, 
            -6240.8229078712166, 
            -4407.0723078652836, 
            -11353.668645396989, 
            -23371.9007007982, 
            -1309.2749749176492, 
            -395.05503361896342, 
            -228.04979716440528, 
            -124.74619326406935, 
            -237.48401283452262, 
            0.0, 
            0.0, 
            0.0, 
            0.0
        ], 
        "c1": [
            0.0, 
            0.0, 
            0.0, 
            0.0, 
            0.0, 
            0.0, 
            308.67203966422517, 
            850.280480949045, 
            2217.824818414138, 
            9889.739779686799, 
            8406.8120484973424, 
            8340.0017391948386, 
            477.89101616276741, 
            361.14559720451524, 
            9513.5482284210575, 
            14939.393629094955, 
            -213.98773564781584, 
            -141.15250264417094, 
            154.68885321268039, 
            162.27341869542491, 
            424.98697330568859, 
            0.0, 
            0.0, 
            -0.0, 
            -0.0
        ]
    }, 
    "inputs": [
        {
            "topic": "devices/PNNL/SMALL_OFFICE/HP5/all", 
            "mapped": "sfs", 
            "point": "SupplyFanStatus", 
            "inital_value": 0
        }, 
        {
            "topic": "devices/PNNL/SMALL_OFFICE/HP5/all", 
            "mapped": "oat", 
            "point": "OutdoorAirTemperature", 
            "inital_value": 22.8
        }, 
        {
            "topic": "devices/PNNL/SMALL_OFFICE/HP5/all", 
            "mapped": "zt", 
            "point": "ZoneTemperature", 
            "inital_value": 22.8
        }, 
        {
            "topic": "devices/PNNL/SMALL_OFFICE/HP5/all", 
            "mapped": "mclg", 
            "point": "FirstStageCooling", 
            "inital_value": 0
        }
    ], 
    "actuation_enable_topic": "default", 
    "outputs": [
        {
            "off_setpoint": 26.7, 
            "point": "ZoneCoolingTemperatureSetPoint", 
            "flexibility_range": [
                21.0, 
                24.6
            ], 
            "offset": 0, 
            "topic": "PNNL/SMALL_OFFICE/HP5/ZoneCoolingTemperatureSetPoint", 
            "mapped": "csp", 
            "release": "None", 
            "actuator": "platform.actuator", 
            "fallback": 22.8
        }
    ], 
    "input_data_timezone": "UTC", 
    "campus": "PNNL"
}