{
    "building": "SMALL_OFFICE", 
    "agent_name": "hp7", 
    "schedule": {
        "Monday": {
            "start": "6:00", 
            "end": "22:00"
        }, 
        "Tuesday": {
            "start": "6:00", 
            "end": "22:00"
        }, 
        "Wednesday": {
            "start": "6:00", 
            "end": "22:00"
        }, 
        "Thursday": {
            "start": "6:00", 
            "end": "22:00"
        }, 
        "Friday": {
            "start": "6:00", 
            "end": "22:00"
        }, 
        "Saturday": "always_off", 
        "Sunday": "always_off"
    }, 
    "actuation_method": "periodic",
    "control_interval": 300,
    "tns": true,
    "actuation_enabled_onstart": true, 
    "model_parameters": {
        "c": 7.3, 
        "rated_power": 3.29, 
        "on_min": 0, 
        "temp_db": 0.5, 
        "model_type": "rtu.rtuzone",
        "off_min": 0, 
        "c3": [
            0.0, 
            0.0, 
            0.0, 
            0.0, 
            0.0, 
            0.0, 
            0.0, 
            -1.455803138735019, 
            -5.4547316133259631, 
            68.427613679699704, 
            12.745396798925999, 
            19.248800311395634, 
            21330.182949785136, 
            25105.928385954892, 
            807.94964780049588, 
            27181.777478214877, 
            5522.3884996241113, 
            23.011204884144153, 
            -0.95669548727876652, 
            -1.6742913379712807, 
            -2.3040222548831886, 
            0.0, 
            0.0, 
            0.0, 
            0.0
        ], 
        "c2": [
            0.0, 
            0.0, 
            0.0, 
            0.0, 
            0.0, 
            0.0, 
            0.0, 
            -37.303911152881824, 
            -220.68447165771269, 
            -1110.6713510328595, 
            -347.73211999862201, 
            -419.39626866709648, 
            -927.77906978027067, 
            -1084.5943899235913, 
            -3750.3365396445897, 
            -5139.3507029749217, 
            -169.90702834953186, 
            -0.49361428402464602, 
            -21.812657109955808, 
            -38.173842505745199, 
            -52.531707411336633, 
            0.0, 
            0.0, 
            0.0, 
            0.0
        ], 
        "c1": [
            0.0, 
            0.0, 
            0.0, 
            0.0, 
            0.0, 
            0.0, 
            0.0, 
            57.721331696026134, 
            281.73815896538213, 
            1233.9722639346239, 
            363.07175552121254, 
            402.66366025151177, 
            54.24821677782036, 
            55.218005474686493, 
            3097.38625664543, 
            3251.3399824722369, 
            -43.312504305704863, 
            0.94147460171347375, 
            61.862371694987992, 
            65.630776532671234, 
            75.230248575363262, 
            0.0, 
            0.0, 
            -0.0, 
            -0.0
        ]
    }, 
    "inputs": [
        {
            "topic": "devices/PNNL/SMALL_OFFICE/HP7/all", 
            "mapped": "sfs", 
            "point": "SupplyFanStatus", 
            "inital_value": 0
        }, 
        {
            "topic": "devices/PNNL/SMALL_OFFICE/HP7/all", 
            "mapped": "oat", 
            "point": "OutdoorAirTemperature", 
            "inital_value": 22.8
        }, 
        {
            "topic": "devices/PNNL/SMALL_OFFICE/HP7/all", 
            "mapped": "zt", 
            "point": "ZoneTemperature", 
            "inital_value": 22.8
        }, 
        {
            "topic": "devices/PNNL/SMALL_OFFICE/HP7/all", 
            "mapped": "mclg", 
            "point": "FirstStageCooling", 
            "inital_value": 0
        }
    ], 
    "actuation_enable_topic": "default", 
    "outputs": [
        {
            "off_setpoint": 26.7, 
            "point": "ZoneCoolingTemperatureSetPoint", 
            "flexibility_range": [
                21.0, 
                24.6
            ], 
            "offset": 0, 
            "topic": "PNNL/SMALL_OFFICE/HP7/ZoneCoolingTemperatureSetPoint", 
            "mapped": "csp", 
            "release": "None", 
            "actuator": "platform.actuator", 
            "fallback": 22.8
        }
    ], 
    "input_data_timezone": "UTC", 
    "campus": "PNNL"
}