{
    "campus": "PNNL", # if omitted defaults to ""
    "building": "LargeOffice", # if omitted defaults to ""
    "input_data_timezone": "UTC", # if omitted defaults to "UTC"
    "supplier_market_name": "air3",
	"consumer_market_name": "electric",

    "agent_name": "ahu3",
    "inputs": [
        {
            "mapped": "sfs", # mapped value does not change (for rtu agent or vav agent)
            "point": "SupplyFanStatus",
            "topic": "devices/PNNL/LargeOffice/AHU3/all",
            "inital_value": 0
        },
        {
            "mapped": "oat",
            "point": "OutdoorAirTemperature",
            "topic": "devices/PNNL/LargeOffice/AHU3/all",
            "inital_value": 21.1
        },
        {
            "mapped": "mat",
            "point": "MixedAirTemperature",
            "topic": "devices/PNNL/LargeOffice/AHU3/all",
            "inital_value": 21.1
        },
        {
            "mapped": "dat",
            "point": "DischargeAirTemperature",
            "topic": "devices/PNNL/LargeOffice/AHU3/all",
            "inital_value": 13.8
        },
        {
            "mapped": "saf",
            "point": "SupplyAirFlow",
            "topic": "devices/PNNL/LargeOffice/AHU3/all",
            "inital_value": 0.0
        }
    ],
    "outputs": [],
    "schedule":{},
    "model_parameters": {
        "equipment_configuration": {
            "has_economizer": true,
            "economizer_limit": 18.33,
            "supply-air sepoint": 13.0,
            "nominal zone-setpoint": 21.1,
            "building chiller": true
        },
        "model_configuration": {
            "c0": 0.0096091299184948298,
            "c1": 0.47798302770400708,
            "c2": -0.0050705825308268752,
            "c3": 6.7665079853950462e-05,
            "cpAir": 1.006, #kj/kgK for calculation of kW
            "COP" : 5.5
        }
    }
}