{
    "campus": "PNNL", # if ommited defaults to ""
    "building": "LargeOffice", # if omiited defaults to ""
    "actuation_enable_topic": "default", #if ommited defaults or set to default use "campus/building/actuate"
    "input_data_timezone": "UTC", # if ommited defaults to "UTC"
    "actuation_enabled_onstart": true, # if ommited defaults to false
    "control_interval":300,
    "agent_name": "light_pm4",
    "market_name": "electric",
    "inputs": [
        {
            "mapped": "occ", # mapped value does not change (for rtu agent or vav agent)
            "point": "SupplyFanStatus",
            "topic": "devices/PNNL/LargeOffice/AHU1/all",
            "inital_value": 0
        }
    ],
    "outputs": [
        {
            "mapped": "light",
            "point": "DimmingLevelOutput",
            "topic": "PNNL/LargeOffice/LIGHTING/Perimeter_mid_ZN_4/DimmingLevelOutput",
            "flexibility_range": [0.9, 0.7], # [setpoint at min price, setpoint at max price]
            "off_setpoint": 0.15, # unoccupied or off set point
            "actuator": "platform.actuator", #if ommited defaults to "platform.actuator"
            "release": "None", # Options "None" or "default" - if ommited defaults to "None"
            "offset": 0.05 # if ommited defaults to 0
        }
    ],
    "schedule":{
        "Monday": {"start": "5:00", "end": "21:00"},
        "Tuesday": {"start": "5:00", "end": "21:00"},
        "Wednesday": {"start": "5:00", "end": "21:00"},
        "Thursday": {"start": "5:00", "end": "21:00"},
        "Friday": {"start": "5:00", "end": "21:00"},
        "Saturday": "always_off",
        "Sunday": "always_off"
    },
    "model_parameters": {
        "model_type": "simple",
        "rated_power": 0.02173253
    }
}
