{
    "properties": {
        "identity": "platform.actuator",
        "model": "~/volttron/eplus/Small_Office.idf",
        "weather": "~/volttron/eplus/USA_WA_Pasco-Tri.Cities.AP.727845_TMY3.epw",
        "bcvtb_home": "~/volttron/bcvtb",
        "size" :40960,
        "startmonth":8,
        "startday":1,
        "endmonth":8,
        "endday":2,
        "timestep":60,
        "realtime": true,
        "cosimulation_sync": true,
        "co_sim_timestep": 5
    },
    "cosimulation_advance": "applications/ilc/advance",
    "inputs": {
        "South Perim Spc TS11_Cool 1/0": {
            "name": "South Perim Spc TS11_Cool 1/0",
            "type": "schedule",
            "topic": "PNNL/SMALL_OFFICE/HP1",
            "field": "ZoneCoolingTemperatureSetPoint",
            "default": 22.8,
            "dynamic_default": 1.0	
        },
        "East Perim Spc TE12_Cool 1/0": {
            "name": "East Perim Spc TE12_Cool 1/0",
            "type": "schedule",
            "topic": "PNNL/SMALL_OFFICE/HP2",
            "field": "ZoneCoolingTemperatureSetPoint",
            "default": 22.8,
            "dynamic_default": 1.0	
        },
        "North Perim Spc TN13_Cool 1/0": {
            "name": "North Perim Spc TN13_Cool 1/0",
            "type": "schedule",
            "topic": "PNNL/SMALL_OFFICE/HP3",
            "field": "ZoneCoolingTemperatureSetPoint",
            "default": 22.8,
            "dynamic_default": 1.0	
        },
        "West Perim Spc TW14_Cool 1/0": {
            "name": "West Perim Spc TW14_Cool 1/0",
            "type": "schedule",
            "topic": "PNNL/SMALL_OFFICE/HP4",
            "field": "ZoneCoolingTemperatureSetPoint",
            "default": 22.8,
            "dynamic_default": 1.0	
        },
        "Core Spc TC15_Cool 1/0": {
            "name": "Core Spc TC15_Cool 1/0",
            "type": "schedule",
            "topic": "PNNL/SMALL_OFFICE/HP5",
            "field": "ZoneCoolingTemperatureSetPoint",
            "default": 22.8,
            "dynamic_default": 1.0	
        },
        "South Perim Spc GS1_Cool 1/0": {
            "name": "South Perim Spc GS1_Cool 1/0",
            "type": "schedule",
            "topic": "PNNL/SMALL_OFFICE/HP6",
            "field": "ZoneCoolingTemperatureSetPoint",
            "default": 22.8,
            "dynamic_default": 1.0	
        },
        "East Perim Spc GE2_Cool 1/0": {
            "name": "East Perim Spc GE2_Cool 1/0",
            "type": "schedule",
            "topic": "PNNL/SMALL_OFFICE/HP7",
            "field": "ZoneCoolingTemperatureSetPoint",
            "default": 22.8,
            "dynamic_default": 1.0	
        },
        "North Perim Spc GN3_Cool 1/0": {
            "name": "North Perim Spc GN3_Cool 1/0",
            "type": "schedule",
            "topic": "PNNL/SMALL_OFFICE/HP8",
            "field": "ZoneCoolingTemperatureSetPoint",
            "default": 22.8,
            "dynamic_default": 1.0	
        },
        "West Perim Spc GW4_Cool 1/0": {
            "name": "West Perim Spc GW4_Cool 1/0",
            "type": "schedule",
            "topic": "PNNL/SMALL_OFFICE/HP9",
            "field": "ZoneCoolingTemperatureSetPoint",
            "default": 22.8,
            "dynamic_default": 1.0	
        },
        "Core Spc GC5_Cool 1/0": {
            "name": "Core Spc GC5_Cool 1/0",
            "type": "schedule",
            "topic": "PNNL/SMALL_OFFICE/HP10",
            "field": "ZoneCoolingTemperatureSetPoint",
            "default": 22.8,
            "dynamic_default": 1.0	
        },
        "Lighting1": {
            "name": "Lighting1",
            "type": "schedule",
            "topic": "PNNL/SMALL_OFFICE/LIGHTING/GS1",
            "field": "DimmingLevelOutput",
            "default": 0.9,
            "dynamic_default": 1.0	
        },
        "Lighting2": {
            "name": "Lighting2",
            "type": "schedule",
            "topic": "PNNL/SMALL_OFFICE/LIGHTING/GE2",
            "field": "DimmingLevelOutput",
            "default": 0.9,
            "dynamic_default": 1.0	
        },
        "Lighting3": {
            "name": "Lighting3",
            "type": "schedule",
            "topic": "PNNL/SMALL_OFFICE/LIGHTING/GN3",
            "field": "DimmingLevelOutput",
            "default": 0.9,
            "dynamic_default": 1.0	
        },
        "Lighting4": {
            "name": "Lighting4",
            "type": "schedule",
            "topic": "PNNL/SMALL_OFFICE/LIGHTING/GW4",
            "field": "DimmingLevelOutput",
            "default": 0.9,
            "dynamic_default": 1.0	
        },
        "Lighting5": {
            "name": "Lighting5",
            "type": "schedule",
            "topic": "PNNL/SMALL_OFFICE/LIGHTING/GC5",
            "field": "DimmingLevelOutput",
            "default": 0.9,
            "dynamic_default": 1.0	
        },
        "Lighting6": {
            "name": "Lighting6",
            "type": "schedule",
            "topic": "PNNL/SMALL_OFFICE/LIGHTING/TS11",
            "field": "DimmingLevelOutput",
            "default": 0.9,
            "dynamic_default": 1.0	
        },
        "Lighting7": {
            "name": "Lighting7",
            "type": "schedule",
            "topic": "PNNL/SMALL_OFFICE/LIGHTING/TE12",
            "field": "DimmingLevelOutput",
            "default": 0.9,
            "dynamic_default": 1.0	
        },
        "Lighting8": {
            "name": "Lighting8",
            "type": "schedule",
            "topic": "PNNL/SMALL_OFFICE/LIGHTING/TN13",
            "field": "DimmingLevelOutput",
            "default": 0.9,
            "dynamic_default": 1.0	
        },
        "Lighting9": {
            "name": "Lighting9",
            "type": "schedule",
            "topic": "PNNL/SMALL_OFFICE/LIGHTING/TW14",
            "field": "DimmingLevelOutput",
            "default": 0.9,
            "dynamic_default": 1.0	
        },
        "Lighting10": {
            "name": "Lighting10",
            "type": "schedule",
            "topic": "PNNL/SMALL_OFFICE/LIGHTING/TC15",
            "field": "DimmingLevelOutput",
            "default": 0.9,
            "dynamic_default": 1.0	
        }
    },
    "outputs": {
        "ENVIRONMENT Site Outdoor Air Drybulb Temperature1": {
            "name": "ENVIRONMENT",
            "type": "Site Outdoor Air Drybulb Temperature",
            "topic": "devices/PNNL/SMALL_OFFICE/HP1/all",
            "field": "OutdoorAirTemperature",
            "meta": {
                "units": "degreesCentigrade",
                "tz": "US/Pacific",
                "type": "float"
            }
        },
        "ENVIRONMENT Site Outdoor Air Drybulb Temperature2": {
            "name": "ENVIRONMENT",
            "type": "Site Outdoor Air Drybulb Temperature",
            "topic": "devices/PNNL/SMALL_OFFICE/HP2/all",
            "field": "OutdoorAirTemperature",
            "meta": {
                "units": "degreesCentigrade",
                "tz": "US/Pacific",
                "type": "float"
            }
        },
        "ENVIRONMENT Site Outdoor Air Drybulb Temperature3": {
            "name": "ENVIRONMENT",
            "type": "Site Outdoor Air Drybulb Temperature",
            "topic": "devices/PNNL/SMALL_OFFICE/HP3/all",
            "field": "OutdoorAirTemperature",
            "meta": {
                "units": "degreesCentigrade",
                "tz": "US/Pacific",
                "type": "float"
            }
        },
        "ENVIRONMENT Site Outdoor Air Drybulb Temperature4": {
            "name": "ENVIRONMENT",
            "type": "Site Outdoor Air Drybulb Temperature",
            "topic": "devices/PNNL/SMALL_OFFICE/HP4/all",
            "field": "OutdoorAirTemperature",
            "meta": {
                "units": "degreesCentigrade",
                "tz": "US/Pacific",
                "type": "float"
            }
        },
        "ENVIRONMENT Site Outdoor Air Drybulb Temperature5": {
            "name": "ENVIRONMENT",
            "type": "Site Outdoor Air Drybulb Temperature",
            "topic": "devices/PNNL/SMALL_OFFICE/HP5/all",
            "field": "OutdoorAirTemperature",
            "meta": {
                "units": "degreesCentigrade",
                "tz": "US/Pacific",
                "type": "float"
            }
        },
        "ENVIRONMENT Site Outdoor Air Drybulb Temperature6": {
            "name": "ENVIRONMENT",
            "type": "Site Outdoor Air Drybulb Temperature",
            "topic": "devices/PNNL/SMALL_OFFICE/HP6/all",
            "field": "OutdoorAirTemperature",
            "meta": {
                "units": "degreesCentigrade",
                "tz": "US/Pacific",
                "type": "float"
            }
        },
        "ENVIRONMENT Site Outdoor Air Drybulb Temperature7": {
            "name": "ENVIRONMENT",
            "type": "Site Outdoor Air Drybulb Temperature",
            "topic": "devices/PNNL/SMALL_OFFICE/HP7/all",
            "field": "OutdoorAirTemperature",
            "meta": {
                "units": "degreesCentigrade",
                "tz": "US/Pacific",
                "type": "float"
            }
        },
        "ENVIRONMENT Site Outdoor Air Drybulb Temperature8": {
            "name": "ENVIRONMENT",
            "type": "Site Outdoor Air Drybulb Temperature",
            "topic": "devices/PNNL/SMALL_OFFICE/HP8/all",
            "field": "OutdoorAirTemperature",
            "meta": {
                "units": "degreesCentigrade",
                "tz": "US/Pacific",
                "type": "float"
            }
        },
        "ENVIRONMENT Site Outdoor Air Drybulb Temperature9": {
            "name": "ENVIRONMENT",
            "type": "Site Outdoor Air Drybulb Temperature",
            "topic": "devices/PNNL/SMALL_OFFICE/HP9/all",
            "field": "OutdoorAirTemperature",
            "meta": {
                "units": "degreesCentigrade",
                "tz": "US/Pacific",
                "type": "float"
            }
        },
        "ENVIRONMENT Site Outdoor Air Drybulb Temperature10": {
            "name": "ENVIRONMENT",
            "type": "Site Outdoor Air Drybulb Temperature",
            "topic": "devices/PNNL/SMALL_OFFICE/HP10/all",
            "field": "OutdoorAirTemperature",
            "meta": {
                "units": "degreesCentigrade",
                "tz": "US/Pacific",
                "type": "float"
            }
        },
        "ENVIRONMENT Site Outdoor Air Drybulb Temperature10": {
            "name": "ENVIRONMENT",
            "type": "Site Outdoor Air Drybulb Temperature",
            "topic": "devices/PNNL/SMALL_OFFICE/HP10/all",
            "field": "OutdoorAirTemperature",
            "meta": {
                "units": "degreesCentigrade",
                "tz": "US/Pacific",
                "type": "float"
            }
        },
        "Fans D1 Schedule Value1": {
            "name": "Fans D1",
            "type": "Schedule Value",
            "topic": "devices/PNNL/SMALL_OFFICE/HP1/all",
            "field": "SupplyFanStatus",
            "meta": {
                "units": "binary",
                "tz": "US/Pacific",
                "type": "float"
            }
        },
        "Fans D1 Schedule Value2": {
            "name": "Fans D1",
            "type": "Schedule Value",
            "topic": "devices/PNNL/SMALL_OFFICE/HP2/all",
            "field": "SupplyFanStatus",
            "meta": {
                "units": "binary",
                "tz": "US/Pacific",
                "type": "float"
            }
        },
        "Fans D1 Schedule Value3": {
            "name": "Fans D1",
            "type": "Schedule Value",
            "topic": "devices/PNNL/SMALL_OFFICE/HP3/all",
            "field": "SupplyFanStatus",
            "meta": {
                "units": "binary",
                "tz": "US/Pacific",
                "type": "float"
            }
        },
        "Fans D1 Schedule Value4": {
            "name": "Fans D1",
            "type": "Schedule Value",
            "topic": "devices/PNNL/SMALL_OFFICE/HP4/all",
            "field": "SupplyFanStatus",
            "meta": {
                "units": "binary",
                "tz": "US/Pacific",
                "type": "float"
            }
        },
        "Fans D1 Schedule Value5": {
            "name": "Fans D1",
            "type": "Schedule Value",
            "topic": "devices/PNNL/SMALL_OFFICE/HP5/all",
            "field": "SupplyFanStatus",
            "meta": {
                "units": "binary",
                "tz": "US/Pacific",
                "type": "float"
            }
        },
        "Fans D1 Schedule Value6": {
            "name": "Fans D1",
            "type": "Schedule Value",
            "topic": "devices/PNNL/SMALL_OFFICE/HP6/all",
            "field": "SupplyFanStatus",
            "meta": {
                "units": "binary",
                "tz": "US/Pacific",
                "type": "float"
            }
        },
        "Fans D1 Schedule Value7": {
            "name": "Fans D1",
            "type": "Schedule Value",
            "topic": "devices/PNNL/SMALL_OFFICE/HP7/all",
            "field": "SupplyFanStatus",
            "meta": {
                "units": "binary",
                "tz": "US/Pacific",
                "type": "float"
            }
        },
        "Fans D1 Schedule Value8": {
            "name": "Fans D1",
            "type": "Schedule Value",
            "topic": "devices/PNNL/SMALL_OFFICE/HP8/all",
            "field": "SupplyFanStatus",
            "meta": {
                "units": "binary",
                "tz": "US/Pacific",
                "type": "float"
            }
        },
        "Fans D1 Schedule Value9": {
            "name": "Fans D1",
            "type": "Schedule Value",
            "topic": "devices/PNNL/SMALL_OFFICE/HP9/all",
            "field": "SupplyFanStatus",
            "meta": {
                "units": "binary",
                "tz": "US/Pacific",
                "type": "float"
            }
        },
        "Fans D1 Schedule Value10": {
            "name": "Fans D1",
            "type": "Schedule Value",
            "topic": "devices/PNNL/SMALL_OFFICE/HP10/all",
            "field": "SupplyFanStatus",
            "meta": {
                "units": "binary",
                "tz": "US/Pacific",
                "type": "float"
            }
        },		
        "South Perim Spc TS11 Zone Mean Air Temperature": {
            "name": "South Perim Spc TS11",
            "type": "Zone Mean Air Temperature",
            "topic": "devices/PNNL/SMALL_OFFICE/HP1/all",
            "field": "ZoneTemperature",
            "meta": {
                "units": "degreesCentigrade",
                "tz": "US/Pacific",
                "type": "float"
            }
        },
        "East Perim Spc TE12 Zone Mean Air Temperature": {
            "name": "East Perim Spc TE12",
            "type": "Zone Mean Air Temperature",
            "topic": "devices/PNNL/SMALL_OFFICE/HP2/all",
            "field": "ZoneTemperature",
            "meta": {
                "units": "degreesCentigrade",
                "tz": "US/Pacific",
                "type": "float"
            }
        },
        "North Perim Spc TN13 Zone Mean Air Temperature": {
            "name": "North Perim Spc TN13",
            "type": "Zone Mean Air Temperature",
            "topic": "devices/PNNL/SMALL_OFFICE/HP3/all",
            "field": "ZoneTemperature",
            "meta": {
                "units": "degreesCentigrade",
                "tz": "US/Pacific",
                "type": "float"
            }
        },
        "West Perim Spc TW14 Zone Mean Air Temperature": {
            "name": "West Perim Spc TW14",
            "type": "Zone Mean Air Temperature",
            "topic": "devices/PNNL/SMALL_OFFICE/HP4/all",
            "field": "ZoneTemperature",
            "meta": {
                "units": "degreesCentigrade",
                "tz": "US/Pacific",
                "type": "float"
            }
        },
        "Core Spc TC15 Zone Mean Air Temperature": {
            "name": "Core Spc TC15",
            "type": "Zone Mean Air Temperature",
            "topic": "devices/PNNL/SMALL_OFFICE/HP5/all",
            "field": "ZoneTemperature",
            "meta": {
                "units": "degreesCentigrade",
                "tz": "US/Pacific",
                "type": "float"
            }
        },
        "South Perim Spc GS1 Zone Mean Air Temperature": {
            "name": "South Perim Spc GS1",
            "type": "Zone Mean Air Temperature",
            "topic": "devices/PNNL/SMALL_OFFICE/HP6/all",
            "field": "ZoneTemperature",
            "meta": {
                "units": "degreesCentigrade",
                "tz": "US/Pacific",
                "type": "float"
            }
        },
        "East Perim Spc GE2 Zone Mean Air Temperature": {
            "name": "East Perim Spc GE2",
            "type": "Zone Mean Air Temperature",
            "topic": "devices/PNNL/SMALL_OFFICE/HP7/all",
            "field": "ZoneTemperature",
            "meta": {
                "units": "degreesCentigrade",
                "tz": "US/Pacific",
                "type": "float"
            }
        },
        "North Perim Spc GN3 Zone Mean Air Temperature": {
            "name": "North Perim Spc GN3",
            "type": "Zone Mean Air Temperature",
            "topic": "devices/PNNL/SMALL_OFFICE/HP8/all",
            "field": "ZoneTemperature",
            "meta": {
                "units": "degreesCentigrade",
                "tz": "US/Pacific",
                "type": "float"
            }
        },
        "West Perim Spc GW4 Zone Mean Air Temperature": {
            "name": "West Perim Spc GW4",
            "type": "Zone Mean Air Temperature",
            "topic": "devices/PNNL/SMALL_OFFICE/HP9/all",
            "field": "ZoneTemperature",
            "meta": {
                "units": "degreesCentigrade",
                "tz": "US/Pacific",
                "type": "float"
            }
        },
        "Core Spc GC5 Zone Mean Air Temperature": {
            "name": "Core Spc GC5",
            "type": "Zone Mean Air Temperature",
            "topic": "devices/PNNL/SMALL_OFFICE/HP10/all",
            "field": "ZoneTemperature",
            "meta": {
                "units": "degreesCentigrade",
                "tz": "US/Pacific",
                "type": "float"
            }
        },
        "South Perim Spc TS11_Cool 1/0 Schedule Value": {
            "name": "South Perim Spc TS11_Cool 1/0",
            "type": "Schedule Value",
            "topic": "devices/PNNL/SMALL_OFFICE/HP1/all",
            "field": "ZoneCoolingTemperatureSetPoint",
            "meta": {
                "units": "degreesCentigrade",
                "tz": "US/Pacific",
                "type": "float"
            }
        },
        "East Perim Spc TE12_Cool 1/0 Schedule Value": {
            "name": "East Perim Spc TE12_Cool 1/0",
            "type": "Schedule Value",
            "topic": "devices/PNNL/SMALL_OFFICE/HP2/all",
            "field": "ZoneCoolingTemperatureSetPoint",
            "meta": {
                "units": "degreesCentigrade",
                "tz": "US/Pacific",
                "type": "float"
            }
        },
        "North Perim Spc TN13_Cool 1/0 Schedule Value": {
            "name": "North Perim Spc TN13_Cool 1/0",
            "type": "Schedule Value",
            "topic": "devices/PNNL/SMALL_OFFICE/HP3/all",
            "field": "ZoneCoolingTemperatureSetPoint",
            "meta": {
                "units": "degreesCentigrade",
                "tz": "US/Pacific",
                "type": "float"
            }
        },
        "West Perim Spc TW14_Cool 1/0 Schedule Value": {
            "name": "West Perim Spc TW14_Cool 1/0",
            "type": "Schedule Value",
            "topic": "devices/PNNL/SMALL_OFFICE/HP4/all",
            "field": "ZoneCoolingTemperatureSetPoint",
            "meta": {
                "units": "degreesCentigrade",
                "tz": "US/Pacific",
                "type": "float"
            }
        },
        "Core Spc TC15_Cool 1/0 Schedule Value": {
            "name": "Core Spc TC15_Cool 1/0",
            "type": "Schedule Value",
            "topic": "devices/PNNL/SMALL_OFFICE/HP5/all",
            "field": "ZoneCoolingTemperatureSetPoint",
            "meta": {
                "units": "degreesCentigrade",
                "tz": "US/Pacific",
                "type": "float"
            }
        },
        "South Perim Spc GS1_Cool 1/0 Schedule Value": {
            "name": "South Perim Spc GS1_Cool 1/0",
            "type": "Schedule Value",
            "topic": "devices/PNNL/SMALL_OFFICE/HP6/all",
            "field": "ZoneCoolingTemperatureSetPoint",
            "meta": {
                "units": "degreesCentigrade",
                "tz": "US/Pacific",
                "type": "float"
            }
        },
        "East Perim Spc GE2_Cool 1/0 Schedule Value": {
            "name": "East Perim Spc GE2_Cool 1/0",
            "type": "Schedule Value",
            "topic": "devices/PNNL/SMALL_OFFICE/HP7/all",
            "field": "ZoneCoolingTemperatureSetPoint",
            "meta": {
                "units": "degreesCentigrade",
                "tz": "US/Pacific",
                "type": "float"
            }
        },
        "North Perim Spc GN3_Cool 1/0 Schedule Value": {
            "name": "North Perim Spc GN3_Cool 1/0",
            "type": "Schedule Value",
            "topic": "devices/PNNL/SMALL_OFFICE/HP8/all",
            "field": "ZoneCoolingTemperatureSetPoint",
            "meta": {
                "units": "degreesCentigrade",
                "tz": "US/Pacific",
                "type": "float"
            }
        },
        "West Perim Spc GW4_Cool 1/0 Schedule Value": {
            "name": "West Perim Spc GW4_Cool 1/0",
            "type": "Schedule Value",
            "topic": "devices/PNNL/SMALL_OFFICE/HP9/all",
            "field": "ZoneCoolingTemperatureSetPoint",
            "meta": {
                "units": "degreesCentigrade",
                "tz": "US/Pacific",
                "type": "float"
            }
        },
        "Core Spc GC5_Cool 1/0 Schedule Value": {
            "name": "Core Spc GC5_Cool 1/0",
            "type": "Schedule Value",
            "topic": "devices/PNNL/SMALL_OFFICE/HP10/all",
            "field": "ZoneCoolingTemperatureSetPoint",
            "meta": {
                "units": "degreesCentigrade",
                "tz": "US/Pacific",
                "type": "float"
            }
        },
        "Lighting1 Schedule Value": {
            "name": "Lighting1",
            "type": "Schedule Value",
            "topic": "devices/PNNL/SMALL_OFFICE/LIGHTING/GS1/all",
            "field": "DimmingLevelOutput",
            "meta": {
                "units": "fraction",
                "tz": "US/Pacific",
                "type": "float"
            }
        },
        "Lighting2 Schedule Value": {
            "name": "Lighting2",
            "type": "Schedule Value",
            "topic": "devices/PNNL/SMALL_OFFICE/LIGHTING/GE2/all",
            "field": "DimmingLevelOutput",
            "meta": {
                "units": "fraction",
                "tz": "US/Pacific",
                "type": "float"
            }
        },
        "Lighting3 Schedule Value": {
            "name": "Lighting3",
            "type": "Schedule Value",
            "topic": "devices/PNNL/SMALL_OFFICE/LIGHTING/GN3/all",
            "field": "DimmingLevelOutput",
            "meta": {
                "units": "fraction",
                "tz": "US/Pacific",
                "type": "float"
            }
        },
        "Lighting4 Schedule Value": {
            "name": "Lighting4",
            "type": "Schedule Value",
            "topic": "devices/PNNL/SMALL_OFFICE/LIGHTING/GW4/all",
            "field": "DimmingLevelOutput",
            "meta": {
                "units": "fraction",
                "tz": "US/Pacific",
                "type": "float"
            }
        },
        "Lighting5 Schedule Value": {
            "name": "Lighting5",
            "type": "Schedule Value",
            "topic": "devices/PNNL/SMALL_OFFICE/LIGHTING/GC5/all",
            "field": "DimmingLevelOutput",
            "meta": {
                "units": "fraction",
                "tz": "US/Pacific",
                "type": "float"
            }
        },
        "Lighting6 Schedule Value": {
            "name": "Lighting6",
            "type": "Schedule Value",
            "topic": "devices/PNNL/SMALL_OFFICE/LIGHTING/TS11/all",
            "field": "DimmingLevelOutput",
            "meta": {
                "units": "fraction",
                "tz": "US/Pacific",
                "type": "float"
            }
        },
        "Lighting7 Schedule Value": {
            "name": "Lighting7",
            "type": "Schedule Value",
            "topic": "devices/PNNL/SMALL_OFFICE/LIGHTING/TE12/all",
            "field": "DimmingLevelOutput",
            "meta": {
                "units": "fraction",
                "tz": "US/Pacific",
                "type": "float"
            }
        },
        "Lighting8 Schedule Value": {
            "name": "Lighting8",
            "type": "Schedule Value",
            "topic": "devices/PNNL/SMALL_OFFICE/LIGHTING/TN13/all",
            "field": "DimmingLevelOutput",
            "meta": {
                "units": "fraction",
                "tz": "US/Pacific",
                "type": "float"
            }
        },
        "Lighting9 Schedule Value": {
            "name": "Lighting9",
            "type": "Schedule Value",
            "topic": "devices/PNNL/SMALL_OFFICE/LIGHTING/TW14/all",
            "field": "DimmingLevelOutput",
            "meta": {
                "units": "fraction",
                "tz": "US/Pacific",
                "type": "float"
            }
        },
        "Lighting10 Schedule Value": {
            "name": "Lighting10",
            "type": "Schedule Value",
            "topic": "devices/PNNL/SMALL_OFFICE/LIGHTING/TC15/all",
            "field": "DimmingLevelOutput",
            "meta": {
                "units": "fraction",
                "tz": "US/Pacific",
                "type": "float"
            }
        },
        "South Perim Spc GS1 Zone Lights Electric Power": {
            "name": "South Perim Spc GS1",
            "type": "Zone Lights Electric Power",
            "topic": "devices/PNNL/SMALL_OFFICE/LIGHTING/GS1/all",
            "field": "Power",
            "meta": {
                "units": "WATTS",
                "tz": "US/Pacific",
                "type": "float"
            }
        },
        "East Perim Spc GE2 Zone Lights Electric Power": {
            "name": "East Perim Spc GE2",
            "type": "Zone Lights Electric Power",
            "topic": "devices/PNNL/SMALL_OFFICE/LIGHTING/GE2/all",
            "field": "Power",
            "meta": {
                "units": "WATTS",
                "tz": "US/Pacific",
                "type": "float"
            }
        },
        "North Perim Spc GN3 Zone Lights Electric Power": {
            "name": "North Perim Spc GN3",
            "type": "Zone Lights Electric Power",
            "topic": "devices/PNNL/SMALL_OFFICE/LIGHTING/GN3/all",
            "field": "Power",
            "meta": {
                "units": "WATTS",
                "tz": "US/Pacific",
                "type": "float"
            }
        },
        "West Perim Spc GW4 Zone Lights Electric Power": {
            "name": "West Perim Spc GW4",
            "type": "Zone Lights Electric Power",
            "topic": "devices/PNNL/SMALL_OFFICE/LIGHTING/GW4/all",
            "field": "Power",
            "meta": {
                "units": "WATTS",
                "tz": "US/Pacific",
                "type": "float"
            }
        },
        "Core Spc GC5 Zone Lights Electric Power": {
            "name": "Core Spc GC5",
            "type": "Zone Lights Electric Power",
            "topic": "devices/PNNL/SMALL_OFFICE/LIGHTING/GC5/all",
            "field": "Power",
            "meta": {
                "units": "WATTS",
                "tz": "US/Pacific",
                "type": "float"
            }
        },
        "South Perim Spc TS11 Zone Lights Electric Power": {
            "name": "South Perim Spc TS11",
            "type": "Zone Lights Electric Power",
            "topic": "devices/PNNL/SMALL_OFFICE/LIGHTING/TS11/all",
            "field": "Power",
            "meta": {
                "units": "WATTS",
                "tz": "US/Pacific",
                "type": "float"
            }
        },
        "East Perim Spc TE12 Zone Lights Electric Power": {
            "name": "East Perim Spc TE12",
            "type": "Zone Lights Electric Power",
            "topic": "devices/PNNL/SMALL_OFFICE/LIGHTING/TE12/all",
            "field": "Power",
            "meta": {
                "units": "WATTS",
                "tz": "US/Pacific",
                "type": "float"
            }
        },
        "North Perim Spc TN13 Zone Lights Electric Power": {
            "name": "North Perim Spc TN13",
            "type": "Zone Lights Electric Power",
            "topic": "devices/PNNL/SMALL_OFFICE/LIGHTING/TN13/all",
            "field": "Power",
            "meta": {
                "units": "WATTS",
                "tz": "US/Pacific",
                "type": "float"
            }
        },
        "West Perim Spc TW14 Zone Lights Electric Power": {
            "name": "West Perim Spc TW14",
            "type": "Zone Lights Electric Power",
            "topic": "devices/PNNL/SMALL_OFFICE/LIGHTING/TW14/all",
            "field": "Power",
            "meta": {
                "units": "WATTS",
                "tz": "US/Pacific",
                "type": "float"
            }
        },
        "Core Spc TC15 Zone Lights Electric Power": {
            "name": "Core Spc TC15",
            "type": "Zone Lights Electric Power",
            "topic": "devices/PNNL/SMALL_OFFICE/LIGHTING/TC15/all",
            "field": "Power",
            "meta": {
                "units": "WATTS",
                "tz": "US/Pacific",
                "type": "float"
            }
        },
        "PSZ-2 East F2 Cooling Coil Cooling Coil Electric Power": {
            "name": "PSZ-2 East F2 Cooling Coil",
            "type": "Cooling Coil Electric Power",
            "topic": "devices/PNNL/SMALL_OFFICE/HP2/all",
            "field": "Power",
            "meta": {
                "units": "WATTS",
                "tz": "US/Pacific",
                "type": "float"
            }
        },
        "PSZ-1 South F2 Cooling Coil Cooling Coil Electric Power": {
            "name": "PSZ-1 South F2 Cooling Coil",
            "type": "Cooling Coil Electric Power",
            "topic": "devices/PNNL/SMALL_OFFICE/HP1/all",
            "field": "Power",
            "meta": {
                "units": "WATTS",
                "tz": "US/Pacific",
                "type": "float"
            }
        },
        "PSZ-3 North F2 Cooling Coil Cooling Coil Electric Power": {
            "name": "PSZ-3 North F2 Cooling Coil",
            "type": "Cooling Coil Electric Power",
            "topic": "devices/PNNL/SMALL_OFFICE/HP3/all",
            "field": "Power",
            "meta": {
                "units": "WATTS",
                "tz": "US/Pacific",
                "type": "float"
            }
        },
        "PSZ-4 West F2 Cooling Coil Cooling Coil Electric Power": {
            "name": "PSZ-4 West F2 Cooling Coil",
            "type": "Cooling Coil Electric Power",
            "topic": "devices/PNNL/SMALL_OFFICE/HP4/all",
            "field": "Power",
            "meta": {
                "units": "WATTS",
                "tz": "US/Pacific",
                "type": "float"
            }
        },
        "PSZ-5 Core F2 Cooling Coil Cooling Coil Electric Power": {
            "name": "PSZ-5 Core F2 Cooling Coil",
            "type": "Cooling Coil Electric Power",
            "topic": "devices/PNNL/SMALL_OFFICE/HP5/all",
            "field": "Power",
            "meta": {
                "units": "WATTS",
                "tz": "US/Pacific",
                "type": "float"
            }
        },
        "PSZ-6 South F1 Cooling Coil Cooling Coil Electric Power": {
            "name": "PSZ-6 South F1 Cooling Coil",
            "type": "Cooling Coil Electric Power",
            "topic": "devices/PNNL/SMALL_OFFICE/HP6/all",
            "field": "Power",
            "meta": {
                "units": "WATTS",
                "tz": "US/Pacific",
                "type": "float"
            }
        },
        "PSZ-7 East F1 Cooling Coil Cooling Coil Electric Power": {
            "name": "PSZ-7 East F1 Cooling Coil",
            "type": "Cooling Coil Electric Power",
            "topic": "devices/PNNL/SMALL_OFFICE/HP7/all",
            "field": "Power",
            "meta": {
                "units": "WATTS",
                "tz": "US/Pacific",
                "type": "float"
            }
        },
        "PSZ-8 North F1 Cooling Coil Cooling Coil Electric Power": {
            "name": "PSZ-8 North F1 Cooling Coil",
            "type": "Cooling Coil Electric Power",
            "topic": "devices/PNNL/SMALL_OFFICE/HP8/all",
            "field": "Power",
            "meta": {
                "units": "WATTS",
                "tz": "US/Pacific",
                "type": "float"
            }
        },
        "PSZ-9 West F1 Cooling Coil Cooling Coil Electric Power": {
            "name": "PSZ-9 West F1 Cooling Coil",
            "type": "Cooling Coil Electric Power",
            "topic": "devices/PNNL/SMALL_OFFICE/HP9/all",
            "field": "Power",
            "meta": {
                "units": "WATTS",
                "tz": "US/Pacific",
                "type": "float"
            }
        },
        "PSZ-10 Core F1 Cooling Coil Cooling Coil Electric Power": {
            "name": "PSZ-10 Core F1 Cooling Coil",
            "type": "Cooling Coil Electric Power",
            "topic": "devices/PNNL/SMALL_OFFICE/HP10/all",
            "field": "Power",
            "meta": {
                "units": "WATTS",
                "tz": "US/Pacific",
                "type": "float"
            }
        },
        "Whole Building Power": {
            "name": "Whole Building",
            "type": "Facility Total Electric Demand Power",
            "topic": "devices/PNNL/SMALL_OFFICE/METERS/all",
            "field": "WholeBuildingPower",
            "publish_last": true,
            "meta": {
                "units": "WATTS",
                "tz": "US/Pacific",
                "type": "float"
            }
        },
        "currentMonthV" : {
			"name" : "EMS",
			"type" : "currentMonthV"
		},
		"currentDayOfMonthV" : {
			"name" : "EMS",
			"type" : "currentDayOfMonthV"
		},
		"currentHourV" : {
			"name" : "EMS",
			"type" : "currentHourV"
		},
		"currentMinuteV" : {
			"name" : "EMS",
			"type" : "currentMinuteV"
		},
        "CC_Avail_1 Schedule Value": {
            "name": "CC_Avail_1",
            "type": "Schedule Value",
            "topic": "devices/PNNL/SMALL_OFFICE/HP1/all",
            "field": "FirstStageCooling",
            "meta": {
                "units": "binary",
                "tz": "US/Pacific",
                "type": "float"
            }
        },
        "CC_Avail_2 Schedule Value": {
            "name": "CC_Avail_2",
            "type": "Schedule Value",
            "topic": "devices/PNNL/SMALL_OFFICE/HP2/all",
            "field": "FirstStageCooling",
            "meta": {
                "units": "binary",
                "tz": "US/Pacific",
                "type": "float"
            }
        },
        "CC_Avail_3 Schedule Value": {
            "name": "CC_Avail_3",
            "type": "Schedule Value",
            "topic": "devices/PNNL/SMALL_OFFICE/HP3/all",
            "field": "FirstStageCooling",
            "meta": {
                "units": "binary",
                "tz": "US/Pacific",
                "type": "float"
            }
        },
        "CC_Avail_4 Schedule Value": {
            "name": "CC_Avail_4",
            "type": "Schedule Value",
            "topic": "devices/PNNL/SMALL_OFFICE/HP4/all",
            "field": "FirstStageCooling",
            "meta": {
                "units": "binary",
                "tz": "US/Pacific",
                "type": "float"
            }
        },
        "CC_Avail_5 Schedule Value": {
            "name": "CC_Avail_5",
            "type": "Schedule Value",
            "topic": "devices/PNNL/SMALL_OFFICE/HP5/all",
            "field": "FirstStageCooling",
            "meta": {
                "units": "binary",
                "tz": "US/Pacific",
                "type": "float"
            }
        },
        "CC_Avail_6 Schedule Value": {
            "name": "CC_Avail_6",
            "type": "Schedule Value",
            "topic": "devices/PNNL/SMALL_OFFICE/HP6/all",
            "field": "FirstStageCooling",
            "meta": {
                "units": "binary",
                "tz": "US/Pacific",
                "type": "float"
            }
        },
        "CC_Avail_7 Schedule Value": {
            "name": "CC_Avail_7",
            "type": "Schedule Value",
            "topic": "devices/PNNL/SMALL_OFFICE/HP7/all",
            "field": "FirstStageCooling",
            "meta": {
                "units": "binary",
                "tz": "US/Pacific",
                "type": "float"
            }
        },
        "CC_Avail_8 Schedule Value": {
            "name": "CC_Avail_8",
            "type": "Schedule Value",
            "topic": "devices/PNNL/SMALL_OFFICE/HP8/all",
            "field": "FirstStageCooling",
            "meta": {
                "units": "binary",
                "tz": "US/Pacific",
                "type": "float"
            }
        },
        "CC_Avail_9 Schedule Value": {
            "name": "CC_Avail_9",
            "type": "Schedule Value",
            "topic": "devices/PNNL/SMALL_OFFICE/HP9/all",
            "field": "FirstStageCooling",
            "meta": {
                "units": "binary",
                "tz": "US/Pacific",
                "type": "float"
            }
        },
        "CC_Avail_10 Schedule Value": {
            "name": "CC_Avail_10",
            "type": "Schedule Value",
            "topic": "devices/PNNL/SMALL_OFFICE/HP10/all",
            "field": "FirstStageCooling",
            "meta": {
                "units": "binary",
                "tz": "US/Pacific",
                "type": "float"
            }
        },
		"Dynamic_default1" : {
			"name" : "Lgt 1/0",
			"type" : "Schedule Value",
			"default" : "Lighting1"			
		},
		"Dynamic_default2" : {
			"name" : "Lgt 1/0",
			"type" : "Schedule Value",
			"default" : "Lighting2"			
		},
		"Dynamic_default3" : {
			"name" : "Lgt 1/0",
			"type" : "Schedule Value",
			"default" : "Lighting3"			
		},
		"Dynamic_default4" : {
			"name" : "Lgt 1/0",
			"type" : "Schedule Value",
			"default" : "Lighting4"			
		},
		"Dynamic_default5" : {
			"name" : "Lgt 1/0",
			"type" : "Schedule Value",
			"default" : "Lighting5"			
		},
		"Dynamic_default6" : {
			"name" : "Lgt 1/0",
			"type" : "Schedule Value",
			"default" : "Lighting6"			
		},
		"Dynamic_default7" : {
			"name" : "Lgt 1/0",
			"type" : "Schedule Value",
			"default" : "Lighting7"			
		},
		"Dynamic_default8" : {
			"name" : "Lgt 1/0",
			"type" : "Schedule Value",
			"default" : "Lighting8"			
		},
		"Dynamic_default9" : {
			"name" : "Lgt 1/0",
			"type" : "Schedule Value",
			"default" : "Lighting9"			
		},
		"Dynamic_default10" : {
			"name" : "Lgt 1/0",
			"type" : "Schedule Value",
			"default" : "Lighting10"			
		},
		"Dynamic_HPdefault1" : {
			"name" : "Cool_1",
			"type" : "Schedule Value",
			"default" : "South Perim Spc TS11_Cool 1/0"			
		},
		"Dynamic_HPdefault2" : {
			"name" : "Cool_1",
			"type" : "Schedule Value",
			"default" : "East Perim Spc TE12_Cool 1/0"			
		},
		"Dynamic_HPdefault3" : {
			"name" : "Cool_1",
			"type" : "Schedule Value",
			"default" : "North Perim Spc TN13_Cool 1/0"			
		},
		"Dynamic_HPdefault4" : {
			"name" : "Cool_1",
			"type" : "Schedule Value",
			"default" : "West Perim Spc TW14_Cool 1/0"			
		},
		"Dynamic_HPdefault5" : {
			"name" : "Cool_1",
			"type" : "Schedule Value",
			"default" : "Core Spc TC15_Cool 1/0"			
		},
		"Dynamic_HPdefault6" : {
			"name" : "Cool_1",
			"type" : "Schedule Value",
			"default" : "South Perim Spc GS1_Cool 1/0"			
		},
		"Dynamic_HPdefault7" : {
			"name" : "Cool_1",
			"type" : "Schedule Value",
			"default" : "East Perim Spc GE2_Cool 1/0"			
		},
		"Dynamic_HPdefault8" : {
			"name" : "Cool_1",
			"type" : "Schedule Value",
			"default" : "North Perim Spc GN3_Cool 1/0"			
		},
		"Dynamic_HPdefault9" : {
			"name" : "Cool_1",
			"type" : "Schedule Value",
			"default" : "West Perim Spc GW4_Cool 1/0"			
		},
		"Dynamic_HPdefault10" : {
			"name" : "Cool_1",
			"type" : "Schedule Value",
			"default" : "Core Spc GC5_Cool 1/0"			
		}		
    }
}	