{
    "H1": {
        "H1": {
            "device_topic": "PNNL/SMALL_OFFICE/HP1",
            "device_status": {
                "condition": ["FirstStageCooling"],
                "device_status_args": ["FirstStageCooling"]
            },
            "curtail_settings": {
                "point": "ZoneCoolingTemperatureSetPoint",
                "control_method": "offset",
                "offset": 1.1,
                "load": 2809.8
            }
        }
    },
    "H2": {
        "H2": {
            "device_topic": "PNNL/SMALL_OFFICE/HP2",
            "device_status": {
                "condition": ["FirstStageCooling"],
                "device_status_args": ["FirstStageCooling"]
            },
            "curtail_settings":
            {
                "point": ["PNNL/SMALL_OFFICE/HP2", "ZoneCoolingTemperatureSetPoint"],
                "control_method": "offset",
                "offset": 1.1,
                "load": 3819.8
            }
        }
    },
    "H3": {
        "H3": {
            "device_topic": "PNNL/SMALL_OFFICE/HP3",
            "device_status": {
                "condition": ["FirstStageCooling"],
                "device_status_args": ["FirstStageCooling"]
            },
            "curtail_settings":
            {
                "point": "ZoneCoolingTemperatureSetPoint",
                "control_method": "offset",
                "offset": 1.1,
                "load": 2640.2
            }
        }
    },
    "H4": {
        "H4": {
            "device_topic": "PNNL/SMALL_OFFICE/HP4",
            "device_status": {
                "condition": ["FirstStageCooling"],
                "device_status_args": ["FirstStageCooling"]
            },
            "curtail_settings": {
                "point": "ZoneCoolingTemperatureSetPoint",
                "control_method": "offset",
                "offset": 1.1,
                "load": 3915.2
            }
        }
    },
    "H5": {
        "H5": {
            "device_topic": "PNNL/SMALL_OFFICE/HP5",
            "device_status": {
                "condition": ["FirstStageCooling"],
                "device_status_args": ["FirstStageCooling"]
            },
            "curtail_settings":
            {
                "point": "ZoneCoolingTemperatureSetPoint",
                "control_method": "offset",
                "offset": 1.1,
                "load": 12000.0
            }
        }
    },
    "H6": {
        "H6": {
            "device_topic": "PNNL/SMALL_OFFICE/HP6",
            "device_status": {
                "condition": ["FirstStageCooling"],
                "device_status_args": ["FirstStageCooling"]
            },
            "curtail_settings": {
                "point": "ZoneCoolingTemperatureSetPoint",
                "control_method": "offset",
                "offset": 1.1,
                "load": 2116.3
            }
        }
    },
    "H7": {
        "H7": {
            "device_topic": "PNNL/SMALL_OFFICE/HP7",
            "device_status": {
                "condition": ["FirstStageCooling"],
                "device_status_args": ["FirstStageCooling"]
            },
            "curtail_settings": {
                "point": "ZoneCoolingTemperatureSetPoint",
                "control_method": "offset",
                "offset": 1.1,
                "load": 2840.9
            }
        }
    },
    "H8": {
        "H8": {
            "device_topic": "PNNL/SMALL_OFFICE/HP8",
            "device_status": {
                "condition": ["FirstStageCooling"],
                "device_status_args": ["FirstStageCooling"]
            },
            "curtail_settings": {
                "point": "ZoneCoolingTemperatureSetPoint",
                "control_method": "offset",
                "offset": 1.1,
                "load": 1727.42
            }
        }
    },
    "H9": {
        "H9": {
            "device_topic": "PNNL/SMALL_OFFICE/HP9",
            "device_status": {
                "condition": ["FirstStageCooling"],
                "device_status_args": ["FirstStageCooling"]
            },
            "curtail_settings": {
                "point": "ZoneCoolingTemperatureSetPoint",
                "control_method": "offset",
                "offset": 1.1,
                "load": 2852.3
            }
        }
    },
    "H10": {
        "H10": {
            "device_topic": "PNNL/SMALL_OFFICE/HP10",
            "device_status": {
                "condition": ["FirstStageCooling"],
                "device_status_args": ["FirstStageCooling"]
            },
            "curtail_settings": {
                "point": "ZoneCoolingTemperatureSetPoint",
                "control_method": "offset",
                "offset": 1.1,
                "load": 7943.5
            }
        }
    }
}