{
    "GS1": {
        "GS1": {
            "device_topic": "PNNL/SMALL_OFFICE/LIGHTING/GS1",
            "lighting_level": {
                "operation": "DimmingLevelOutput",
                "operation_type": "formula",
                "operation_args": ["DimmingLevelOutput"]
            },
            "rated_power": {
                "operation": "Power",
                "operation_type": "formula",
                "operation_args": ["Power"]
            },
            "room_type": {
                "map_key": "Private Office",
                "operation_type": "mapper",
                "dict_name": "zone_type"
            }
        }
    },
    "GE2": {
        "GE2": {
            "device_topic": "PNNL/SMALL_OFFICE/LIGHTING/GE2",
            "lighting_level": {
                "operation": "DimmingLevelOutput",
                "operation_type": "formula",
                "operation_args": ["DimmingLevelOutput"]
            },
            "rated_power": {
                "operation": "Power",
                "operation_type": "formula",
                "operation_args": ["Power"]
            },
            "room_type": {
                "map_key": "Conference Room",
                "operation_type": "mapper",
                "dict_name": "zone_type"
            }
        }
    },
    "GN3": {
        "GN3": {
            "device_topic": "PNNL/SMALL_OFFICE/LIGHTING/GN3",
            "lighting_level": {
                "operation": "DimmingLevelOutput",
                "operation_type": "formula",
                "operation_args": ["DimmingLevelOutput"]
            },
            "rated_power": {
                "operation": "Power",
                "operation_type": "formula",
                "operation_args": ["Power"]
            },
            "room_type": {
                "map_key": "Private Office",
                "operation_type": "mapper",
                "dict_name": "zone_type"
            }
        }
    },
    "GW4": {
        "GW4": {
            "device_topic": "PNNL/SMALL_OFFICE/LIGHTING/GW4",
            "lighting_level": {
                "operation": "DimmingLevelOutput",
                "operation_type": "formula",
                "operation_args": ["DimmingLevelOutput"]
            },
            "rated_power": {
                "operation": "Power",
                "operation_type": "formula",
                "operation_args": ["Power"]
            },
            "room_type": {
                "map_key": "Private Office",
                "operation_type": "mapper",
                "dict_name": "zone_type"
            }
        }
    },
    "GC5": {
        "GC5": {
            "device_topic": "PNNL/SMALL_OFFICE/LIGHTING/GC5",
            "lighting_level": {
                "operation": "DimmingLevelOutput",
                "operation_type": "formula",
                "operation_args": ["DimmingLevelOutput"]
            },
            "rated_power": {
                "operation": "Power",
                "operation_type": "formula",
                "operation_args": ["Power"]
            },
            "room_type": {
                "map_key": "Office",
                "operation_type": "mapper",
                "dict_name": "zone_type"
            }
        }
    },
    "TS11": {
        "TS11": {
            "device_topic": "PNNL/SMALL_OFFICE/LIGHTING/TS11",
            "lighting_level": {
                "operation": "DimmingLevelOutput",
                "operation_type": "formula",
                "operation_args": ["DimmingLevelOutput"]
            },
            "rated_power": {
                "operation": "Power",
                "operation_type": "formula",
                "operation_args": ["Power"]
            },
            "room_type": {
                "map_key": "Private Office",
                "operation_type": "mapper",
                "dict_name": "zone_type"
            }
        }
    },
    "TE12": {
        "TE12": {
            "device_topic": "PNNL/SMALL_OFFICE/LIGHTING/TE12",
            "lighting_level": {
                "operation": "DimmingLevelOutput",
                "operation_type": "formula",
                "operation_args": ["DimmingLevelOutput"]
            },
            "rated_power": {
                "operation": "Power",
                "operation_type": "formula",
                "operation_args": ["Power"]
            },
            "room_type": {
                "map_key": "Private Office",
                "operation_type": "mapper",
                "dict_name": "zone_type"
            }
        }
    },
    "TN13": {
        "TN13": {
            "device_topic": "PNNL/SMALL_OFFICE/LIGHTING/TN13",
            "lighting_level": {
                "operation": "DimmingLevelOutput",
                "operation_type": "formula",
                "operation_args": ["DimmingLevelOutput"]
            },
            "rated_power": {
                "operation": "Power",
                "operation_type": "formula",
                "operation_args": ["Power"]
            },
            "room_type": {
                "map_key": "Private Office",
                "operation_type": "mapper",
                "dict_name": "zone_type"
            }
        }
    },
    "TW14": {
        "TW14": {
            "device_topic": "PNNL/SMALL_OFFICE/LIGHTING/TW14",
            "lighting_level": {
                "operation": "DimmingLevelOutput",
                "operation_type": "formula",
                "operation_args": ["DimmingLevelOutput"]
            },
            "rated_power": {
                "operation": "Power",
                "operation_type": "formula",
                "operation_args": ["Power"]
            },
            "room_type": {
                "map_key": "Conference Room",
                "operation_type": "mapper",
                "dict_name": "zone_type"
            }
        }
    },
    "TC15": {
        "TC15": {
            "device_topic": "PNNL/SMALL_OFFICE/LIGHTING/TC15",
            "lighting_level": {
                "operation": "DimmingLevelOutput",
                "operation_type": "formula",
                "operation_args": ["DimmingLevelOutput"]
            },
            "rated_power": {
                "operation": "Power",
                "operation_type": "formula",
                "operation_args": ["Power"]
            },
            "room_type": {
                "map_key": "Office",
                "operation_type": "mapper",
                "dict_name": "zone_type"
            }
        }
    },
    "mappers": {
        "zone_type": {
            "Private Office": 1,
            "Office": 3,
            "Conference Room": 5,
            "Lobby": 9,
            "Restroom": 9
        }
    }
}
