{
    "building": "SMALL_OFFICE", 
    "agent_name": "light6",
    "tns": true,
    "decrease_load_only": true,
    "control_interval": 20,
    "inputs": [
        {
            "topic": "devices/PNNL/SMALL_OFFICE/HP6/all", 
            "inital_value": 0, 
            "point": "SupplyFanStatus", 
            "mapped": "occ"
        }
    ],
    "actuation_enabled_onstart": true, 
    "schedule": {
        "Monday": {
            "start": "6:00", 
            "end": "22:00"
        }, 
        "Tuesday": {
            "start": "6:00", 
            "end": "22:00"
        }, 
        "Wednesday": {
            "start": "6:00", 
            "end": "22:00"
        }, 
        "Thursday": {
            "start": "6:00", 
            "end": "22:00"
        }, 
        "Friday": {
            "start": "6:00", 
            "end": "22:00"
        }, 
        "Saturday": "always_off", 
        "Sunday": "always_off"
    },
    "model_parameters": {
        "default_lighting_schedule": {
            0: 0.15,
            1: 0.15,
            2: 0.15,
            3: 0.15,
            4: 0.15,
            5: 0.15,
            6: 0.3,
            7: 0.9,
            8: 0.9,
            9: 0.9,
            10: 0.9,
            11: 0.9,
            12: 0.9,
            13: 0.9,
            14: 0.9,
            15: 0.9,
            16: 0.3,
            17: 0.3,
            18: 0.2,
            19: 0.2,
            20: 0.3,
            21: 0.15,
            22: 0.15,
            23: 0.15
        },
        "model_type": "light.simple_profile",
        "rated_power": 1.438235
    }, 
    "actuation_enable_topic": "default", 
    "market_name": "electric", 
    "input_data_timezone": "UTC", 
    "campus": "PNNL", 
    "outputs": [
        {
            "off_setpoint": 0.15, 
            "point": "DimmingLevelOutput", 
            "flexibility_range": [
                0.9, 
                0.7
            ], 
            "offset": 0, 
            "topic": "PNNL/SMALL_OFFICE/LIGHTING/TS11/DimmingLevelOutput", 
            "mapped": "light", 
            "release": "None", 
            "actuator": "platform.actuator"
        }
    ]
}