{
    "campus": "PNNL", # if omitted defaults to ""
    "building": "SMALL_OFFICE", # if omitted defaults to ""
    "actuation_enable_topic": "default", #if omitted defaults or set to default use "campus/building/actuate"
    "device": "HP10",
    "input_data_timezone": "UTC", # if omitted defaults to "UTC"
    "actuation_enabled_onstart": true, # if omitted defaults to false
    "control_interval": 50,
    "agent_name": "hp10",
    "inputs": [
        {
            "mapped": "sfs", # mapped value does not change (for rtu agent or vav agent)
            "point": "SupplyFanStatus",
            "topic": "devices/PNNL/SMALL_OFFICE/HP10/all",
            "inital_value": 0
        },
        {
            "mapped": "oat",
            "point": "OutdoorAirTemperature",
            "topic": "devices/PNNL/SMALL_OFFICE/HP10/all",
            "inital_value": 22.8
        },

        {
            "mapped": "zt",
            "point": "ZoneTemperature",
            "topic": "devices/PNNL/SMALL_OFFICE/HP10/all",
            "inital_value": 22.8
        },
        {
            "mapped": "mclg",
            "point": "FirstStageCooling",
            "topic": "devices/PNNL/SMALL_OFFICE/HP10/all",
            "inital_value": 0
        }
    ],
    "outputs": [
        {
            "mapped": "csp",
            "point": "ZoneCoolingTemperatureSetPoint",
            "topic": "PNNL/SMALL_OFFICE/HP10/ZoneCoolingTemperatureSetPoint",
            "flexibility_range": [1.0, 0], # run time fraction at low price to high price
            "control_flexibility": [21.0, 24.6], # set point at low price to high price
            "off_setpoint": 26.7, # unoccupied or off set point
            "actuator": "platform.actuator", #if omitted defaults to "platform.actuator"
            "release": "None", # Options "None" or "default" - if omitted defaults to "None"
            "offset": 0, # if omitted defaults to 0
            "fallback": 22.8 # if omitted defaults to None
        }
    ],
    "schedule":{
        "Monday": {"start": "6:00", "end": "22:00"},
        "Tuesday": {"start": "6:00", "end": "22:00"},
        "Wednesday": {"start": "6:00", "end": "22:00"},
        "Thursday": {"start": "6:00", "end": "22:00"},
        "Friday": {"start": "6:00", "end": "22:00"},
        "Saturday": "always_off",
        "Sunday": "always_off"
    },
    "model_parameters": {
        "rated_power": 9.11,
        "model_type": "rtu.firstorderzone",
        "c3": [
            0.0,
            0.0,
            0.0,
            0.0,
            0.0,
            0.0,
            0.0010010626833860548,
            0.0036719621522777468,
            0.0053782226787779386,
            0.0034167545506356353,
            0.0009224482122501404,
            -0.0016946460484764392,
            0.0044387860683743618,
            0.0061426997885306034,
            0.0089231091745616276,
            0.005285887806086742,
            0.01426443740327657,
            0.014507781914059478,
            0.013419554913505771,
            0.01042289668673857,
            0.0097913342891955621,
            0.00034530304399299456,
            0.0,
            0.0
        ],
        "c2": [
            0.0,
            0.0,
            0.0,
            0.0,
            0.0,
            0.0,
            0.014128099014779041,
            0.085173105262326215,
            0.15219051719637339,
            0.21472211559288354,
            0.29101513038876742,
            0.34909443323697581,
            0.24967233860479057,
            0.31550728668382721,
            0.17659421944198395,
            0.32093245793559499,
            0.171113475973903,
            0.099383841852507107,
            0.10603137729971647,
            0.11282404660373231,
            0.017726789940110014,
            0.00025614375490529899,
            0.0,
            0.0
        ],
        "c1": [
            0.0,
            0.0,
            0.0,
            0.0,
            0.0,
            0.0,
            0.0015150895487125399,
            0.0052345383862540925,
            0.019754787486094039,
            0.0264132489311763,
            0.032162388371916886,
            0.035526189343881,
            -0.0020932058335653889,
            -0.0022338504203912,
            -0.034345092467598808,
            -0.027968217953065564,
            -0.042464642457831721,
            -0.047268167815307405,
            -0.040839846258968603,
            -0.032697116116698906,
            -0.018178179484284424,
            -0.0075098363227678756,
            0.0,
            0.0
        ],
        "c4": [
            0.0,
            0.0,
            0.0,
            0.0,
            0.0,
            0.0,
            -0.35135055000541637,
            -2.0068332645212328,
            -3.8817653686560134,
            -5.3769381488620507,
            -7.1320026614957994,
            -8.4376394343779477,
            -5.5178392710416002,
            -7.0342574342648101,
            -3.2816685886353341,
            -6.5450760222076738,
            -3.1883849020170554,
            -1.4714480709124245,
            -1.7379071400010833,
            -1.9734480628614326,
            -0.17172283066445559,
            0.18331813030434452,
            0.0,
            0.0
        ]
    }
}
