{
    "market_name": "electric", 
    "campus": "PNNL", 
    "building": "SMALL_OFFICE", 
    "agent_name": "UncontrollableLoad",
    "sim_flag": true,
    "devices": {
        "LIGHTING/GS1": {
            "points": [
                "Power"
            ], 
            "conversion": "Power*(0.001)"
        }, 
        "LIGHTING/GE2": {
            "points": [
                "Power"
            ], 
            "conversion": "Power*(0.001)"
        }, 
        "LIGHTING/GN3": {
            "points": [
                "Power"
            ], 
            "conversion": "Power*(0.001)"
        }, 
        "LIGHTING/GW4": {
            "points": [
                "Power"
            ], 
            "conversion": "Power*(0.001)"
        }, 
        "LIGHTING/GC5": {
            "points": [
                "Power"
            ], 
            "conversion": "Power*(0.001)"
        }, 		
        "LIGHTING/TS11": {
            "points": [
                "Power"
            ], 
            "conversion": "Power*(0.001)"
        }, 
        "LIGHTING/TE12": {
            "points": [
                "Power"
            ], 
            "conversion": "Power*(0.001)"
        }, 
        "LIGHTING/TN13": {
            "points": [
                "Power"
            ], 
            "conversion": "Power*(0.001)"
        }, 
        "LIGHTING/TW14": {
            "points": [
                "Power"
            ], 
            "conversion": "Power*(0.001)"
        }, 
        "LIGHTING/TC15": {
            "points": [
                "Power"
            ], 
            "conversion": "Power*(0.001)"
        }, 
        "HP1": {
            "points": [
                "Power"
            ], 
            "conversion": "Power*(0.001)"
        }, 
        "HP2": {
            "points": [
                "Power"
            ], 
            "conversion": "Power*(0.001)"
        }, 
        "HP3": {
            "points": [
                "Power"
            ], 
            "conversion": "Power*(0.001)"
        }, 
        "HP4": {
            "points": [
                "Power"
            ], 
            "conversion": "Power*(0.001)"
        }, 
        "HP5": {
            "points": [
                "Power"
            ], 
            "conversion": "Power*(0.001)"
        }, 
        "HP6": {
            "points": [
                "Power"
            ], 
            "conversion": "Power*(0.001)"
        }, 
        "HP7": {
            "points": [
                "Power"
            ], 
            "conversion": "Power*(0.001)"
        }, 
        "HP8": {
            "points": [
                "Power"
            ], 
            "conversion": "Power*(0.001)"
        }, 
        "HP9": {
            "points": [
                "Power"
            ], 
            "conversion": "Power*(0.001)"
        }, 
        "HP10": {
            "points": [
                "Power"
            ], 
            "conversion": "Power*(0.001)"
        }, 
        "METERS": {
            "points": [
                "WholeBuildingPower"
            ], 
            "conversion": "WholeBuildingPower*(-0.001)"
        }
    }, 
    "power_20": 20.0, 
    "power_21": 20.0, 
    "power_22": 20.0, 
    "power_23": 20.0, 
    "power_5": 12.0, 
    "power_4": 20.0, 
    "power_7": 19.0, 
    "power_6": 12.0, 
    "power_1": 20.0, 
    "power_0": 20.0, 
    "power_3": 20.0, 
    "power_2": 20.0, 
    "power_9": 19.0, 
    "power_8": 19.0, 
    "power_11": 18.0, 
    "power_10": 19.0, 
    "power_13": 19.0, 
    "power_12": 19.0, 
    "power_15": 19.0, 
    "power_14": 19.0, 
    "power_17": 12.0, 
    "power_16": 13.0, 
    "power_19": 12.0, 
    "power_18": 12.0
}