{
  "agentid": "BRSW_agent",
  "name": "BRSW",

  "market_cycle_in_min": 60,

  "max_deliver_capacity": 120,
  "demand_threshold_coef": 1.0,
  "campus_loss_factor": 0.001,
  "monthly_peak_power": 31.0,
  "ts_name": "Date",
  "weather_forecast": {
      "weather_file": "/home/volttron/volttron/volttron/TNS_building_Agent/tns/weather_data/energyplus.csv"
  },
  "duality_gap_threshold": 0.15,
  "simulation": true,
  "power_topic": "devices/PNNL/BRSW/METERS/all",
  "simulation_start_time": "2018-08-01 00:00:00",
  "simulation_one_hour_in_seconds": 1200
}
