{
    "building": "SMALL_OFFICE", 
    "agent_name": "hp4", 
    "schedule": {
        "Monday": {
            "start": "6:00", 
            "end": "22:00"
        }, 
        "Tuesday": {
            "start": "6:00", 
            "end": "22:00"
        }, 
        "Wednesday": {
            "start": "6:00", 
            "end": "22:00"
        }, 
        "Thursday": {
            "start": "6:00", 
            "end": "22:00"
        }, 
        "Friday": {
            "start": "6:00", 
            "end": "22:00"
        }, 
        "Saturday": "always_off", 
        "Sunday": "always_off"
    },  
    "actuation_method": "periodic",
    "control_interval": 300,
    "tns": true,
    "actuation_enabled_onstart": true, 
    "model_parameters": {
        "c": 10.15, 
        "rated_power": 4.57, 
        "on_min": 0, 
        "temp_db": 0.5, 
        "model_type": "rtu.rtuzone",
        "off_min": 0, 
        "c3": [
            0.0, 
            0.0, 
            0.0, 
            0.0, 
            0.0, 
            -0.12356397206608399, 
            -0.49506384032236961, 
            -5.3846783879972735, 
            -9.7118050000478515, 
            148.42069756406937, 
            79.471120758633518, 
            76.786304908872921, 
            33028.902814834997, 
            33367.273920486383, 
            684.35208617489661, 
            32485.892621777693, 
            8996.524073430066, 
            5517.9665705379102, 
            1840.8645834202841, 
            1070.4523841435027, 
            -4.0090892713795476, 
            0.0, 
            0.0, 
            0.0, 
            0.0
        ], 
        "c2": [
            0.0, 
            0.0, 
            0.0, 
            0.0, 
            0.0, 
            -2.9531789323794033, 
            -11.47334832317469, 
            -137.97852115309587, 
            -392.91475863676317, 
            -2409.0656946821036, 
            -2168.2072152037499, 
            -1653.5732973777865, 
            -1436.6844220258733, 
            -1441.556140914483, 
            -3146.1733762151644, 
            -6146.0459130189256, 
            -276.83081714105651, 
            -118.36013631129924, 
            -40.331045568265608, 
            -23.452275779751655, 
            -91.407235387453582, 
            0.0, 
            0.0, 
            0.0, 
            0.0
        ], 
        "c1": [
            0.0, 
            0.0, 
            0.0, 
            0.0, 
            0.0, 
            7.8121768351035685, 
            22.42154048732279, 
            213.49782744670037, 
            501.61699143175917, 
            2676.5075433607399, 
            2263.8541414031715, 
            1608.2378093963193, 
            115.34961683023278, 
            111.50227300185929, 
            2650.3096524285156, 
            3951.790832646253, 
            -1.9076044812650252, 
            -7.1074089902485929, 
            79.871828079129344, 
            65.670785342812266, 
            154.99054755660427, 
            0.0, 
            0.0, 
            -0.0, 
            -0.0
        ]
    }, 
    "inputs": [
        {
            "topic": "devices/PNNL/SMALL_OFFICE/HP4/all", 
            "mapped": "sfs", 
            "point": "SupplyFanStatus", 
            "inital_value": 0
        }, 
        {
            "topic": "devices/PNNL/SMALL_OFFICE/HP4/all", 
            "mapped": "oat", 
            "point": "OutdoorAirTemperature", 
            "inital_value": 22.8
        }, 
        {
            "topic": "devices/PNNL/SMALL_OFFICE/HP4/all", 
            "mapped": "zt", 
            "point": "ZoneTemperature", 
            "inital_value": 22.8
        }, 
        {
            "topic": "devices/PNNL/SMALL_OFFICE/HP4/all", 
            "mapped": "mclg", 
            "point": "FirstStageCooling", 
            "inital_value": 0
        }
    ], 
    "actuation_enable_topic": "default", 
    "outputs": [
        {
            "off_setpoint": 26.7, 
            "point": "ZoneCoolingTemperatureSetPoint", 
            "flexibility_range": [
                21.0, 
                24.6
            ], 
            "offset": 0, 
            "topic": "PNNL/SMALL_OFFICE/HP4/ZoneCoolingTemperatureSetPoint", 
            "mapped": "csp", 
            "release": "None", 
            "actuator": "platform.actuator", 
            "fallback": 22.8
        }
    ], 
    "input_data_timezone": "UTC", 
    "campus": "PNNL"
}